{% extends 'barrister/barrister-admin.html' %}
{% load static %}

{% block title %}
<title>Calendar</title>
{% endblock title %}


{% block links %}
{{ block.super }}
{% endblock links %}



{% block content %}

<main class="page-content">
  <div class="container-fluid">
    <div class="row m-0 p-0">
      <div class="col-md-4 pl-0">
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" placeholder="Axtar..">
        </div>
      </div>
      {% for group in groups %}
      <div class="col-12 list-group" data-toggle="collapse" data-target="#item_{{group.id}}">
        <div class="list-group-item d-flex justify-content-between align-items-center"><a class="text-dark" >{{group.name}}</a><i class="fas fa-angle-down"></i></div>
      </div>
      <div class="list-group col-12 rounded-0 collapse" id="item_{{group.id}}">
        {% for j in group.documents.all %}
        <div class="pl-5 list-group-item rounded-0 border-top-0 d-flex justify-content-between align-items-center"><a class="text-dark" href="{% url 'single-document-template' j.id %}">{{j.name}}</a></div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</main>

{% endblock content %}




{% block scripts %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/lib/moment.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>

<script src="{% static 'vendor/fullcalendar-3.10.0/fullcalendar.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/locale/az.js' %}"></script>
<!-- <script src="{% static 'js/fullcalendar-date.js' %}"></script> -->
<script src="{% static 'js/fullcalendar-appointments.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
  $(function() {
    $(".documentsSidebar").addClass("active");
    $(".documentsSubMenu").css("display","block")
  })
</script>
{% endblock scripts %}
</body>

</html>