{% extends 'barrister/barrister-admin.html' %}

    {% block title %}<title>Barrister Admin</title>{% endblock title %}
    {% block links %}
    {{ block.super }}  
    {% endblock links %}

    
    {% block content %}
      
    
      
<main style="font-weight: bold;" class="page-content design">
    <!-- https://codepen.io/themustafaomar/pen/jLMPKm -->
      <form enctype="multipart/form-data" method="POST">

        {% csrf_token %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 vekil_main">
                <div class="vekil_yeni_title">
                  <p><a href="">Paylaşım yarat</a></p>
                </div>
              </div>
            
          
          <div class="col-md-12 vekil_main">
                
                <div class="col-12 vekil_yeni_fikir">
                    {{ form.text }}
                    {{ form.media }}
                </div>


                <div class="col-12 main_class">
                 <div class="row">
                   <div class="col-xl-4 col-12">
                     <div class="image-upload">
                    <label for="file-input" class="label_icon">
                      <i class="fas fa-photo-video"></i>
                      
                    </label>
                    <span class="pdf_span">{{ form.fayl }}</span>
                    
                  </div>
                
                </div>

                   <div class="col-xl-4 col-12">
                    <i class="far fa-map" style="color: #3a3f48;font-size: 20px;margin-right: 10px;"></i><input class="mekan_input" type="text" placeholder="Məkan daxil edin">
                   </div>


                   <div class="col-xl-4 col-12 main_class">
                     <label for="file_input_2" class="label_icon">
                      <i class="far fa-file-word"></i>
                      
                     
                     </label>
                     <span style="color: #3a3f48;" class="pdf_span">Pdf ve bu kimi fayllar secin</span>
                    <input id="file_input_2" type="file" accept=".doc, .docx,.ppt, .pptx,.txt,.pdf">
                   </div>

                   <div class="col-12 confirm_button">
                     <button type="submit" class="btn btn-dark">Paylaşımı təstiqlə</button>
                   </div>

                 </div>
                </div>
          </div>
        </form>



              <div class="col-md-12 vekil_main " style="margin-top: 100px;">
                <div class="vekil_yeni_title">
                  <p><a href="">Son paylaşılan postlar</a></p>
                </div>
              </div>
            </div>
          </div>
          
          {% for publication in publications %}  
          <div class="container-fluid " style="padding-left: 70px;padding-right: 55px;margin-top: 40px;">
            
            <div class="row">
              <div class="col-2"></div>
              <div class="col-12 main_of_class" style="padding:0 0 20px 0px;text-align: justify;">
                <i class="far fa-user"></i><span class="title_of_post">{{ publication.user.first_name }} {{ publication.user.last_name }} </span>
                <br>
                  <em ><i class="fas fa-map-marker-alt"></i><span class="span_for_location">Azerbaijan,Baku Inshaatchilar 21.23.34</span></em>
                  <br>
                  <i class="fas fa-history history_icon"  ></i><span>{{ publication.date }}</span>
                  <br>
                <span class="span_metn_post_lorem">{{ publication.text|safe }}</span>
                  
              </div>
              
              <div class="col-12 back_img"><div class="col-12"></div>
              <br>
              <button class="btn btn-outline-dark sil_btn">Paylaşımı silin</button>
            </div>
            </div>
          </div>
          {% endfor %}
          
         
         
        
        
        

  </main>
  </div>
  {% endblock content %}

{% block scripts %} 
  {{ block.super }}  
{% endblock scripts %}
