{% extends 'barrister/barrister-base.html' %}
{% load static %}


{% block title %}
<title>Musteriler</title>
{% endblock title %}

{% block links %}
{{ block.super }}
{% endblock links %}


{% block content %}
<main class="page-content design">
  <!-- https://codepen.io/themustafaomar/pen/jLMPKm -->

  <div class="container-fluid clients-content">
    <div class="row">
      <div class="col-12 header" >
        <span>Müştərilər</span>
      </div>
      <div class="col-12  my-2">
        <div class="row">
          <div class="col-md-4 my-1">
            <div class="card">
              <div class="card-outline" style="border-top: 3px solid #007bff;">
                <div class="card-body">
                  <div class="img-in-clients shadow-lg float-left">
                    MH
                  </div>
                  <div class="client-content pl-2 mb-2 float-left">
                    <p class="modal-title text-left">Musa Hesenov</p>
                    <p class="blockquote-footer pb-1 mb-1">musahesenov02@gmail.com</p>
                    <p class="blockquote-footer pb-1 mb-1">+944559779779</p>
                    
                  </div>
                  <button class="btn btn-primary show_more_btn btn-block mt-2">Show more</button>
                </div>
              </div>
            </div>
          </div>

          

          <div class="col-md-4 my-1">
            <div class="card">
              <div class="card-outline" style="border-top: 3px solid #007bff;">
                <div class="card-body">
                  <div class="img-in-clients shadow-lg bg-success float-left">
                    AM
                  </div>
                  <div class="client-content pl-2 mb-2 float-left">
                    <p class="modal-title text-left">Azad Mammadov</p>
                    <p class="blockquote-footer pb-1 mb-1">musahesenov02@gmail.com</p>
                    <p class="blockquote-footer pb-1 mb-1">+944559779779</p>
                    
                  </div>
                  <button class="btn btn-primary show_more_btn btn-block mt-2">Show more</button>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4 my-1">
            <div class="card">
              <div class="card-outline" style="border-top: 3px solid #007bff;">
                <div class="card-body">
                  <div class="img-in-clients shadow-lg bg-info float-left">
                    A
                  </div>
                  <div class="client-content pl-2 mb-2 float-left">
                    <p class="modal-title text-left">Asim</p>
                    <p class="blockquote-footer pb-1 mb-1">musahesenov02@gmail.com</p>
                    <p class="blockquote-footer pb-1 mb-1">+944559779779</p>
                    
                  </div>
                  <button class="btn btn-primary show_more_btn btn-block mt-2">Show more</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 my-1">
            <div class="card">
              <div class="card-outline" style="border-top: 3px solid #007bff;">
                <div class="card-body">
                  <div class="img-in-clients shadow-lg bg-warning text-dark float-left">
                    A
                  </div>
                  <div class="client-content pl-2 mb-2 float-left">
                    <p class="modal-title text-left">Asim</p>
                    <p class="blockquote-footer pb-1 mb-1">musahesenov02@gmail.com</p>
                    <p class="blockquote-footer pb-1 mb-1">+944559779779</p>
                    
                  </div>
                  <button class="btn btn-primary show_more_btn btn-block mt-2">Show more</button>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4 my-1">
            <div class="card">
              <div class="card-outline" style="border-top: 3px solid #007bff;">
                <div class="card-body">
                  <div class="img-in-clients shadow-lg bg-secondary  float-left">
                    A
                  </div>
                  <div class="client-content pl-2 mb-2 float-left">
                    <p class="modal-title text-left">Asim</p>
                    <p class="blockquote-footer pb-1 mb-1">musahesenov02@gmail.com</p>
                    <p class="blockquote-footer pb-1 mb-1">+944559779779</p>
                    
                  </div>
                  <button class="btn btn-primary show_more_btn btn-block mt-2">Show more</button>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-4 my-1">
            <div class="card">
              <div class="card-outline" style="border-top: 3px solid #007bff;">
                <div class="card-body">
                  <div class="img-in-clients shadow-lg bg-dark  float-left">
                    A
                  </div>
                  <div class="client-content pl-2 mb-2 float-left">
                    <p class="modal-title text-left">Asim</p>
                    <p class="blockquote-footer pb-1 mb-1">musahesenov02@gmail.com</p>
                    <p class="blockquote-footer pb-1 mb-1">+944559779779</p>
                    
                  </div>
                  <button class="btn btn-primary show_more_btn btn-block mt-2" data-toggle="modal" data-target="#exampleModalCenter">Show more</button>
                </div>
              </div>
            </div>
          </div>


          
          
          
          
          
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content p-2">
        <div class="client-modal-information">
          <div class="header-modal">
            <div class="img-in-modal shadow-lg bg-warning  float-left">
              A
            </div>
            <div class="ml-2">
              <p class="modal-title-name p-0 mb-1">Musa Hesenov</p>
              <p class="blockquote-footer p-0 mb-1">musahesenov02@gmail.com</p>
              <p class="blockquote-footer p-0 mb-1">+1234567890</p>
            </div>
          </div>
          <hr>
          <div class="body-modal d-flex align-items-center justify-content-around">
            <div class="body-modal-part">
              <p class="p-0 mb-1">1</p>
              <p>text text</p>
            </div>
            <div class="body-modal-part">
              <p class="p-0 mb-1">1</p>
              <p>text text</p>
            </div>
            <div class="body-modal-part">
              <p class="p-0 mb-1">1</p>
              <p>text text</p>
            </div>
            <div class="body-modal-part">
              <p class="p-0 mb-1">1</p>
              <p>text text</p>
            </div>
          </div>
          <div class="form-group my-2 p-2">
            <input type="text" class="form-control" placeholder="Write Something">
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock content %}


{% block scripts %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/lib/moment.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/lib/jquery.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/fullcalendar.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/locale/az.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}