{% extends 'barrister/barrister-base.html' %}

    {% block title %}<title>Barrister Admin</title>{% endblock title %}
    {% block links %}
    {{ block.super }}  
    {% endblock links %}

    
    {% block content %}
      
    
      
<main style="font-weight: bold;" class="page-content design">
    <!-- https://codepen.io/themustafaomar/pen/jLMPKm -->
      <form enctype="multipart/form-data" method="POST">
        {{ form.media }}
        {% csrf_token %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 vekil_main">
                <div class="col-12 musteri_baslig">
                    <h3>Yeni Paylaşım</h3>
                </div> 
              </div>
            
          
          <div class="col-md-12 vekil_main">
                
                <div class="col-12 vekil_yeni_fikir">
                
                  
                  {% for field in form %}
                    {{field}}   
                    {% for error in field.errors %}
                    <div>
                    <span style="color:#dc3545; font-size: 12px; margin-left: 25px;" >{{error}}</span>
                    </div>
                    {% endfor %}
                  {% endfor %}
                    
                   

                </div>


                <div class="col-12 main_class">
                 <div class="row">
                   <div class="col-md-6 col-xs-12">
                     <div class="image-upload">
                    <label for="file-input" class="label_icon">
                      <i class="fas fa-photo-video"></i>
                    </label>
                    <!-- <span class="pdf_span">{{ form.fayl }}</span> -->
                  </div>
                </div>
                   <div class="col-md-6 col-xs-12 confirm_button">
                    <button type="submit" class="btn btn-appointment float-right">Paylaşımı təsdiqlə</button>
                  </div>
                 </div>
                </div>
          </div>
        </form>



              <div class="col-md-12 vekil_main " style="margin-top: 100px;">
                <div class="col-12 musteri_baslig">
                  <h3>Son paylaşımlar</h3>
                </div>
              </div>
            </div>
          </div>
          
           
          <div id="div" class="container-fluid " style="padding-left: 70px;padding-right: 55px;margin-top: 40px;">
            
            <div class="row">
              <div class="col-2"></div>
              <div class="col-12 main_of_class" style="padding:0 0 20px 0px;text-align: justify;">
                <i class="far fa-user"></i><span class="title_of_post">{{ publication.user.first_name }} {{ publication.user.last_name }} </span>
                <br>
                  <em ><i class="fas fa-map-marker-alt"></i><span class="span_for_location">Azerbaijan,Baku Inshaatchilar 21.23.34</span></em>
                  <br>
                  <i class="fas fa-history history_icon"  ></i><span>{{ publication.date }}</span>
                  <br>
                <span class="span_metn_post_lorem">{{ publication.text|safe }}</span>
                  
              </div>
              
              <div class="col-12 back_img"><div class="col-12"></div>
              <br>
              <button class="btn btn-outline-dark sil_btn">Paylaşımı silin</button>
            </div>
          </div>
          
          
         
         
        
        
        

  </main>
  </div>
  {% endblock content %}

{% block scripts %} 
  {{ block.super }}

  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    function copydiv(arr){
      i = 0 
      
      
      
      let original = $('#div')[0]
      original.children('span.span_metn_post_lorem').text(JSON.stringify(arr['text']))

      let clone = original.cloneNode(true)
      clone.id = 'div' + ++i
      original.parentNode.appendChild(clone)
      // $(String(clone.id)).attr('.span_metn_post_lorem').text(arr["text"])


    }

    

  $(window).scroll(function() {
    if($(window).scrollTop() == $(document).height() - $(window).height()) {
        $.ajax({
          headers: { 
            "X-CSRFToken": getCookie('csrftoken'),
            // 'Email':'azad@mail.ru',
            // 'Password':'azad12345'
          },
          method : "GET",
          url : '/api/publication',
          success : function(data){
            var arr = data['publications']
            console.log(arr[0])
            for(var i=0;i<arr.length;i++){
            copydiv(arr[i])
            }
          }
          



        });
    };
});




  </script> 
{% endblock scripts %}
