@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Noto+Sans+JP&display=swap');
body {
  /* margin: 40px 10px; */
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

/* calendar begin */
#calendar-body {
  margin:10px;
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  /* Изображение André Stämmler с сайта Pixabay  */
  background-image: url(../../static/img/law-firm-4924547_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#calendar {
  color: cornsilk;
  max-width: 900px;
  margin: 0 auto;
}
#calendar-ms {
  max-width: 900px;
  margin: 0 auto;
  height: auto;  
}
/* calendar end */

/* login page begin */
#login-body{
  background-image: url(https://cdn.pixabay.com/photo/2014/08/28/07/54/justitia-429717_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.page{
  padding: 10px 4% 10px 4%;
  border:1px solid #CDBA6D;
  border-radius: 10px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  margin: 3rem 0 3rem 0;
  box-shadow: 0px 7px 26px 2px rgba(0,0,0,0.75);
  background-color:rgba(252, 225, 146, 0.83);
}
.page input{
  width: 300px;
  outline: none;
  margin-bottom:20px;
  background-color:#e9d4b3;
  border:1px solid #CDBA6D;
  border-radius: 5px;
  padding:8px 15px;
  font-size: 15px;
  color: #404040;
  
}
.page ::placeholder{
  color: #404040;
}
.login-input {
  background-color: greenyellow;
  height: 70px;
  width: 90%;
  float: left;
}
.page .btn-group input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-right: 0px !important;
  
}
.page .btn-group div{
  cursor: pointer !important;
  border: 1px solid #CDBA6D !important;
  border-left: 0px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background-color: #e9d4b3;
  padding: 10px ;
  height: 40.5px !important;
  border:1px solid #CDBA6D;

}
.page .remember{
  width: 15px;
  font-family: 'Roboto', sans-serif;
  height: 15px;
}
.input-parent {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

#duyme{
  border: 1px solid #cdba6d; 
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  background-color: #3a3f48;
  color: #cdba6d;
  cursor: pointer;
  margin-top:10px;
  margin-bottom:10px;
  font-family: 'Roboto', sans-serif;
}
#duyme:hover{
  background-color: rgba(252,225,146,0.5);
  color: black;
  border:1px solid black;
}
#duyme:active{
  box-shadow: 2px 2px 3px #cdba6d;
  background-color: black;
  color: #cdba6d;
}
.page a{
  color: black;
}
/* login page end */


/* register page begin */
#register-body{
  /* Изображение succo с сайта Pixabay  */
  background-image: url(/static/img/hammer-620011_640.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form-wrapper{
  box-shadow: 0px 7px 26px 2px rgba(0,0,0,0.75);
  background-color: rgba(252,225,146,0.5);
  border-radius: 20px;
  border-radius: 5px;
  padding: 15px 20px 20px;
  position:relative;
  z-index:1;
}
 #form1 div input{
  background-color:#e9d4b3;
  border:1px solid #CDBA6D;
  border-radius: 8px;
  padding-left: 5px;
}
#form1 ::placeholder{
  font-weight: bold;
  opacity: 0.8;
}
#form1  select{
  background-color: #e9d4b3;
  border-radius: 8px;
}
.qeydDuyme{
  border: 1px solid #cdba6d; 
  border-radius: 15px;
  padding: 10px 5%; 
  text-align: center;
  font-size: 18px;
  background-color: black;
  color: #cdba6d;
  cursor: pointer;
}
.qeydDuyme:hover{
  background-color: rgba(252,225,146,0.5);
  color: black;
  border:1px solid black;
}
.qeydDuyme :active{
  box-shadow: 2px 2px 3px #cdba6d;
  background-color: black;
  color: #cdba6d;
}
.passdiv{
  float: left;
}
#errMessage{
  border:1px solid black;
  background-color:rgba(252,225,146,0.5);
  display:none;
  font-size:12px;
  font-weight:bold; 
  border:2px solid red;
  color:black;
}
/* register page end */


/* sidebar begin */
/* sidebar animation begin */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* sidebar animation end */

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 270px;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  height: inherit;
  position: fixed;
  left: 0;
  top: 0px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 3px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  /* padding-top: 5px; */
}

.page-wrapper .page-content > div {
  padding: 5px 40px;
}

.page-wrapper .page-content {
  /* overflow-x: hidden; */
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #31353D;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #818896;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #b8bfce;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}
/* sidebar end */

#minicalendaricon{
  height: 30px !important;
  top:14% !important;
  position: fixed;
  left: 0;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
#newevent{
  height: 30px !important;
  top:8% !important;
  position: fixed;
  left: 0;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}






/* user form editor begin */
.info-text {
	font-size: 1rem;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-box {
    background: #fff;
    width: 100%;
		box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.1);
		text-align: center;
		padding: 20px;
}

.form-container {
	display: flex;
	flex-direction: column;
}

.form-container .input-addon {
	margin-top: 1.5rem;
}

.form-element {
	margin-top: 0.8rem;
	height: 1.5rem;
	border: 1px solid #d2d6de;
	padding: 5px;
	font-size: .9rem;
}

.form-element:focus {
	outline: 1px solid #673ab7;
}

.form-element::placeholder {
	font-family: 'Raleway', sans-serif;
	font-size: .8rem;
}

.form-element.is-submit {
	height: 3rem;
	font-size: 1rem;
	line-height: normal;
	font-family: 'Raleway', sans-serif;
	background: #b6903e;
	color: #fff;
}

.input-addon {
	display: flex;
}

.input-addon > .form-element {
	margin-top: 0;
}

.input-field {
	flex: 1;
}

.input-addon-item {
	padding: 5px;
	width: 35px;
	border: 1px solid #d2d6de;
	border-left: 0;
	background: #fff;
	color: #6a6b6d;
}
.design input{
  height: 36px;
}
.news-date{
  width: 50%;
  margin-right: 3%;
}
.news-time{
  width: 47%;
}
.news-date-text{
  font-weight: bold;
}
.news-content{
  width: 100%;
}
.file_upl{
  background-color: #CDBA6D;
  padding: 5px;
  border: 1px solid #323A43;
}
.bordered_upl{
  padding: 16px 8px 27px;
  border-radius: 50px;
  margin-bottom:10px ;
}
/* user form editor end */

/* Choose file begin*/
.file-upload{display:block;text-align:left;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
/* Choose file end*/

/* User table begin */
.user-table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.user-table th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
.user-table td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}
/* for custom scrollbar for webkit browser begin*/
::-webkit-scrollbar {
    width: 6px;
} 
/* for custom scrollbar for webkit browser end*/

/* User table end */

/* Newevent begin */
.newevent button{
  margin-left: 10px;
}
.browser-default{
  width: 200px;
}
.show-select{
  width: 10%;
  background-color: #f8f9fa;
}
.reminder-select{
  width: 10%;
  background-color: #f8f9fa;
}
.header-icons{
  background-color: #f8f9fa;
}
.that{
  width: inherit;
  /* margin-top: 88px; */
  height: 50px !important;
  font-size: 25px;
}
.that2{
  width: inherit;
  /* margin-top: 30px; */
  height: 35px !important;
  font-size: 20px;
}
.that3{
  height: 35px !important;
}
.that4{
  width: 29%;
  /* margin-top: 30px; */
  margin-bottom: 6px;
  height: 35px !important;
}
.chechbox{
  height: auto !important;
}
.that5{
  width: inherit;
  /* margin-top: 88px; */
  height: 200px !important;
}
.people{
  width: inherit;
}
.that6{
  margin-left: 25px;
}
.headmain{
  margin-top: 50px;
}
/* media*/
@media screen and (max-width: 768px) {
 .reminder-select {
    width: 40%;
  }
 .show-select{
   width: 40%;
 }
 .save-btn{
   width: 48%;
 }
 .delete-btn{
   width: 48%;
 }
 .show-text{
  margin-right: 20%;
  margin-left: 5%;
 }
 .remind-text{
  margin-right: 11%;
  margin-left: 5%;
 }
 .remind-btn{
   width: 50%;
 }
}
/* Newevent end */



/*Yeni xeber elave etmek ucun*/ /*Musa*/


.sekil_label{
  padding: 10px;
  background-color: #cdba6d; 
  display: table;
  color: #fff;
  margin-bottom: 10px;
  width: 80%;
   }



.main_div input[type="file"] {
  display: none;
}
.xeber_basligi {
  display: block;
  text-align: center;
}
.text_input{
  height: 100%;
}
.soldiv {
  background-color: #42474c;
}
.main_div span {
  color: white;
}
.komp_button {
background-color: #cdba6d;
color: #42474c;
outline: none;
border-style: hidden;
margin-top: 20px;
padding: 10px 10px;
width: 80%;
margin-bottom: 10px;
margin-top: 470px;
}
/*input parts*/
.baslig_input {
  width: 80%;
  height: 40px;
  border: hidden;
  border-bottom: 2px solid #cdba6d;
  color: #42474c;
  outline: none;
  padding: 0px 5px;
}
.baslig_input:focus {
  background-color: #cdba6d;
}
.soldiv label[class="sekil_label"] {
  color: #42474c;
  cursor: pointer;
}
.main_div .komp_button,label[class="sekil_label"] {
  transition: 0.2s;
}
.main_div .komp_button:hover,label[class="sekil_label"]:hover {
  
  box-shadow: 0px 3px 3px #cdba6d;
  opacity: 1;
  width: 90%;
  
}
/*Textarea*/    
.sagdiv {
height: 750px;
padding: 0px;
}
.sagdiv textarea {
  border: 3px solid #cdba6d;
  outline: none;

}
.main_div .komp_button,label[class="sekil_label"] {
  opacity: 0.7;
}
.telefon_ucun_button {
  opacity: 0.7;
  background-color: #CDBA6D;
  padding: 5px 20px;
  width: 40%;
  transition: 0.2s !important;
  color: #333333;
  outline: none;
  border-style: hidden;
  
}
.telefon_ucun_button:hover {
width: 60%;
padding: 10px 25px;
opacity: 1;
}
.telefon_ucun_button:focus {
  outline: hidden;
}
/*Yeni xeber elave etmek ucun  Son*/ /*Musa*/



/* admin-dashboard begin */


/*Start welcome  */
.welcome {
  color: #CCC;
}
.welcome .content {
  background-color: #313348;
  padding: 15px;
  margin-top: 25px;
}
.welcome h2 {
  font-family: Calibri;
  font-weight: 100;
  margin-top: 0
}
.welcome p {
  color: #999;
}
/*End welcome  */

/* Start statistics */
.statistics {
  margin-top: 25px;
  color: #CCC;
}
.statistics .box {
  background-color: #313348;
  padding: 15px;
  overflow: hidden;
}
.statistics .box > i {
  float: left;
  color: #FFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
}
.statistics .box .info {
  float: left;
  width: auto;
  margin-left: 10px;
}
.statistics .box .info h3 {
  margin: 5px 0 5px;
  display: inline-block;
}
.statistics .box .info p {color:#BBB}

/* End statistics */

/* Start charts */
.charts {
  margin-top: 25px;
  color: #BBB
}
.charts .chart-container {
  background-color: #313348;
  padding: 15px;
}
.charts .chart-container h3 {
  margin: 0 0 10px;
  font-size: 17px;
}

/* Start statis */

.statis {
  color: #EEE;
  margin-top: 15px;
}
.statis .box {
  position: relative;
  padding: 15px;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 25px;
}
.statis .box h3:after {
  content: "";
  height: 2px;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.12);
  display: block;
  margin-top: 10px;
}
.statis .box i {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 22px;
  padding: 15px;
  top: -25px;
  left: -25px;
  background-color: rgba(255, 255, 255, 0.15);
  line-height: 60px;
  text-align: right;
  border-radius: 50%;
}

/*chart*/
.chrt3 {
  padding-bottom: 50px;
}
.chrt3 .chart-container {
  height: 350px;
  padding: 15px;
  margin-top: 25px;
}
.chrt3 .box {
  padding: 15px;
}

.main-color {
  color: #ffc107
}
.warning {background-color: #f0ad4e}
.danger {background-color: #d9534f}
.success {background-color: #5cb85c}
.inf {background-color: #5bc0de}


/* barrister-Dashboard begin */
.h3db{
  color: #7d846f;
  font-family: 'Trocchi', serif;
  font-size: 35px;
  line-height: 48px;
  margin: 0;
  text-align:center;
  font-weight: bold;
}
.chart-container{
  font-family: Verdana, sans-serif;
  background-color: #31353df7 !important;
}
.box{
  background-color: #313348d4 !important; 
}
.box15{
  background-color: #3072b9bf !important;
}
.box16{
  background-color: #d9534fcf !important;
}
.box17{
  background-color: #f0ad4eba !important;
}
.box18{
  background-color: #2f5406ad !important;
}
.notes{
  padding: 10px 5% 35px 0;
}
.settings{
}
/* barrister-Dashboard end */


/* admin-dashboard end */

/* admin-NewsList begin */
.no-outline{
   outline: none!important;
 }
/* admin-NewsList end */

/* admin-NewsList begin */
.no-outline{
   outline: none!important;
 }
/* admin-NewsList end */

/* admin-userList begin */
.pagination{
  outline: none!important;
  padding-left: 40px;
}
.page-item{
  margin-right:1% ;
}
.page-link{
  background-color: #1e2229 ;
  color: #818896;
}
.page-item.active .page-link{
  border: 1px solid #dee2e6;
}

/* admin-userList end */



/* news add and update page begin*/
.news-add-body{
  background-color: #F8F8F8;
}
#id_image{
  display: block;
  margin-top: 0.5rem;
}
.publish-button{
  background-color: #cdba6d;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 16px 44px 16px;
  border-radius: 0px;
  text-transform: uppercase;
  border: none;
  color: #fff;
  transition: all 0.25s ease;
  cursor: pointer;
  outline: none !important;
}
.publish-button:hover {
  background-color: #42474c;
    color: #fff;
}
.django-ckeditor-widget{
  display: block!important;
}
.cke_chrome{
  width: 100%!important;
}
/* media */
@media only screen and (max-width: 600px) {
.cke_chrome{
   
  }
}
/* news add and update page end*/
/* personal-information begin*/
.personal{
  font-weight: bold;
  background-image: url(https://cdn.pixabay.com/photo/2016/07/11/11/10/law-1509436_960_720.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-personal{
  background-color: #191813d4;
}
.content-personal h2{
  color: #a18432
}
.box-personal{
  background-color: #191813d4;
  padding: 15px;
}
.info-personal{
  margin-top:15px;
}
.info-personal label{
  color: #a18432;
}
.input-personal{
  width: 100%;
  background-color: #191813d4;
  color: white;
  border-color: #a18432;
}
.button-personal{
  width: 100%;
  background-color: #191813d4;
  color: #a18432;
  border-color: #a18432;
}
/* personal-information end*/


/*Advocat user html begin */
.vekil_yeni_title {
  background-color: #3a3f48;
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
  color: white;
  font-size: 18px;
}

.vekil_yeni_title a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  margin-bottom: 20px;
}
.vekil_yeni_title a:hover {
  color: #CDBA6D;


}
.vekil_main {
  padding-left: 30px;
  
}

.vekil_yeni_fikir {
  min-height: 100px;
  /* background-color: #d9534f; */
  padding:20px 0px;
}

#text_of_vekil {
  height: 200px;
  width: 100%;
  padding: 10px 10px;

}

.xeber_name {
  height: 60px;
  /* background-color: teal; */
  padding:0px;
  line-height: 60px;
}

.xeber_name input {
  height: 40px;
  width: 400px;
  outline: none;
padding-left: 10px;
  border-style: hidden;
}

.label_2 {
  background-color: #3a3f48;
  width: 400px;
}

.vekil_yeni_fikir input {
  height: 40px;
  width: 400px;
  outline: none;
padding-left: 10px;
  border-style: hidden;
  margin: 0px 0px 20px 0px;
}

.vekil_yeni_fikir button {
  border-radius: 0px;
  background-color: #3a3f48;
  margin-bottom: 20px;
  border: hidden;
  padding: 10px 20px;
  opacity: 0.7;
  transition: 0.3s;
}

.vekil_yeni_fikir button:hover {
  opacity: 1;
  background-color: #3a3f48;
}
.img_of_post {
  width: 400px;
  height: 400px;
  margin-bottom: 120px;
}

.img_of_post img {
  width: 100%;
  height: 100%;

}
.image-upload>input {
  display: none;
}
.image-upload span {
  color: #3a3f48;
}
.label_icon {
  margin: 20px 0px;
}
.label_icon i {
  font-size: 20px;
  color: #3a3f48;
  margin-right: 10px;
  cursor: pointer;
}


.label_icon span {
  color: #3a3f48;
}
.main_class .mekan_input {
  width: 80%;
  height: 40px;
  outline: none;
  border-style: hidden;
  border-bottom: 1.5px solid #3a3f48;
  margin: 10px 0px;
}

#file_input_2 {
  display: none;
}

.confirm_button button {
  border-radius: 50px;
  width: 100%;
}

.image_main {
  height: 400px;
}

.image_main_1 {
  height: 250px;
}
.metn_post {
  color: #3a3f48;
  line-height: 30px;
  text-align: justify;
}

.metn_post p {
  font-size: 20px;
  padding-bottom: 0px !important;
  
}

.tarix_1 {
  height: 50%;
  background-color: #3a3f48;
  color: #b8bfce;
  text-align: center;
  
  font-size: 20px;
  
}
.tarix_1 h6 {
  padding-top: 37px;
  line-height: 30px;
}
.metn_post em {
  font-size: 12px;
}

.metn_post em i {
  margin-right: 10px;
}
.tarix_2 {
  height: 50%;
}

.image_main_1 div[class="div_img"] {
  height: 100%;
  width: 100%;
  background-image: url(../img/hammer-620011_640.jpg);
  background-position: center;
  background-size: cover;
  background-color: #bb3939;
}
.back_img {
  height: 250px;
  padding: 0px;
}
.main_of_class span {
  color: rgb(66, 1, 13);
  font-size: 15px;
}
.main_of_class em {
  font-size: 10px;
  color: #3a3f48;
  margin-top: 10px;
  
}
.main_of_class {
  line-height: 40px;
}
.main_of_class .span_main {
  font-size: 10px;
}
.span_for_location {
  color: #3a3f48;
  font-size: 13px !important;
}

.history_icon {
  font-size: 20px;
  color: #3a3f48;
  margin-right: 10px;
}
.main_of_class i {
  font-size: 20px;
  margin-right: 10px;
}
.title_of_post {
  font-size: 20px !important;
}
.main_of_class em i {
  margin-right: 10px;
  font-size: 20px;
}
.pdf_span {
  font-size: 14px;
}
@media only screen and (max-width:360px) {
  .span_for_location {
    font-size: 12px !important;


  }
}
.sil_btn {
  padding: 10px 20px;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
}


.back_img div {
  height: 100%;
  width: 100%;
  background-image: url(../img/hammer-620011_640.jpg);
  background-position: center;
  background-size: cover;
}
.span_main {
  display: none;
  color: #b8bfce;
  padding-top: 100px;
  line-height: 30px;
}
.span_metn_post_lorem {
  font-weight: 400;
  color: rgb(66, 1, 13) !important;
}


/*Advocat user html end */

/* new-appointment begin*/
.btn-appointment{
  background-color: #cdba6d;
  display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 16px 34px 16px;
    border-radius: 0px;
    text-transform: uppercase;
    border: none;
    color: #fff;
}
.btn-appointment:hover{
  background-color: #42474c;
    color: #fff;
}
/* new-appointment end*/


/*Musteriler special begin*/
.musteri_baslig {
  height: 40px;
  line-height: 40px;
  color: #CDBA6D;
  font-size: 18px;
  text-align: center;
  background-color: #3a3f48;
  font-weight: 400;
}


.musteri_cedvel {
  min-height: 400px;
  background-color: #3a3f48;
 
  float: left;
}

.musteri_adlari {
  padding: 0px;
  
 
}

.musteri_item {
  height: 50px;
  line-height: 50px;
  color: #CDBA6D;
  border-bottom: 1px solid #CDBA6D;
  /* border-right: 1px solid #cdba6d; */
  border-left: 5px solid #F50057;
  font-weight: 500;

  
}

.musteri_telefon {
  padding: 0px;

}
.item_tel {
  padding-left: 0px;
  float: left;
  /* border-right: 1px solid #CDBA6D; */
}


.item_mail {
  float: left;
  padding-left: 15px;
}

.tel_item {
  height: 50px;
  line-height: 50px;
  color: #CDBA6D;
  border-bottom: 1px solid #CDBA6D;
  font-weight: 400;
  /* border-right: 1px solid #CDBA6D; */
}

.tel_item a {
  color: #CDBA6D;
}

.vekil_main tr {
  background-color: #F8F8F8;
  color: #42474c;
  
  font-weight: 400;
  /* border-left: 1px solid red !important; */
}
.vekil_main td {
  /* border-left: #CDBA6D 1px solid !important; */
  /* height: 40px !important; */
  /* border-top: #CDBA6D 2px solid !important; */
}

.vekil_main th {
  /* border-bottom: #CDBA6D 2px solid !important; */
}

.border_left {
  /* border-left: 5px solid #CDBA6D !important; */
}


.vekil_main tr a {
  color: #42474c;
}
/*Musteriler special end*/


/*Professional skills begin*/
.skills-title {
  background-color: rgba(189, 195, 199, 0.5);
  padding: 10px 15px;
  color: #404040;
  font-size: 20px;
}
.skills-title-self {
  color: #404040 !important;
  font-size: 20px;
}
.main-item-first {
  background-color: rgba(189, 195, 199, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
}
.class-between {
  display:  flex;
  align-items: center;
  justify-content: space-between;
}
.class-between button {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}
.main_row_perfo {
  background-color: rgba(189, 195, 199, 0.5);
}
.modal-title {
  font-size: 18px;
  color: #404040 !important;
  /* font-weight: bold; */
  /* background-color: rgba(189, 195, 199, 0.5) !important; */
  color: #404040 !important;
  text-align: center;
}
#addEducation {
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
}
#addEducation .form-control,#addSkill .form-control 
{
  box-shadow: none;
}
#addSkill {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
}
#confirmDelete, #changeEducation ,#changeSkill{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
}
.container-skills-and-education {
  background-color: rgba(189, 195, 199, 0.5);
  padding: 10px;
  margin-top: 5px;
}
.skill-time {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;

}
.icon-skill {
  font-size: 19px;
  margin-right: 5px;
  cursor: pointer;
}
.icon-skill-delete {
  color:#b90107;
}
.icon-skill-edit {
  color: seagreen;
}
.container-education {
  background-color: rgba(189, 195, 199, 0.5);
  padding: 10px;
  margin-top: 5px;
}

.range-skill {
  height: 3px;
  background-color: #eee;
  width: 80%;
}
.skill-range {
  width: 70%;
  height: 3px;
}
.range-main {
  margin-top: 5px;
}
.skill-1 {
  width: 70%;

}
.skill-2 {
  width: 20%;
}

.percent {
  font-weight: bold;
}

/*Professional skills end*/



/*email.html begin   */

.poct_title {
  height: 60px;
  background-color: rgb(15, 190, 190);
  line-height: 60px;
  font-size: 20px;
  color: #3a3f48;
  margin-bottom: 20px;
  padding: 0px;
}

.mail_left {
  min-height: 10px;
  padding-left: 0px;
  margin-bottom: 20px;
  padding-right: 5px;
}

.mail_sekil {
  height: 195px;
  width: 100%;
  background-color: red;
  background-image: url(img/hammer-620011_640.jpg);
  background-position: center;
  background-size: cover;
}

.poct_content {
  padding: 0px;
}

.poct_content div {
  padding-left: 10px;
  color: #333333;
  background-color: rgba(189, 195, 199, 1);
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  margin-top: 5px;
  line-height: 50px;
  border-bottom: 1px solid #3a3f48;
  padding-right: 0px;

}
.number_poct {
  float: right;
  
  width: 60px;
  background-color: #3a3f48 !important;
  margin-top: 0px !important;
  padding-left: 23px !important;
  color: #CDBA6D !important;
}

.middle_div {
  min-width: 100px;
  min-height: 200px;
  background-color: rgba(210, 215, 211, 1);
}
.mail_middle {
  /* background-color: #CDBA6D; */
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}
.search_mail input {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(210, 215, 211, 1);
  width: 80%;
  height: 40px;
  margin-left: 15px;
  outline: none;
  border: hidden;
  border-bottom: 1px solid #3a3f48;
}

.inbox_title span {
  font-size: 20px;
  padding-left: 15px;
}

.divforhr {
  margin-left: 15px;
}
.divforhr hr {
  width: 95%;
  border: 1px solid gray;
}
.time_inbox {
  height: 40px;
  background-color: rgba(242, 241, 239, 1);
  width: 100%;
  line-height: 40px;
  font-size: 17px;
  padding-left: 15px;
  color: #3a3f48;
  font-family: monospace;
}

.mails {
  height: 90px;
  width: 100%;
  background-color:rgba(210, 215, 211, 1);
  border-top: 1px solid rgba(242, 241, 239, 1);
  position: relative;
  padding-top: 10px;
  transition: 0.2s;
  overflow-y: auto;
  cursor: pointer;
}
.mail_img {
  height: 60px;
  margin-left: 5px;
  position: relative;
  background-image: url(../img/hammer-620011_640.jpg) !important;
  background-position: center;
  background-size: cover;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: red;
  float: left;
}

@media only screen and  (max-width:200px)
  {
    .mail_content {
      font-size: 11px !important;
    }
}


.mail_content {
  float: left;
  font-size: 11px;
  
}

.mail_content span[class="mail_name"] {
  color: #3a3f48 ;
  padding-top: 20px;
  font-size: 13px;
}

.mail_content span[class="topic_mail"] {
  font-size: 11px;
  color: rgba(108, 122, 137, 1);
}
.mails:hover {
  border-left:5px solid rgba(242, 241, 239, 1) ;
}

.mail_right {
  min-height: 650px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 0px;
  
}

.reply_main {
  width: 100%;
  height: 60px;
  background-color: ;
}

.mail_basligi {
  height: 40px;
  font-size: 17px;
  background-color: rgba(210, 215, 211, 1);
  color: #3a3f48;
  padding-left: 10px;
  line-height: 40px;
  width: 100%;
}

.mail_topic {
  width: 100%;
  height: 90px;
  background-color: rgba(149, 165, 166, 1);
  padding-top: 10px;
  /* border-bottom: 5px solid rgba(242, 241, 239, 1); */
}

.mail_sekil_yazi {
  height: 70px;
  width: 70px;
  background-color: rgba(108, 122, 137, 1);
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  color: white;
  float: left;
  margin-left: 10px;
}
.fl_left_mail {
  float: left;
  color: rgba(46, 49, 49, 1);
  margin-left: 20px;
  height: 90px;
  line-height:30px;
  font-size: 15px;
  /* font-family: ; */
}

.mail_title_tekrar {
  height: 40px;
  width: 100%;
  float: left;
  background-color: rgba(108, 122, 137, 1);
  line-height: 40px;
  padding-left: 15px;
  color: white;
  border-bottom: 1px solid white;
}

.mail_movzu_genis {
  width: 100%;
  min-height: 410px;
  background-color: rgba(210, 215, 211, 1);
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
  font-size: 16px;
  padding-top: 15px;
  text-align: justify;
  float: left;
}

.mail_movzu_genis button {
  border-radius: 0px;
  padding: 10px 40px;
}

.search_mail i {
  font-size: 25px;
  margin: 10px 0px 0px 15px ;
  cursor: pointer;
}

.reply_main {
  background-color: #F8F8F8;
  color: rgba(108, 122, 137, 1);
  line-height: 60px;
}
.reply_main i {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.reply_main i:first {
  margin-left: 75px !important;
}

@media only screen and  (max-width:600px)
  {
    .mail_title {
      font-size: 11px !important;
    };

    
}

@media only screen and (max-width:600px) {
  .mail_name {

    font-size: 15px !important;
  }
}
@media only screen and (max-width:600px) {
  .topic_mail {

    font-size: 10px !important;
  }
}
@media only screen and (max-width:600px) {
  .reply_main i {

    font-size: 7px !important;
  }
}
@media only screen and (max-width:600px) {
  .reply_main span {

    font-size: 8px !important;
  }
}
@media only screen and (max-width:600px) {
  .mail_basligi {

    font-size: 10px !important;
  }
}
@media only screen and (max-width:600px) {
  .fl_left_mail {

    font-size: 10px !important;
  }
}
@media only screen and (max-width:1344px) 
{
  .topic_mail {
    font-size: 9px !important;
  }

  .mail_basligi {
    font-size: 10px !important;
  }
  .reply_main span {
    font-size: 8px !important;
  }

  .reply_main i {
    font-size: 10px !important;
  }
}
@media only screen and (min-width:1360px) {
  .topic_mail {

    font-size: 11px !important;
  }
}

.send_main {
  width: 200px;
  height: 60px;
  line-height:60px ;
  text-align: center;
  cursor: pointer;
  background-color: #EEE;
  color: #3a3f48;
  transition: 0.2s;
}
.send_main:hover {
  
  width: 250px;
}

/*email.html end   */



/*Send mail begin  */



.main_container {
  padding-left: 70px;
}

.send_mail_title {
  height: 60px;
  background-color: #EEE;
  line-height: 60px;
  font-size: 20px;
  margin-bottom: 20px;
}
.send_mail_content {
  min-height: 400px;
  background-color: #EEE;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.send_mail_input {
  box-shadow: none !important;
}

.form-control {
  box-shadow: none !important;
}
.send_mail_input::placeholder {
  color: #3a3f48;
}

.send_mail_content textarea {
  resize: none;
  height: 400px;
  padding:15px  15px 15px 0px;
  border: none;
  text-align: justify;
  margin-left: 15px;
  width: 97%;
  background-color: #EEE;
  outline: none;
  
}

.send_mail_content textarea::placeholder {
  color: #3a3f48;
}

.send_mail_bottom {
  height: 60px;
  background-color: #F8F8F8;
  line-height: 60px;
  border-top: 2px solid #F50057;

}

.send_mail_content button {
  border-radius: 0px;
  padding: 10px 50px;
  font-size: 17px;
  margin-right: 20px;
}

.send_file_input {
  display: none;
}

.image-upload > input
{
    display: none;
}

.attach_main {
  height: 130px;
  background-color: white;
  float: left;
  padding-top: 15px;
}



/*Send mail end  */

s
/*----    Calendar appointments begin  ----*/
.client-text {
  color: gray;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 19px !important;
  background-color: rebeccapurple;
  
}

.sidebar-menu {
  font-family: 'Noto Sans JP', sans-serif !important;

}
.calendar-modal {
  padding-bottom: 0px;
  font-family: 'Noto Sans JP', sans-serif;
  /* font-size: 13px; */
}
.calendar-modal input {
  box-shadow: none !important;
  background-color: #eee;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.calendar-modal label {
  color: gray !important;
  font-size: 13px !important;
}
.calendar-modal input::placeholder  {
  color: rgba(0, 0, 0, 0.5);
}
.calendar-modal input:focus {
  background-color: #dce8fc;
  color: hsla(197, 100%, 26%, 0.91);
  border-color: hsla(197, 100%, 26%, 0.91) !important;
}
.calendar-modal input:focus input::placeholder {
  color: hsla(197, 100%, 26%, 0.91) !important;
}
.calendar-modal .dropdown-input {
  padding-right: 5px;background-origin: content-box;background-size: 10px 10px;background-repeat: no-repeat;background-position: right;background-image: url('https://geniear.com/wp-content/uploads/2017/07/down-arrow-png-hd.png');
  cursor: pointer;
}

.calendar-note {
  color: gray;
  /* cursor: pointer; */
  font-size: 13px;
}
.calendar-modal button {
  /* padding: 4px 8px !important; */
  font-size: 13px;
}

.calendar-modal .btn-light {
  background-color: #eee;
}
.begin-time-main {
  width: 100px;
  height: 200px;
  background-color: red;
  position: absolute;
  visibility: hidden;
  transition: .2s;
  opacity: 1;
}

.calendar-modal .drop .dropdown-menu {
  min-width: 10px;
  height: 200px;
  overflow: auto;
  padding: 0px;
}
.calendar-modal .times-div-3 .dropdown-menu {
  min-width: 250px;
  /* height: 200px; */
  overflow: auto;
  padding: 0px;
}

.begin-time-choices {
  height: 33px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 13px;
  padding-left: 10px;
  
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}
.times .begin-time-choices {
  padding-right: 54px;
  color: rgba(0, 0, 0, 0.5);
}

.times-2 .begin-time-choices {
  padding-right: 37px;
  
}
.begin-time-choices:hover {
  background-color: hsla(197, 100%, 50%, 0.33);
  color: hsla(197, 100%, 26%, 0.91);
}

.times-div-3 {
  min-height: 10px !important ;
}

.calendar-form-group textarea {
  max-height: 100px;
  resize: vertical;
  box-shadow: none !important;
  font-size:14px ;
  background-color: #eee;
}

.calendar-form-group textarea:focus {
 background-color: #dce8fc;
 color: hsla(197, 100%, 26%, 0.91);
 border-color: hsla(197, 100%, 26%, 0.91);
}

#time_input {
  font-size: 14px;
  background-color: #eee;
}
#time_input:focus {
  background-color: #16c7ff;
  color: hsla(197, 100%, 26%, 0.91);
  border: 1px solid hsla(197, 100%, 26%, 0.91);
}

.calendar-modal .alert {
  font-size: 13px;
  display: none;
}


/*----    Calendar appointments end    ----*/

/*Calendar date begin*/

.icon-selected {
  height: 40px;
  width: 40px;
  background-color: hsla(197, 100%, 26%, 0.91);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-content-main {
  height: 200px;
  width: 100%;
  background-color: indianred;
  position: absolute;
  top : 40px
}

.icon-select-main {
  
  height: 35px;
  min-width: 10%;
}

.icons-contents-main {
  min-width: 250px;
  padding: 10px;
}

.icons {
  width: 38px;
  height: 38px;
  /* border: 1px solid #F50057; */
  float: left;
  flex-direction: column;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-select-main div.form-control {
  padding: 0px;
};





/* calendar date end */

/*Clients begin */
.clients-content {
  font-family: 'Noto Sans JP', sans-serif !important;
}

.header {
  height: 60px;
  background-color:#eee;
  align-items: center;
  font-size: 20px;
  display: flex;
  margin-left: 16px !important;
  color: #303f48;
}

.img-in-clients {
  height: 70px;
  width: 70px;
  background-color: #F50057;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  /* font-weight: bold; */
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  
}

.show_more_btn {
  font-size: 13px;
  padding: 4px 8px;
  font-family: 'Noto Sans JP', sans-serif !important;
  /* border-radius: 0px; */
}

.client-modal-information .header-modal {
  height: 80px;
  width: 100%;
  padding: 5px 15px;
  display: flex;
  /* align-items: center; */
  /* background-color: #eee; */
}

.client-modal-information .modal-title {
  font-size: 15px;

}

.img-in-modal {
  height: 65px;
  width: 65px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #303f48;
  justify-content: center;
}

.client-modal-information .modal-title-name {
  font-size: 16px;
}

.body-modal-part {
  width: 25%;
  height: 60px;
  padding: 10px 0px;
  /* background-color: rebeccapurple; */
  text-align: center;
}


.hidden_informations {
  min-height: 40px;
  width: 100%;
  color: #555;
  /* background-color: red; */
}

.hidden_informations input.form-control {
  box-shadow: none;
  background-color: #eee;
  font-size: 13px;
}

.hidden_informations input.form-control:focus {
  background-color: #dce8fc;
  border: 1px solid hsla(197, 100%, 26%, 0.91);
  color: hsla(197, 100%, 26%, 0.91);
}

.hidden_informations .part-main {
  height: 50px;
  width: 100%;
  /* background-color: hsla(197, 100%, 26%, 0.91); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden_informations .parts {
  height: 100%;
  width: 25%;
  font-size: 13px;
  display: flex;
  
  align-items: center;
  text-align: center;
  justify-content: center;
}

.nearest-reservations {
  min-height: 80px;
  width: 100%;
  /* background-color: hsla(197, 100%, 50%, 0.33); */
}

.nearest-reservations .differ-time {
  font-size: 11px;
  color: gray;
}

.nearest-reservations .bold-text {
  font-weight: bold;
}

.nearest-reservations .names-main {
  border-left: 3px solid #007bff;
  padding-left: 10px;
  font-size: 12px;
}

.nearest-reservations .hours_main {
  font-size: 13px;
}
/*Clients end */


.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.auto-img {
  width: 48px;
  height: 48px;
  background-color: #10773d;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
}

.auto_name {
  display: none;
}

.auto-information {
  display: none;
}

.clients-content {
  font-family: 'Noto Sans JP', sans-serif !important;
}

/* Laws begin */
.btn-law {
  font-size: 13px;
  padding: 5px 15px;
}

.law_left_main {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  color: #3a3f48;
}

.laws_content .form-control {
  background-color: #eee;
  box-shadow: none;
  font-size: 14px;
}

.laws_content .form-control:focus {
  background-color: #dce8fc;
  border-color: hsla(197, 100%, 26%, 0.91);
  color: hsla(197, 100%, 26%, 0.91);
}

.divScroll-institution label {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;

}

.divScroll-institution label input {
  margin-right: 5px;
}
/* Laws end */


.page-wrapper .page-content > div {
  padding: 0px 0px 0px 0px;
}
.header {
  display: none;
}


/* Social activity begin */
.headerMain {
  background-color: #eee;
  color: #3a3f48;
  padding: 10px;
  font-size: 18px;
} 

/* Social activity end */


#sendMailButton {
  background-color: #cdba6d;
  padding: 6px;
  border-color: #cdba6d;
  font-size: 13px;
}

#preLoader {
  display: flex;
}

.mailListGroup {
  user-select: none;
}

/* Email content begin */

.mailContainer {
  width: 100%;
  height: 100vh;
  background-image: url("./mail.jpg");
  background-color: #007bff;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.mailContainer .col-md-4, .mailContainer .col-md-8 {
  float: left;
  
}

.mailContainer .inboxHeader {
  min-height: 20vh;
  background-color: green;
  /* padding-left: 15px; */
}
.mailContainer .inboxHeader .btn {
  background-color: #cdba6d;
  border-color: #cdba6d;
}

.mailContainer .inboxContent {
  height:75vh;
  background-color: red;
  /* overflow: auto; */

}

/* Email content end   */