@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.hidden_informations {
    /* visibility: hidden; */
    /* opacity: 0; */
    display: none;
    transition: 0.3s;
}



#clients_modal {
    font-family:  'Noto Sans JP', sans-serif !important;
    font-size: 14px;
}

.show_more_btn {
    background-color: #eee;
    border: 1px solid #ddd;
}

#clients_modal input.form-control,#clients_modal textarea.form-control {
    background-color: #eee;
    box-shadow: none;
    font-size: 14px;
    color: gray;
}
#clients_modal input.form-control:focus,#clients_modal textarea.form-control:focus {
    background-color: #dce8fc;
    border: 1px solid hsla(197, 100%, 26%, 0.91);
    color: hsla(197, 100%, 26%, 0.91);
}

#clients_modal button {
    padding: 6px 15px;
    font-size: 13px;
}

.save_btn_clients {
    background-color: #eee !important;
    border: 1px solid #ddd !important;
    padding: 4px;
    box-shadow: none !important;
    font-size: 13px;
}

.emailImage {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}

.mailContent {
    float: left;
    font-size: 1.25rem;
    margin-left: 5px;
}

.emailFiles {
    width: 140px;
    height: 140px;
    border-radius: 4px;
    background-color: #dc3545;
    float: left;
    margin-right: 5px;
}

.emailButtonGroups div{
    float: left;
    background-color: #eee;
    width: 35px;
    height: 35px;
    display: flex;
    box-shadow: 4px 4px 40px #ddd;
    align-items: center;
    border: 1px solid #ddd;
    justify-content: center;
    border-radius: 3px;
}

.noRounded2 {
    margin-right: 5px;
}

.noRounded1 {
    margin-right: 5px;
    cursor: pointer;
}

.mailListGroup:hover {
    background-color: #eee;
} 

.defaultMail {
    display: none;
}

.insteadMailImage {
    height: 100vh;
    border-top: 3px solid #cdba6d;
    background-color: #eee;
    /* border-radius: 5px; */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #303f48;
    font-size: 30px;
    background-image: url("./mail.jpg");
    background-position: center;
    background-size: cover;
}

.main-content {
    width: 100%;
    height: 100vh;
    
}

.document-iframe {
    width: 100%;
    height: 100%;
}