{% extends 'base.html' %}
{% load static %}

{% load filters %}


{% block title %}
<title>Mağaza &#8211; barrister</title>
{% endblock %}

{% block links %}
<meta charset="UTF-8">
<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
<link rel="profile" href="https://gmpg.org/xfn/11">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script> 'use strict'; (function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
<meta name='robots' content='noindex,nofollow' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="barrister &raquo; beslemesi" href="/feed/" />
<link rel="alternate" type="application/rss+xml" title="barrister &raquo; yorum beslemesi" href="/comments/feed/" />
<link rel='stylesheet' id='wp-block-library-css' href="{% static 'content_css/style.min.css' %}" media='all' />
<link rel='stylesheet' id='wc-block-style-css' href="{% static 'content_css/woocommerce_css/style.css' %}" media='all' />
<link rel='stylesheet' id='contact-form-7-css' href="{% static 'content_css/styles.css' %}" media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css' href="{% static 'content_css/rs6.css' %}" media='all' />
<style id='rs-plugin-settings-inline-css'>
  #rs-demo-id {}
</style>
<link rel='stylesheet' id='font-awesome-css' href="{% static 'content_css/font-awesome.min.css' %}" media='all' />
<link rel='stylesheet' id='themify-css' href="{% static 'content_css/themify-icons.css' %}" media='all' />
<link rel='stylesheet' id='vc_linecons-css' href="{% static 'content_css/vc_linecons_icons.min.css' %}" media='all' />
<link rel='stylesheet' id='woocommerce-layout-css' href="{% static 'content_css/woocommerce_css/woocommerce-layout.css' %}" media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'
  href="{% static 'content_css/woocommerce_css/woocommerce-smallscreen.css' %}" media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css' href="{% static 'content_css/woocommerce_css/woocommerce.css' %}"
  media='all' />
<style id='woocommerce-inline-inline-css'>
  .woocommerce form .form-row .required {
    visibility: visible;
  }
</style>
<link rel='stylesheet' id='themestek-cs-google-fonts-css'
  href='//fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPlayfair+Display%3A400%2Citalic%2C700%2C700italic%2C900%2C900italic%7CNunito+Sans%3A700&#038;ver=1.0.0'
  media='all' />
<link rel='stylesheet' id='themestek-base-icons-css' href="{% static 'content_css/themestek-attorco-icons.css' %}"
  media='all' />
<link rel='stylesheet' id='perfect-scrollbar-css' href="{% static 'content_css/perfect-scrollbar.min.css' %}" media='all' />
<link rel='stylesheet' id='chrisbracco-tooltip-css' href="{% static 'content_css/chrisbracco-tooltip.min.css' %}"  media='all' />
<link rel='stylesheet' id='multi-columns-row-css' href="{% static 'content_css/multi-columns-row.css' %}" media='all' />
<link rel='stylesheet' id='select2-css' href="{% static 'content_css/select2.min.css' %}" media='all' />
<link rel='stylesheet' id='flexslider-css' href="{% static 'content_css/flexslider.min.css' %}" media='all' />
<link rel='stylesheet' id='slick-css' href="{% static 'content_css/slick.css' %}" media='all' />
<link rel='stylesheet' id='slick-theme-css' href="{% static 'content_css/slick-theme.css' %}" media='all' />
<link rel='stylesheet' id='prettyphoto-css' href="{% static 'content_css/prettyPhoto.min.css' %}" media='all' />
<link rel='stylesheet' id='bootstrap-css' href="{% static 'content_css/bootstrap.min.css' %}" media='all' />
<link rel='stylesheet' id='bootstrap-theme-css' href="{% static 'content_css/bootstrap-theme.min.css' %}" media='all' />
<link rel='stylesheet' id='attorco-core-style-css' href="{% static 'content_css/core.css' %}" media='all' />
<link rel='stylesheet' id='js_composer_front-css' href="{% static 'content_css/js_composer.min.css' %}" media='all' />
<link rel='stylesheet' id='attorco-master-style-css' href="{% static 'content_css/master-advanced.css' %}" media='all' />
<link rel='stylesheet' id='attorco-responsive-style-css' href="{% static 'content_css/responsive-advanced.css' %}"  media='all' />
<link rel='stylesheet' href="{% static 'content_css/admin_style.css' %}" media='all' />
<!-- <link rel='stylesheet' id='tste-attorco-theme-style-css'  href='wp-admin/admin-ajax.php?action=themestek_theme_css&amp;ver=5.3.2'  media='all' /> -->
<script src="{% static 'content_js/jquery.js' %}"></script>
<script src="{% static 'content_js/jquery-migrate.min.js' %}"></script>
<script src="{% static 'content_js/revolution.tools.min.js' %}"></script>
<script src="{% static 'content_js/rs6.min.js' %}"></script>
<script src="{% static 'content_js/jquery-resize.min.js' %}"></script>
<script src="{% static 'content_js/jquery.blockUI.min.js' %}"></script>
<script>
  /* <![CDATA[ */
  var wc_add_to_cart_params = { "ajax_url": "\/barrister\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/barrister\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "Sepeti g\u00f6r\u00fcnt\u00fcle", "cart_url": "http:\/\/localhost\/barrister\/sepet\/", "is_cart": "", "cart_redirect_after_add": "no" };
/* ]]> */
</script>
<script src="{% static 'content_js/add-to-cart.min.js' %}"></script>
<script src="{% static 'content_js/woocommerce-add-to-cart.js' %}"></script>
<link rel='https://api.w.org/' href='/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
<meta name="generator" content="WordPress 5.3.2" />
<meta name="generator" content="WooCommerce 4.0.1" />
<link rel="canonical" href="/magaza/" />
<link rel='shortlink' href='/?p=11645' />
<link rel="alternate" type="application/json+oembed"
  href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fbarrister%2Fmagaza%2F" />
<link rel="alternate" type="text/xml+oembed"
  href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fbarrister%2Fmagaza%2F&#038;format=xml" />
<!-- Inline CSS Start -->
<!-- Inline CSS End --> <noscript>
  <style>
    .woocommerce-product-gallery {
      opacity: 1 !important;
    }
  </style>
</noscript>
<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
<meta name="generator"
  content="Powered by Slider Revolution 6.1.7 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<script>function setREVStartSize(e) {
    try {
      var pw = document.getElementById(e.c).parentNode.offsetWidth,
        newh;
      pw = pw === 0 || isNaN(pw) ? window.innerWidth : pw;
      e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
      e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
      e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
      e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
      e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
      e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
      e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
      if (e.layout === "fullscreen" || e.l === "fullscreen")
        newh = Math.max(e.mh, window.innerHeight);
      else {
        e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
        for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
        e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
        e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
        for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];

        var nl = new Array(e.rl.length),
          ix = 0,
          sl;
        e.tabw = e.tabhide >= pw ? 0 : e.tabw;
        e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
        e.tabh = e.tabhide >= pw ? 0 : e.tabh;
        e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
        for (var i in e.rl) nl[i] = e.rl[i] < window.innerWidth ? 0 : e.rl[i];
        sl = nl[0];
        for (var i in nl) if (sl > nl[i] && nl[i] > 0) { sl = nl[i]; ix = i; }
        var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);

        newh = (e.type === "carousel" && e.justify === "true" ? e.gh[ix] : (e.gh[ix] * m)) + (e.tabh + e.thumbh);
      }

      if (window.rs_init_css === undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
      document.getElementById(e.c).height = newh;
      window.rs_init_css.innerHTML += "#" + e.c + "_wrapper { height: " + newh + "px }";
    } catch (e) {
      console.log("Failure at Presize of Slider:" + e)
    }
  };</script>
<noscript>
  <style>
    .wpb_animate_when_almost_visible {
      opacity: 1;
    }
  </style>
</noscript>
{% endblock %}

{% block body %}
<body
  class="page-template-default page page-id-11645 theme-attorco woocommerce woocommerce-page woocommerce-no-js themestek-headerstyle-classic-overlay themestek-wide themestek-sidebar-true themestek-sidebar-right wpb-js-composer js-comp-ver-6.1 vc_responsive">
  <div id="themestek-home"></div>
  <div class="main-holder">
    <div id="page" class="hfeed site">
      {% block header %}
      <header id="masthead"
        class="themestek-header-style-classic themestek-header-overlay themestek-main-menu-total-7 themestek-main-menu-more-than-six">
        <div class="themestek-header-block  themestek-mmenu-active-color-skin themestek-dmenu-active-color-skin">
          <div class="themestek-search-overlay">
            <div class="themestek-form-title">Hi, How Can We Help You?</div>
            <div class="themestek-icon-close"></div>
            <div class="themestek-search-outer">
              <div class="themestek-search-logo"><img
                  src="http://attorco.themestek2.com/demo1/wp-content/uploads/sites/4/2019/07/logo-white.png"
                  alt="barrister" /></div>
              <form method="get" class="themestek-site-searchform" action="">
                <input type="search" class="field searchform-s" name="s" placeholder="Type Word Then Press Enter" />
                <button type="submit"><span class="themestek-attorco-icon-search"></span></button>
              </form>
            </div>
          </div>
          <div id="themestek-stickable-header-w-main" class="themestek-stickable-header-w-main">
            {% block pre-header %}
              {{ block.super }}
            {% endblock %}
            {% block header-navigation %}
              {{ block.super }}
            {% endblock %}
          </div>
          {% block header-content %}
          <div
            class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes">
            <div class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"></div>
            <div class="themestek-titlebar entry-header">
              <div class="themestek-titlebar-inner-wrapper">
                <div class="themestek-titlebar-main">
                  <div class="container">
                    <div class="themestek-titlebar-main-inner">
                      <div class="entry-title-wrapper">
                        <div class="container">
                          <h1 class="entry-title"> Mağaza</h1>
                        </div>
                      </div>
                      <div class="breadcrumb-wrapper">
                        <div class="container">
                          <div class="breadcrumb-wrapper-inner">
                            <!-- Breadcrumb NavXT output --><span><a title="Go to barrister." href="" class="home"><i
                                  class="fa fa-home"></i><span class="hide">barrister</span></a></span> <span
                              class="themestek-bread-sep"> &nbsp; &rarr; &nbsp;</span><span
                              class="post post-page current-item">Mağaza</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- .themestek-titlebar-main -->
              </div><!-- .themestek-titlebar-inner-wrapper -->
            </div><!-- .themestek-titlebar -->
          </div><!-- .themestek-titlebar-wrapper -->
          {% endblock %}
        </div>
      </header><!-- .site-header -->
      {% endblock %}

      {% block content %}
      <div id="content-wrapper" class="site-content-wrapper">
        <div id="content" class="site-content container">
          <div id="content-inner" class="site-content-inner row multi-columns-row">
            <div id="primary" class="content-area col-md-9 col-lg-9 col-xs-12 ">
              <main id="main" class="site-main">
                <header class="woocommerce-products-header">
                </header>
                <div class="woocommerce-notices-wrapper"></div>
                <p class="woocommerce-result-count">
                  Gösterilen sonuç sayısı: {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}.</p>
                <!-- <form class="woocommerce-ordering" method="get" data-select2-id="5">
                  <select name="orderby" class="orderby select2-hidden-accessible" aria-label="Sipariş" tabindex="-1"
                    aria-hidden="true" data-select2-id="1">
                    <option value="menu_order" selected="selected" data-select2-id="3">Varsayılan Sıralama</option>
                    <option value="popularity" data-select2-id="6">En çok incelenene göre sırala</option>
                    <option value="rating" data-select2-id="7">En çok oy alana göre sırala</option>
                    <option value="date" data-select2-id="8">En yeniye göre sırala</option>
                    <option value="price" data-select2-id="9">Fiyata göre sırala: Düşükten yükseğe</option>
                    <option value="price-desc" data-select2-id="10">Fiyata göre sırala: Yüksekten düşüğe</option>
                  </select> -->
                  <!-- <span
                    class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
                    dir="ltr" data-select2-id="2" style="width: 1px;"><span class="selection"><span
                        class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true"
                        aria-expanded="false" tabindex="-1" aria-labelledby="select2-orderby-6h-container"><span
                          class="select2-selection__rendered" id="select2-orderby-6h-container" role="textbox"
                          aria-readonly="true" title="Varsayılan Sıralama">Varsayılan Sıralama</span><span
                          class="select2-selection__arrow" role="presentation"><b
                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                      aria-hidden="true"></span></span> -->
                  <!-- <input type="hidden" name="paged" value="1">
                </form> -->
                <br><br><br>
                <ul class="products columns-3">
                  {% for product in page_obj %}
                  <li class="product type-product post-11653 status-publish last instock product_cat-aksesuarlar has-post-thumbnail shipping-taxable purchasable product-type-simple">
                    <a href="#"
                      class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="300" height="300"
                      src="{{product.image.url}}"
                      class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                      alt="Image by Jagrit Parajuli from Pixabay"
                      srcset="{{product.image.url}}"
                      sizes="(max-width: 300px) 100vw, 300px" data-id="11656">
                    <h2 class="woocommerce-loop-product__title">{{product.title}}</h2>
                    <span class="price">
                    {% if product|has_discounted_price %}
                      <del>
                        <span class="woocommerce-Price-amount amount">
                          <span class="woocommerce-Price-currencySymbol">AZN</span>
                          {{product.price}}
                        </span>
                      </del> 
                      <ins><span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">AZN</span>
                        {{product.discounted_price}}
                      </span></ins>
                    </span>
                    {% else %}
                      <span class="price"><span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">AZN</span>
                        {{product.price}}
                      </span>
                    {% endif %}
                    </span>
                      
                  </a><a href="?add-to-cart=11655" data-quantity="1"
                    class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="11655"
                    data-product_sku="" aria-label="“Klassik geyim” ürününü sepete ekle" rel="nofollow">Sepete
                    Ekle</a></li>  
                  {% endfor %}
                  <!-- <li
                    class="product type-product post-11655 status-publish first instock product_cat-umumi has-post-thumbnail shipping-taxable purchasable product-type-simple">
                    <a href="http://localhost/barrister/urun/klassik-geyim/"
                      class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="300" height="300"
                        src="/media/product/table.jpg"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                        alt="Image by Jagrit Parajuli from Pixabay"
                        srcset="/media/product/table.jpg"
                        sizes="(max-width: 300px) 100vw, 300px" data-id="11656">
                      <h2 class="woocommerce-loop-product__title">Klassik geyim</h2>
                      <span class="price"><span class="woocommerce-Price-amount amount"><span
                            class="woocommerce-Price-currencySymbol">AZN</span>15.00</span></span>
                    </a><a href="?add-to-cart=11655" data-quantity="1"
                      class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="11655"
                      data-product_sku="" aria-label="“Klassik geyim” ürününü sepete ekle" rel="nofollow">Sepete
                      Ekle</a></li>
                  <li
                    class="product type-product post-11649 status-publish instock product_cat-kreslolar has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                    <a href="http://localhost/barrister/urun/kreslo/"
                      class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                      <span class="onsale">İndirim!</span>
                      <img width="300" height="300"
                        src="/media/product/table.jpg"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                        alt="Image by OpenClipart-Vectors from Pixabay"
                        srcset="/media/product/table.jpg"
                        sizes="(max-width: 300px) 100vw, 300px" data-id="11652">
                      <h2 class="woocommerce-loop-product__title">Kreslo</h2>
                      <span class="price"><del><span class="woocommerce-Price-amount amount"><span
                              class="woocommerce-Price-currencySymbol">AZN</span>123.00</span></del> <ins><span
                            class="woocommerce-Price-amount amount"><span
                              class="woocommerce-Price-currencySymbol">AZN</span>120.00</span></ins></span>
                    </a><a href="?add-to-cart=11649" data-quantity="1"
                      class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="11649"
                      data-product_sku="" aria-label="“Kreslo” ürününü sepete ekle" rel="nofollow">Sepete Ekle</a></li>
                  <li
                    class="product type-product post-11653 status-publish last instock product_cat-aksesuarlar has-post-thumbnail shipping-taxable purchasable product-type-simple">
                    <a href="http://localhost/barrister/urun/qelem-ve-qeyd-defteri/"
                      class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><img width="300" height="300"
                        src="/media/product/table.jpg"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                        alt="Image by FiveFlowersForFamilyFirst from Pixabay"
                        srcset="/media/product/table.jpg"
                        sizes="(max-width: 300px) 100vw, 300px" data-id="11654">
                      <h2 class="woocommerce-loop-product__title">Qələm və qeyd dəftəri</h2>
                      <span class="price"><span class="woocommerce-Price-amount amount"><span
                            class="woocommerce-Price-currencySymbol">AZN</span>15.00</span></span>
                    </a><a href="?add-to-cart=11653" data-quantity="1"
                      class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="11653"
                      data-product_sku="" aria-label="“Qələm və qeyd dəftəri” ürününü sepete ekle" rel="nofollow">Sepete
                      Ekle</a></li> -->
                </ul>
              </main>
            </div>
            <aside id="sidebar-right" class="widget-area col-md-3 col-lg-3 col-xs-12 sidebar">
              <aside id="search-3" class="widget widget_search">
                <div class="widget-as-link ">
                  <form role="search" method="get" class="search-form" action="http://localhost/barrister/">
                    <label>
                      <span class="screen-reader-text">Arama:</span>
                      <input type="search" class="search-field" placeholder="Ara …" value="" name="s">
                    </label>
                    <input type="submit" class="search-submit" value="Ara">
                  </form>
                </div>
              </aside>
              <aside id="woocommerce_product_categories-3" class="widget woocommerce widget_product_categories">
                <div class="widget-as-link ">
                  <h3 class="widget-title">Ürün kategorileri</h3>
                  <ul class="product-categories">
                    <li class="cat-item cat-item-40">
                      <a href="{% url 'shop' %}">Hamisi</a>
                    </li>
                    {% for category in categories %}
                    <li class="cat-item cat-item-40">
                      <a href="{% url 'shop' category.slug %}">{{category.name}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </aside>
              <aside id="woocommerce_products-3" class="widget woocommerce widget_products">
                <div class="widget-as-link ">
                  <h3 class="widget-title">Ürünler</h3>
                  <ul class="product_list_widget">
                    <li>

                      <a href="http://localhost/barrister/urun/klassik-geyim/">
                        <img width="300" height="300"
                          src="http://localhost/barrister/wp-content/uploads/2020/04/suit-4558480_640-300x300.png"
                          class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                          alt="Image by Jagrit Parajuli from Pixabay"
                          srcset="http://localhost/barrister/wp-content/uploads/2020/04/suit-4558480_640-300x300.png 300w, http://localhost/barrister/wp-content/uploads/2020/04/suit-4558480_640-150x150.png 150w, http://localhost/barrister/wp-content/uploads/2020/04/suit-4558480_640-100x100.png 100w"
                          sizes="(max-width: 300px) 100vw, 300px" data-id="11656"> <span class="product-title">Klassik
                          geyim</span>
                      </a>


                      <span class="woocommerce-Price-amount amount"><span
                          class="woocommerce-Price-currencySymbol">AZN</span>15.00</span>
                    </li>
                    <li>

                      <a href="http://localhost/barrister/urun/qelem-ve-qeyd-defteri/">
                        <img width="300" height="300"
                          src="http://localhost/barrister/wp-content/uploads/2020/04/notebook-2282300_640-300x300.png"
                          class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                          alt="Image by FiveFlowersForFamilyFirst from Pixabay"
                          srcset="http://localhost/barrister/wp-content/uploads/2020/04/notebook-2282300_640-300x300.png 300w, http://localhost/barrister/wp-content/uploads/2020/04/notebook-2282300_640-150x150.png 150w, http://localhost/barrister/wp-content/uploads/2020/04/notebook-2282300_640-600x600.png 600w, http://localhost/barrister/wp-content/uploads/2020/04/notebook-2282300_640-100x100.png 100w, http://localhost/barrister/wp-content/uploads/2020/04/notebook-2282300_640.png 640w"
                          sizes="(max-width: 300px) 100vw, 300px" data-id="11654"> <span class="product-title">Qələm və
                          qeyd dəftəri</span>
                      </a>


                      <span class="woocommerce-Price-amount amount"><span
                          class="woocommerce-Price-currencySymbol">AZN</span>15.00</span>
                    </li>
                    <li>

                      <a href="http://localhost/barrister/urun/kreslo/">
                        <img width="300" height="300"
                          src="http://localhost/barrister/wp-content/uploads/2020/04/armchair-160499_640-300x300.png"
                          class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                          alt="Image by OpenClipart-Vectors from Pixabay"
                          srcset="http://localhost/barrister/wp-content/uploads/2020/04/armchair-160499_640-300x300.png 300w, http://localhost/barrister/wp-content/uploads/2020/04/armchair-160499_640-150x150.png 150w, http://localhost/barrister/wp-content/uploads/2020/04/armchair-160499_640-100x100.png 100w"
                          sizes="(max-width: 300px) 100vw, 300px" data-id="11652"> <span
                          class="product-title">Kreslo</span>
                      </a>


                      <del><span class="woocommerce-Price-amount amount"><span
                            class="woocommerce-Price-currencySymbol">AZN</span>123.00</span></del> <ins><span
                          class="woocommerce-Price-amount amount"><span
                            class="woocommerce-Price-currencySymbol">AZN</span>120.00</span></ins>
                    </li>
                  </ul>
                </div>
              </aside>
            </aside><!-- #sidebar-right -->
          </div><!-- .site-content-inner -->
          <!-- pagination begin -->
      <ul class="pagination mt-3">        
        {% if page_obj.number > 1 %}
          <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}"><</a></li>
        {% endif %}
        {% for page in page_obj|get_page_list %}
          {% if page == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.number < page_obj.paginator.num_pages %}
          <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">></a></li>
        {% endif %}        
      </ul>
      <!-- pagination end -->
        </div><!-- .site-content -->
      </div>
      {% endblock %}

      {% block footer %}
        {{ block.super }}
      {% endblock %}
    </div><!-- #page .site -->
  </div><!-- .main-holder -->
  <!-- To Top -->
  <a id="totop" href="#top"><i class="themestek-attorco-icon-angle-up"></i></a>

  {% block scripts %}
  <script>(function () {
      function maybePrefixUrlField() {
        if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
          this.value = "http://" + this.value;
        }
      }

      var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
      if (urlFields) {
        for (var j = 0; j < urlFields.length; j++) {
          urlFields[j].addEventListener('blur', maybePrefixUrlField);
        }
      }
    })();</script>
  <script>
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
  </script>
  <script>
    /* <![CDATA[ */
    var wpcf7 = { "apiSettings": { "root": "http:\/\/localhost\/barrister\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
/* ]]> */
  </script>
  <script src="{% static 'content_js/cf_js/scripts.js' %}"></script>
  <script src="{% static 'content_js/js.cookie.min.js' %}"></script>
  <script>
    /* <![CDATA[ */
    /* ]]> */
  </script>
  <script src="{% static 'content_js/woocommerce.min.js' %}"></script>
  <script>
    /* <![CDATA[ */
    /* ]]> */
  </script>
  <script src="{% static 'content_js/cart-fragments.min.js' %}"></script>
  <script src="{% static 'content_js/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'content_js/select2.min.js' %}"></script>
  <script src="{% static 'content_js/isotope.pkgd.min.js' %}" ></script>
  <script src="{% static 'content_js/jquery.mousewheel.min.js' %}"></script>
  <script src="{% static 'content_js/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'content_js/jquery.sticky-kit.min.js' %}"></script>
  <script src="{% static 'content_js/slick.min.js' %}"></script>
  <script src="{% static 'content_js/jquery.prettyPhoto.min.js' %}"></script>
  <script src="{% static 'content_js/js_composer_front.min.js' %}"></script>
  <script>
    /* <![CDATA[ */
    var themestek_breakpoint = "1200";
    var ajaxurl = "http:\/\/localhost\/barrister\/wp-admin\/admin-ajax.php";
/* ]]> */
  </script>
  <script src="{% static 'content_js/attorco_js/scripts.js' %}"></script>
  <script src="{% static 'content_js/forms.min.js' %}"></script>
  {% endblock %}
</body>
{% endblock %}