{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Barrister.az | Haqqımızda</title>
{% endblock %}

{% block links %}
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<script> 'use strict'; (function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
	<link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
	<link rel='dns-prefetch' href='http://s.w.org/' />
	<link rel="alternate" type="application/rss+xml" title="barrister &raquo; beslemesi"
		href="http://localhost/barrister/feed/" />
	<link rel="alternate" type="application/rss+xml" title="barrister &raquo; yorum beslemesi"
		href="http://localhost/barrister/comments/feed/" />
	<link rel='stylesheet' id='wp-block-library-css' href="{% static 'content_css/style.min.css' %}" media='all' />
	<link rel='stylesheet' id='contact-form-7-css' href="{% static 'content_css/styles.css' %}" media='all' />
	<link rel='stylesheet' id='rs-plugin-settings-css' href="{% static 'content_css/rs6.css' %}" media='all' />
	<style id='rs-plugin-settings-inline-css'>
		#rs-demo-id {}
	</style>
	<link rel='stylesheet' id='font-awesome-css' href="{% static 'content_css/font-awesome.min.css' %}" media='all' />
	<link rel='stylesheet' id='sgicon-css' href="{% static 'content_css/style.css' %}" media='all' />
	<!-- <link rel='stylesheet' id='vc_linecons-css'  href="{% static 'content_css/vc_linecons_icons.min.css' %}"  media='all' /> -->
	<link rel='stylesheet' id='themestek-cs-google-fonts-css'
		href='http://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPlayfair+Display%3A400%2Citalic%2C700%2C700italic%2C900%2C900italic%7CNunito+Sans%3A700&amp;ver=1.0.0'
		media='all' />
	<link rel='stylesheet' id='themestek-base-icons-css' href="{% static 'content_css/themestek-attorco-icons.css' %}"
		media='all' />
	<link rel='stylesheet' id='perfect-scrollbar-css' href="{% static 'content_css/perfect-scrollbar.min.css' %}"
		media='all' />
	<link rel='stylesheet' id='chrisbracco-tooltip-css' href="{% static 'content_css/chrisbracco-tooltip.min.css' %}"
		media='all' />
	<link rel='stylesheet' id='multi-columns-row-css' href="{% static 'content_css/multi-columns-row.css' %}"
		media='all' />
	<link rel='stylesheet' id='select2-css' href="{% static 'content_css/select2.min.css' %}" media='all' />
	<link rel='stylesheet' id='flexslider-css' href="{% static 'content_css/flexslider.min.css' %}" media='all' />
	<link rel='stylesheet' id='slick-css' href="{% static 'content_css/slick.css' %}" media='all' />
	<link rel='stylesheet' id='slick-theme-css' href="{% static 'content_css/slick-theme.css' %}" media='all' />
	<link rel='stylesheet' id='prettyphoto-css' href="{% static 'content_css/prettyPhoto.min.css' %}" media='all' />
	<link rel='stylesheet' id='js_composer_front-css' href="{% static 'content_css/js_composer.min.css' %}"
		media='all' />
	<link rel='stylesheet' id='bootstrap-css' href="{% static 'content_css/bootstrap.min.css' %}" media='all' />
	<link rel='stylesheet' id='bootstrap-theme-css' href="{% static 'content_css/bootstrap-theme.min.css' %}"
		media='all' />
	<link rel='stylesheet' id='attorco-core-style-css' href="{% static 'content_css/core.css' %}" media='all' />
	<link rel='stylesheet' id='attorco-master-style-css' href="{% static 'content_css/master-advanced.css' %}"
		media='all' />
	<link rel='stylesheet' id='attorco-responsive-style-css' href="{% static 'content_css/responsive-advanced.css' %}"
		media='all' />
	<link rel='stylesheet' href="{% static 'content_css/admin_style.css' %}" media='all' />
	<script src="{% static 'content_js/jquery.js' %}"></script>
	<script src="{% static 'content_js/jquery-migrate.min.js' %}"></script>
	<script src="{% static 'content_js/revolution.tools.min.js' %}"></script>
	<script src="{% static 'content_js/rs6.min.js' %}"></script>
	<script src="{% static 'content_js/jquery-resize.min.js' %}"></script>
	<link rel='https://api.w.org/' href='wp-json/' />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://localhost/barrister/xmlrpc.php?rsd" />
	<meta name="generator" content="WordPress 5.3.2" />
	<link rel="canonical" href="http://localhost/barrister/" />
	<link rel='shortlink' href='' />
	<link rel="alternate" type="application/json+oembed" href="http://localhost/barrister/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fbarrister%2F" />
	<link rel="alternate" type="text/xml+oembed" href="http://localhost/barrister/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fbarrister%2F&amp;format=xml" />
	<!-- Inline CSS Start -->
	<style>
		@media (max-width: 1200px) {
			.themestek-column>.themestek-responsive-custom-37346032 {
				padding-left: 30px !important;
			}
		}

		@media (max-width: 991px) {
			.themestek-column>.themestek-responsive-custom-37346032 {
				padding-left: 20px !important;
			}
		}

		@media (max-width: 767px) {
			.themestek-column>.themestek-responsive-custom-37346032 {
				padding-left: 30px !important;
			}
		}

		.vc_custom_1561810389592>.themestek-row-wrapper-bg-layer {
			padding-bottom: 50px !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: cover !important;
		}

		.vc_custom_1561810389592>.themestek-row-wrapper-bg-layer {
			background-image: none !important;
			margin: 0 !important;
			padding: 0 !important;
		}

		@media (max-width: 991px) {
			.themestek-column>.themestek-responsive-custom-96724724 {
				padding-right: 0 !important;
				padding-left: 0 !important;
			}
		}

		@media (max-width: 767px) {
			.themestek-column>.themestek-responsive-custom-96724724 {
				padding-bottom: 40px !important;
			}
		}

		@media (max-width: 991px) {
			.themestek-column>.themestek-responsive-custom-28584280 {
				padding-right: 0 !important;
				padding-left: 0 !important;
			}
		}

		@media (max-width: 767px) {
			.themestek-column>.themestek-responsive-custom-28584280 {
				padding-bottom: 40px !important;
			}
		}

		@media (max-width: 1200px) {
			.themestek-column>.themestek-responsive-custom-91294074 {
				padding-right: 0 !important;
				padding-left: 0 !important;
			}
		}

		@media (max-width: 767px) {
			.themestek-column>.themestek-responsive-custom-91294074 {
				padding-bottom: 40px !important;
			}
		}

		@media (max-width: 991px) {
			.themestek-column>.themestek-responsive-custom-67525247 {
				padding-right: 0 !important;
				padding-left: 0 !important;
			}
		}

		.vc_custom_1577954828393>.themestek-row-wrapper-bg-layer {
			padding-top: 45px !important;
			padding-bottom: 50px !important;
		}

		.vc_custom_1577954828393>.themestek-row-wrapper-bg-layer {
			background-image: none !important;
			margin: 0 !important;
			padding: 0 !important;
		}

		@media (max-width: 991px) {
			.themestek-row.themestek-responsive-custom-98254887 {
				padding-right: 30px !important;
				padding-left: 30px !important;
			}
		}
	</style><!-- Inline CSS End -->
	<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
	<meta name="generator" content="Powered by Slider Revolution 6.1.7 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
	<script>function setREVStartSize(e) {
			try {
				var pw = document.getElementById(e.c).parentNode.offsetWidth,
					newh;
				pw = pw === 0 || isNaN(pw) ? window.innerWidth : pw;
				e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
				e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
				e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
				e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
				e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
				e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
				e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
				if (e.layout === "fullscreen" || e.l === "fullscreen")
					newh = Math.max(e.mh, window.innerHeight);
				else {
					e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
					for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
					e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
					e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
					for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];

					var nl = new Array(e.rl.length),
						ix = 0,
						sl;
					e.tabw = e.tabhide >= pw ? 0 : e.tabw;
					e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
					e.tabh = e.tabhide >= pw ? 0 : e.tabh;
					e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
					for (var i in e.rl) nl[i] = e.rl[i] < window.innerWidth ? 0 : e.rl[i];
					sl = nl[0];
					for (var i in nl) if (sl > nl[i] && nl[i] > 0) { sl = nl[i]; ix = i; }
					var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);

					newh = (e.type === "carousel" && e.justify === "true" ? e.gh[ix] : (e.gh[ix] * m)) + (e.tabh + e.thumbh);
				}

				if (window.rs_init_css === undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
				document.getElementById(e.c).height = newh;
				window.rs_init_css.innerHTML += "#" + e.c + "_wrapper { height: " + newh + "px }";
			} catch (e) {
				console.log("Failure at Presize of Slider:" + e)
			}
    };
  </script>
	<style data-type="vc_shortcodes-custom-css">
		.vc_custom_1561810389592 {
			padding-bottom: 50px !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: cover !important;
		}

		.vc_custom_1577954828393 {
			padding-top: 45px !important;
			padding-bottom: 50px !important;
		}

		.vc_custom_1560853437729 {
			padding-top: 10px !important;
			padding-left: 40px !important;
		}

		.vc_custom_1560239063188 {
			padding-bottom: 25px !important;
		}
	</style><noscript>
		<style>
			.wpb_animate_when_almost_visible {
				opacity: 1;
			}
		</style>
  </noscript></head>
{% endblock %}


{% block header %}
  <div
    class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes">
    <div class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"></div>
    <div class="themestek-titlebar entry-header">
      <div class="themestek-titlebar-inner-wrapper">
        <div class="themestek-titlebar-main">
          <div class="container">
            <div class="themestek-titlebar-main-inner">
              <div class="entry-title-wrapper">
                <div class="container">
                  <h1 class="entry-title"> Haqqımızda</h1>
                </div>
              </div>
              <div class="breadcrumb-wrapper">
                <div class="container">
                  <div class="breadcrumb-wrapper-inner">
                    <!-- Breadcrumb NavXT output --><span><a
                        title="Go to barrister." href="" class="home"><i
                          class="fa fa-home"></i><span
                          class="hide">barrister</span></a></span> <span
                      class="themestek-bread-sep"> &nbsp; &rarr;
                      &nbsp;</span><span
                      class="post post-page current-item">Haqqımızda</span></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- .themestek-titlebar-main -->
      </div><!-- .themestek-titlebar-inner-wrapper -->
    </div><!-- .themestek-titlebar -->
  </div><!-- .themestek-titlebar-wrapper -->
{% endblock %}



{% block content %}
  <div id="content-wrapper" class="site-content-wrapper">
    <div id="content" class="site-content">
      <div id="content-inner" class="site-content-inner">
        <div id="primary" class="content-area">
          <main id="main" class="site-main">
            <article id="post-6669" class="post-6669 page type-page status-publish hentry">
              <header class="single-entry-header themestek-hide">
                <h2 class="entry-title">Haqqımızda</h2>
              </header><!-- .entry-header -->
              <div class="entry-content">
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                  class="themestek-row wpb_row vc_row-fluid vc_custom_1561810389592 vc_row-has-fill themestek-total-col-2 themestek-zindex-0 themestek-bgcolor-white themestek-bgimage-position-center_center">
                  <div class="vc_row container">
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-6 themestek-zindex-0">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">

                          <div
                            class="wpb_single_image wpb_content_element vc_align_left   themestek-img-shadow">

                            <figure class="wpb_wrapper vc_figure">
                              <div
                                class="vc_single_image-wrapper   vc_box_border_grey">
                                <img class="vc_single_image-img"
                                  src="{% static 'uploads/2018/12/img-02-570x530.jpg' %}"
                                  width="570" height="530" alt="img-02"
                                  title="img-02" /></div>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-6 themestek-zindex-0">
                      <div
                        class="vc_column-inner vc_custom_1560853437729 themestek-responsive-custom-37346032">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-element-heading-wrapper themestek-heading-inner themestek-element-align-left themestek-seperator-none">
                            <section class="themestek-vc_cta3-container">
                              <div
                                class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
                                <div
                                  class="themestek-vc_cta3_content-container">
                                  <div class="themestek-vc_cta3-content">
                                    <div
                                      class="themestek-vc_cta3-content-header themestek-wrap">
                                      <div
                                        class="themestek-vc_cta3-headers themestek-wrap-cell">
                                        <h4
                                          class="themestek-custom-heading">
                                          Haqqımızda</h4>
                                        <h2
                                          class="themestek-custom-heading">
                                          Şirkətin Missiyası</h2>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div> <!-- .themestek-element-heading-wrapper container -->
                          <div
                            class="wpb_text_column wpb_content_element  vc_custom_1560239063188">
                            <div class="wpb_wrapper">
                              <p>İşlərin izlənməsi ilə bağlı prosedurları həyata
                                keçirmək və yekunlaşdırmaq;
                                Müvafiq hüquqi məsələlərə dair tələb olunduqda
                                hüquqi rəyləri elan etmək;
                                Qurumun maraqlarını qorumaq və mübahisələrin
                                qarşısını almaq, razılaşma və müqavilələrin bu
                                prinsiplərə uyğun olmasını təmin etmək üçün
                                qanuni tədbirlər görmək;
                                Müqavilə və spesifikasiya layihələrini, müəssisə
                                və üçüncü tərəflər arasındakı mübahisələrlə
                                əlaqəli işləri nəzərdən keçirmək və hüquqi rəyi
                                bildirmək;
                                Qanuni proseslərlə əlaqəli iş və prosedurları
                                həyata keçirmək (qərarın düzəldilməsi,
                                apellyasiya şikayəti və s.)</p>

                            </div>
                          </div>
                          <div
                            class="themestek-progress-bar vc_progress_bar wpb_content_element vc_progress-bar-color-skincolor vc_progress-bar-color-skincolor">
                            <div
                              class="themestek-pbar-single-bar-w themestek-pbar-icon-false">
                              <div class="vc_general vc_single_bar"><small
                                  class="vc_label">Müvəffəqiyyət</small> <span
                                  class="themestek-vc_label_units vc_label_units">90%</span><span
                                  class="vc_bar" data-percentage-value="90"
                                  data-value="90"></span></div>
                            </div>
                            <div
                              class="themestek-pbar-single-bar-w themestek-pbar-icon-false">
                              <div class="vc_general vc_single_bar"><small
                                  class="vc_label">İş təcrübəsi</small> <span
                                  class="themestek-vc_label_units vc_label_units">80%</span><span
                                  class="vc_bar" data-percentage-value="80"
                                  data-value="80"></span></div>
                            </div>
                            <div
                              class="themestek-pbar-single-bar-w themestek-pbar-icon-false">
                              <div class="vc_general vc_single_bar"><small
                                  class="vc_label">Daşınmaz əmlak</small>
                                <span
                                  class="themestek-vc_label_units vc_label_units">70%</span><span
                                  class="vc_bar" data-percentage-value="70"
                                  data-value="70"></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                  class="themestek-row wpb_row vc_row-fluid themestek-fidbox-separate themestek-two-colum-view-991-768 vc_custom_1577954828393 themestek-responsive-custom-98254887 themestek-total-col-4 themestek-zindex-0 themestek-textcolor-white themestek-bgcolor-darkgrey themestek-bgimage-position-center_center">
                  <div class="vc_row container">
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-3 themestek-zindex-0">
                      <div class="vc_column-inner  themestek-responsive-custom-96724724">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-fid inside themestek-fid-boxstyle-without-icon themestek-fidbox-style-5">
                            <div class="themestek-fld-contents">
                              <div
                                class="themestek-ihbox-icon themestek-large-icon">
                                <div class="themestek-sbox-icon-wrapper"><i
                                    class="themestek-attorco-business-icon themestek-attorco-business-icon-suitcase"></i>
                                </div>
                              </div>
                              <div class="themestek-fld-contents-wrap">
                                <div class="themestek-fid-inner">
                                  <span data-appear-animation="animateDigits"
                                    data-from="0" data-to="937"
                                    data-interval="5">
                                    937 </span> </div>
                                <h3 class="themestek-fid-title"><span>BİTİRİLMİŞ
                                    LAYİHƏLƏR<br></span></h3>
                              </div>
                            </div><!-- .themestek-fld-contents -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-3 themestek-zindex-0">
                      <div class="vc_column-inner  themestek-responsive-custom-28584280">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-fid inside themestek-fid-boxstyle-without-icon themestek-fidbox-style-5">
                            <div class="themestek-fld-contents">
                              <div
                                class="themestek-ihbox-icon themestek-large-icon">
                                <div class="themestek-sbox-icon-wrapper"><i
                                    class="themestek-attorco-business-icon themestek-attorco-business-icon-lawyer"></i>
                                </div>
                              </div>
                              <div class="themestek-fld-contents-wrap">
                                <div class="themestek-fid-inner">
                                  <span data-appear-animation="animateDigits"
                                    data-from="0" data-to="735"
                                    data-interval="5">
                                    735 </span> </div>
                                <h3 class="themestek-fid-title"><span>PEŞƏKAR
                                    VƏKİLLƏR<br></span></h3>
                              </div>
                            </div><!-- .themestek-fld-contents -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-3 themestek-zindex-0">
                      <div class="vc_column-inner  themestek-responsive-custom-91294074">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-fid inside themestek-fid-boxstyle-without-icon themestek-fidbox-style-5">
                            <div class="themestek-fld-contents">
                              <div
                                class="themestek-ihbox-icon themestek-large-icon">
                                <div class="themestek-sbox-icon-wrapper"><i
                                    class="themestek-attorco-business-icon themestek-attorco-business-icon-law-3"></i>
                                </div>
                              </div>
                              <div class="themestek-fld-contents-wrap">
                                <div class="themestek-fid-inner">
                                  <span data-appear-animation="animateDigits"
                                    data-from="0" data-to="927"
                                    data-interval="5">
                                    927 </span> </div>
                                <h3 class="themestek-fid-title"><span>GERİ
                                    QAYTARILAN İŞLƏR<br></span></h3>
                              </div>
                            </div><!-- .themestek-fld-contents -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-3 themestek-zindex-0">
                      <div class="vc_column-inner  themestek-responsive-custom-67525247">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-fid inside themestek-fid-boxstyle-without-icon themestek-fidbox-style-5">
                            <div class="themestek-fld-contents">
                              <div
                                class="themestek-ihbox-icon themestek-large-icon">
                                <div class="themestek-sbox-icon-wrapper"><i
                                    class="themestek-attorco-business-icon themestek-attorco-business-icon-legal"></i>
                                </div>
                              </div>
                              <div class="themestek-fld-contents-wrap">
                                <div class="themestek-fid-inner">
                                  <span data-appear-animation="animateDigits"
                                    data-from="0" data-to="251"
                                    data-interval="5">
                                    251 </span> </div>
                                <h3 class="themestek-fid-title">
                                  <span>OFİSLƏRİMİZ<br></span></h3>
                              </div>
                            </div><!-- .themestek-fld-contents -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                  class="themestek-row wpb_row vc_row-fluid themestek-total-col-1 themestek-zindex-0 themestek-bgcolor-white themestek-bgimage-position-center_center">
                  <div class="vc_row container">
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-boxes themestek-boxes-team themestek-boxes-view-default themestek-boxes-col-two themestek-boxes-sortable-no themestek-boxes-textalign-center themestek-boxes-sortablebutton-">
                            <div
                              class="themestek-boxes-inner themestek-boxes-team-inner">
                              <div
                                class="themestek-box-heading-wrapper themestek-element-align-center">
                                <div
                                  class="themestek-element-heading-wrapper themestek-heading-inner themestek-element-align-center themestek-seperator-none">
                                  <section
                                    class="themestek-vc_cta3-container">
                                    <div
                                      class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-center themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
                                      <div
                                        class="themestek-vc_cta3_content-container">
                                        <div
                                          class="themestek-vc_cta3-content">
                                          <div
                                            class="themestek-vc_cta3-content-header themestek-wrap">
                                            <div
                                              class="themestek-vc_cta3-headers themestek-wrap-cell">
                                              <h4
                                                class="themestek-custom-heading">
                                                Team</h4>
                                              <h2
                                                class="themestek-custom-heading">
                                                Heyətimiz ilə
                                                tanış olun</h2>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                                <!-- .themestek-element-heading-wrapper container -->
                              </div>
                              <!-- .themestek-element-heading-wrapper container -->

                              <div
                                class="row multi-columns-row themestek-boxes-row-wrapper">
                                <div
                                  class="themestek-box-col-wrapper col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                  <article
                                    class="themestek-box themestek-box-team themestek-teambox-style-2">
                                    <div class="themestek-post-item">
                                      <div
                                        class="col-md-6 themestek-box-img-left">
                                        <div
                                          class="themestek-featured-outer-wrapper themestek-post-featured-outer-wrapper">

                                          <span
                                            class="themestek-item-thumbnail">
                                            <span
                                              class="themestek-item-thumbnail-inner">
                                              <img width="800"
                                                height="800"
                                                src="{% static 'uploads/2018/12/img-03.jpg' %}"
                                                class="attachment-themestek-img-600x600 size-themestek-img-600x600 wp-post-image"
                                                alt="" />
                                            </span>
                                          </span> </div>
                                      </div>
                                      <div
                                        class="themestek-box-content col-md-6">
                                        <div
                                          class="themestek-box-content-inner">
                                          <div
                                            class="themestek-box-title">
                                            <h4><a
                                                href="/team/christian-woods/">Christian
                                                Woods</a></h4>
                                          </div>
                                          <div
                                            class="themestek-box-team-position">
                                            Financial Lawyer </div>
                                          <div
                                            class="themestek-teambox-email">
                                            <a
                                              href="mailto:contact@attorco.com"><i
                                                class="fa fa-envelope"></i>
                                              contact@attorco.com</a>
                                          </div>
                                          <div
                                            class="themestek-team-social-links-wrapper">
                                            <ul
                                              class="themestek-team-social-links">
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-facebook"></i>
                                                  <span
                                                    class="themestek-hide">Facebook</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-twitter"></i>
                                                  <span
                                                    class="themestek-hide">Twitter</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-gplus"></i>
                                                  <span
                                                    class="themestek-hide">Google+</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-linkedin"></i>
                                                  <span
                                                    class="themestek-hide">LinkedIn</span>
                                                </a>
                                              </li>
                                            </ul>
                                            <!-- .themestek-team-social-links -->
                                          </div>
                                          <!-- .themestek-team-social-links-wrapper -->
                                        </div>
                                      </div>
                                    </div>
                                  </article>
                                </div>
                                <div
                                  class="themestek-box-col-wrapper col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                  <article
                                    class="themestek-box themestek-box-team themestek-teambox-style-2">
                                    <div class="themestek-post-item">
                                      <div
                                        class="col-md-6 themestek-box-img-left">
                                        <div
                                          class="themestek-featured-outer-wrapper themestek-post-featured-outer-wrapper">

                                          <span
                                            class="themestek-item-thumbnail">
                                            <span
                                              class="themestek-item-thumbnail-inner">
                                              <img width="800"
                                                height="800"
                                                src="{% static 'uploads/2018/12/img-03.jpg' %}"
                                                class="attachment-themestek-img-600x600 size-themestek-img-600x600 wp-post-image"
                                                alt="" />
                                            </span>
                                          </span> </div>
                                      </div>
                                      <div
                                        class="themestek-box-content col-md-6">
                                        <div
                                          class="themestek-box-content-inner">
                                          <div
                                            class="themestek-box-title">
                                            <h4><a
                                                href="/team/melanie-brown/">Melanie
                                                Brown</a></h4>
                                          </div>
                                          <div
                                            class="themestek-box-team-position">
                                            civil Lawyer </div>
                                          <div
                                            class="themestek-teambox-email">
                                            <a
                                              href="mailto:contact@attorco.com"><i
                                                class="fa fa-envelope"></i>
                                              contact@attorco.com</a>
                                          </div>
                                          <div
                                            class="themestek-team-social-links-wrapper">
                                            <ul
                                              class="themestek-team-social-links">
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-facebook"></i>
                                                  <span
                                                    class="themestek-hide">Facebook</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-twitter"></i>
                                                  <span
                                                    class="themestek-hide">Twitter</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-gplus"></i>
                                                  <span
                                                    class="themestek-hide">Google+</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-linkedin"></i>
                                                  <span
                                                    class="themestek-hide">LinkedIn</span>
                                                </a>
                                              </li>
                                            </ul>
                                            <!-- .themestek-team-social-links -->
                                          </div>
                                          <!-- .themestek-team-social-links-wrapper -->
                                        </div>
                                      </div>
                                    </div>
                                  </article>
                                </div>
                                <div
                                  class="themestek-box-col-wrapper col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                  <article
                                    class="themestek-box themestek-box-team themestek-teambox-style-2">
                                    <div class="themestek-post-item">
                                      <div
                                        class="col-md-6 themestek-box-img-left">
                                        <div
                                          class="themestek-featured-outer-wrapper themestek-post-featured-outer-wrapper">

                                          <span
                                            class="themestek-item-thumbnail">
                                            <span
                                              class="themestek-item-thumbnail-inner">
                                              <img width="800"
                                                height="800"
                                                src="{% static 'uploads/2018/12/img-03.jpg' %}"
                                                class="attachment-themestek-img-600x600 size-themestek-img-600x600 wp-post-image"
                                                alt="" />
                                            </span>
                                          </span> </div>
                                      </div>
                                      <div
                                        class="themestek-box-content col-md-6">
                                        <div
                                          class="themestek-box-content-inner">
                                          <div
                                            class="themestek-box-title">
                                            <h4><a
                                                href="/team/lily-watson/">Lily
                                                Watson</a></h4>
                                          </div>
                                          <div
                                            class="themestek-box-team-position">
                                            Family Lawyer </div>
                                          <div
                                            class="themestek-teambox-email">
                                            <a
                                              href="mailto:contact@attorco.com"><i
                                                class="fa fa-envelope"></i>
                                              contact@attorco.com</a>
                                          </div>
                                          <div
                                            class="themestek-team-social-links-wrapper">
                                            <ul
                                              class="themestek-team-social-links">
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-facebook"></i>
                                                  <span
                                                    class="themestek-hide">Facebook</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-twitter"></i>
                                                  <span
                                                    class="themestek-hide">Twitter</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-gplus"></i>
                                                  <span
                                                    class="themestek-hide">Google+</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-linkedin"></i>
                                                  <span
                                                    class="themestek-hide">LinkedIn</span>
                                                </a>
                                              </li>
                                            </ul>
                                            <!-- .themestek-team-social-links -->
                                          </div>
                                          <!-- .themestek-team-social-links-wrapper -->
                                        </div>
                                      </div>
                                    </div>
                                  </article>
                                </div>
                                <div
                                  class="themestek-box-col-wrapper col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                  <article
                                    class="themestek-box themestek-box-team themestek-teambox-style-2">
                                    <div class="themestek-post-item">
                                      <div
                                        class="col-md-6 themestek-box-img-left">
                                        <div
                                          class="themestek-featured-outer-wrapper themestek-post-featured-outer-wrapper">

                                          <span
                                            class="themestek-item-thumbnail">
                                            <span
                                              class="themestek-item-thumbnail-inner">
                                              <img width="800"
                                                height="800"
                                                src="{% static 'uploads/2018/12/img-03.jpg' %}"
                                                class="attachment-themestek-img-600x600 size-themestek-img-600x600 wp-post-image"
                                                alt="" />
                                            </span>
                                          </span> </div>
                                      </div>
                                      <div
                                        class="themestek-box-content col-md-6">
                                        <div
                                          class="themestek-box-content-inner">
                                          <div
                                            class="themestek-box-title">
                                            <h4><a
                                                href="/team/john-fletcher/">John
                                                Fletcher</a>
                                            </h4>
                                          </div>
                                          <div
                                            class="themestek-box-team-position">
                                            Criminal Lawyer </div>
                                          <div
                                            class="themestek-teambox-email">
                                            <a
                                              href="mailto:contact@attorco.com"><i
                                                class="fa fa-envelope"></i>
                                              contact@attorco.com</a>
                                          </div>
                                          <div
                                            class="themestek-team-social-links-wrapper">
                                            <ul
                                              class="themestek-team-social-links">
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-facebook"></i>
                                                  <span
                                                    class="themestek-hide">Facebook</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-twitter"></i>
                                                  <span
                                                    class="themestek-hide">Twitter</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-gplus"></i>
                                                  <span
                                                    class="themestek-hide">Google+</span>
                                                </a>
                                              </li>
                                              <li>
                                                <a href="#"
                                                  target="_blank"
                                                  class="">
                                                  <i
                                                    class="themestek-attorco-icon-linkedin"></i>
                                                  <span
                                                    class="themestek-hide">LinkedIn</span>
                                                </a>
                                              </li>
                                            </ul>
                                            <!-- .themestek-team-social-links -->
                                          </div>
                                          <!-- .themestek-team-social-links-wrapper -->
                                        </div>
                                      </div>
                                    </div>
                                  </article>
                                </div>
                              </div>
                            </div><!-- .themestek-boxes-inner -->
                          </div><!-- .themestek-boxes -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
              </div><!-- .entry-content -->
            </article><!-- #post-## -->
          </main><!-- #main .site-main -->
        </div><!-- #primary .content-area -->
      </div><!-- .site-content-inner -->
    </div><!-- .site-content -->
  </div><!-- .site-content-wrapper -->
{% endblock %}

{% block scripts %}
  <script>(function () {
    function maybePrefixUrlField() {
      if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
        this.value = "http://" + this.value;
      }
    }

    var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
    if (urlFields) {
      for (var j = 0; j < urlFields.length; j++) {
        urlFields[j].addEventListener('blur', maybePrefixUrlField);
      }
    }
    })();
  </script>
  <script type="text/html" id="wpb-modifications"></script>
  <link rel='stylesheet' id='themestek-footer-gfonts-css'
    href='//fonts.googleapis.com/css?family=Abril+Fatface&#038;ver=1.0.0' media='all' />
  <script>
    /* <![CDATA[ */
    var wpcf7 = { "apiSettings": { "root": "http:\/\/localhost\/barrister\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
    /* ]]> */
  </script>
  <script src="{% static 'content_js/cf_js/scripts.js' %}"></script>
  <script src="{% static 'content_js/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'content_js/select2.min.js' %}"></script>
  <script src="{% static 'content_js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'content_js/jquery.mousewheel.min.js' %}"></script>
  <script src="{% static 'content_js/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'content_js/jquery.sticky-kit.min.js' %}"></script>
  <script src="{% static 'content_js/slick.min.js' %}"></script>
  <script src="{% static 'content_js/jquery.prettyPhoto.min.js' %}"></script>
  <script src="{% static 'content_js/js_composer_front.min.js' %}"></script>
  <script>
      /* <![CDATA[ */
      var themestek_breakpoint = "1200";
      var ajaxurl = "http:\/\/localhost\/barrister\/wp-admin\/admin-ajax.php";
      /* ]]> */
  </script>
  <script src="{% static 'content_js/attorco_js/scripts.js' %}"></script>
  <script src="{% static 'content_js/vc-waypoints.min.js?ver=6.1' %}"></script>
  <script src="{% static 'content_js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'content_js/numinate.min.js' %}"></script>
  <script src="{% static 'content_js/forms.min.js' %}"></script>
{% endblock %}