{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Barrister.az | Haqqımızda</title>
{% endblock %}

{% block links %}
  {{ block.super }}
{% endblock %}


{% block header %}
  <div
    class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes">
    <div class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"></div>
    <div class="themestek-titlebar entry-header">
      <div class="themestek-titlebar-inner-wrapper">
        <div class="themestek-titlebar-main">
          <div class="container">
            <div class="themestek-titlebar-main-inner">
              <div class="entry-title-wrapper">
                <div class="container">
                  <h1 class="entry-title"> Haqqımızda</h1>
                </div>
              </div>
              <div class="breadcrumb-wrapper">
                <div class="container">
                  <div class="breadcrumb-wrapper-inner">
                    <!-- Breadcrumb NavXT output --><span><a
                        title="Go to barrister." href="" class="home"><i
                          class="fa fa-home"></i><span
                          class="hide">barrister</span></a></span> <span
                      class="themestek-bread-sep"> &nbsp; &rarr;
                      &nbsp;</span><span
                      class="post post-page current-item">Haqqımızda</span></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- .themestek-titlebar-main -->
      </div><!-- .themestek-titlebar-inner-wrapper -->
    </div><!-- .themestek-titlebar -->
  </div><!-- .themestek-titlebar-wrapper -->
{% endblock %}



{% block content %}
  <div id="content-wrapper" class="site-content-wrapper">
    <div id="content" class="site-content">
      <div id="content-inner" class="site-content-inner">
        <div id="primary" class="content-area">
          <main id="main" class="site-main">
            <article id="post-6669" class="post-6669 page type-page status-publish hentry">
              <header class="single-entry-header themestek-hide">
                <h2 class="entry-title">Haqqımızda</h2>
              </header><!-- .entry-header -->
              <div class="entry-content">
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                  class="themestek-row wpb_row vc_row-fluid vc_custom_1561810389592 vc_row-has-fill themestek-total-col-2 themestek-zindex-0 themestek-bgcolor-white themestek-bgimage-position-center_center">
                  <div class="vc_row container">
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-6 themestek-zindex-0">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">

                          <div
                            class="wpb_single_image wpb_content_element vc_align_left   themestek-img-shadow">

                            <figure class="wpb_wrapper vc_figure">
                              <div
                                class="vc_single_image-wrapper   vc_box_border_grey">
                                <img class="vc_single_image-img"
                                  src="{% static 'uploads/2018/12/img-02-570x530.jpg' %}"
                                  width="570" height="530" alt="img-02"
                                  title="img-02" /></div>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-6 themestek-zindex-0">
                      <div
                        class="vc_column-inner vc_custom_1560853437729 themestek-responsive-custom-37346032">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-element-heading-wrapper themestek-heading-inner themestek-element-align-left themestek-seperator-none">
                            <section class="themestek-vc_cta3-container">
                              <div
                                class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
                                <div
                                  class="themestek-vc_cta3_content-container">
                                  <div class="themestek-vc_cta3-content">
                                    <div
                                      class="themestek-vc_cta3-content-header themestek-wrap">
                                      <div
                                        class="themestek-vc_cta3-headers themestek-wrap-cell">
                                        <h4
                                          class="themestek-custom-heading">
                                          Haqqımızda</h4>
                                        <h2
                                          class="themestek-custom-heading">
                                          Şirkətin Missiyası</h2>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </section>
                          </div> <!-- .themestek-element-heading-wrapper container -->
                          <div
                            class="wpb_text_column wpb_content_element  vc_custom_1560239063188">
                            <div class="wpb_wrapper">
                              <p>İşlərin izlənməsi ilə bağlı prosedurları həyata
                                keçirmək və yekunlaşdırmaq;
                                Müvafiq hüquqi məsələlərə dair tələb olunduqda
                                hüquqi rəyləri elan etmək;
                                Qurumun maraqlarını qorumaq və mübahisələrin
                                qarşısını almaq, razılaşma və müqavilələrin bu
                                prinsiplərə uyğun olmasını təmin etmək üçün
                                qanuni tədbirlər görmək;
                                Müqavilə və spesifikasiya layihələrini, müəssisə
                                və üçüncü tərəflər arasındakı mübahisələrlə
                                əlaqəli işləri nəzərdən keçirmək və hüquqi rəyi
                                bildirmək;
                                Qanuni proseslərlə əlaqəli iş və prosedurları
                                həyata keçirmək (qərarın düzəldilməsi,
                                apellyasiya şikayəti və s.)</p>

                            </div>
                          </div>
                          <div
                            class="themestek-progress-bar vc_progress_bar wpb_content_element vc_progress-bar-color-skincolor vc_progress-bar-color-skincolor">
                            <div
                              class="themestek-pbar-single-bar-w themestek-pbar-icon-false">
                              <div class="vc_general vc_single_bar"><small
                                  class="vc_label">Müvəffəqiyyət</small> <span
                                  class="themestek-vc_label_units vc_label_units">90%</span><span
                                  class="vc_bar" data-percentage-value="90"
                                  data-value="90"></span></div>
                            </div>
                            <div
                              class="themestek-pbar-single-bar-w themestek-pbar-icon-false">
                              <div class="vc_general vc_single_bar"><small
                                  class="vc_label">İş təcrübəsi</small> <span
                                  class="themestek-vc_label_units vc_label_units">80%</span><span
                                  class="vc_bar" data-percentage-value="80"
                                  data-value="80"></span></div>
                            </div>
                            <div
                              class="themestek-pbar-single-bar-w themestek-pbar-icon-false">
                              <div class="vc_general vc_single_bar"><small
                                  class="vc_label">Daşınmaz əmlak</small>
                                <span
                                  class="themestek-vc_label_units vc_label_units">70%</span><span
                                  class="vc_bar" data-percentage-value="70"
                                  data-value="70"></span></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                  class="themestek-row wpb_row vc_row-fluid themestek-fidbox-separate themestek-two-colum-view-991-768 vc_custom_1577954828393 themestek-responsive-custom-98254887 themestek-total-col-4 themestek-zindex-0 themestek-textcolor-white themestek-bgcolor-darkgrey themestek-bgimage-position-center_center">
                  <div class="vc_row container">
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-3 themestek-zindex-0">
                      <div class="vc_column-inner  themestek-responsive-custom-96724724">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-fid inside themestek-fid-boxstyle-without-icon themestek-fidbox-style-5">
                            <div class="themestek-fld-contents">
                              <div
                                class="themestek-ihbox-icon themestek-large-icon">
                                <div class="themestek-sbox-icon-wrapper"><i
                                    class="themestek-attorco-business-icon themestek-attorco-business-icon-suitcase"></i>
                                </div>
                              </div>
                              <div class="themestek-fld-contents-wrap">
                                <div class="themestek-fid-inner">
                                  <span data-appear-animation="animateDigits"
                                    data-from="0" data-to="937"
                                    data-interval="5">
                                    937 </span> </div>
                                <h3 class="themestek-fid-title"><span>BİTİRİLMİŞ
                                    LAYİHƏLƏR<br></span></h3>
                              </div>
                            </div><!-- .themestek-fld-contents -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-3 themestek-zindex-0">
                      <div class="vc_column-inner  themestek-responsive-custom-28584280">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-fid inside themestek-fid-boxstyle-without-icon themestek-fidbox-style-5">
                            <div class="themestek-fld-contents">
                              <div
                                class="themestek-ihbox-icon themestek-large-icon">
                                <div class="themestek-sbox-icon-wrapper"><i
                                    class="themestek-attorco-business-icon themestek-attorco-business-icon-lawyer"></i>
                                </div>
                              </div>
                              <div class="themestek-fld-contents-wrap">
                                <div class="themestek-fid-inner">
                                  <span data-appear-animation="animateDigits"
                                    data-from="0" data-to="735"
                                    data-interval="5">
                                    735 </span> </div>
                                <h3 class="themestek-fid-title"><span>PEŞƏKAR
                                    VƏKİLLƏR<br></span></h3>
                              </div>
                            </div><!-- .themestek-fld-contents -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-3 themestek-zindex-0">
                      <div class="vc_column-inner  themestek-responsive-custom-91294074">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-fid inside themestek-fid-boxstyle-without-icon themestek-fidbox-style-5">
                            <div class="themestek-fld-contents">
                              <div
                                class="themestek-ihbox-icon themestek-large-icon">
                                <div class="themestek-sbox-icon-wrapper"><i
                                    class="themestek-attorco-business-icon themestek-attorco-business-icon-law-3"></i>
                                </div>
                              </div>
                              <div class="themestek-fld-contents-wrap">
                                <div class="themestek-fid-inner">
                                  <span data-appear-animation="animateDigits"
                                    data-from="0" data-to="927"
                                    data-interval="5">
                                    927 </span> </div>
                                <h3 class="themestek-fid-title"><span>GERİ
                                    QAYTARILAN İŞLƏR<br></span></h3>
                              </div>
                            </div><!-- .themestek-fld-contents -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-3 themestek-zindex-0">
                      <div class="vc_column-inner  themestek-responsive-custom-67525247">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-fid inside themestek-fid-boxstyle-without-icon themestek-fidbox-style-5">
                            <div class="themestek-fld-contents">
                              <div
                                class="themestek-ihbox-icon themestek-large-icon">
                                <div class="themestek-sbox-icon-wrapper"><i
                                    class="themestek-attorco-business-icon themestek-attorco-business-icon-legal"></i>
                                </div>
                              </div>
                              <div class="themestek-fld-contents-wrap">
                                <div class="themestek-fid-inner">
                                  <span data-appear-animation="animateDigits"
                                    data-from="0" data-to="251"
                                    data-interval="5">
                                    251 </span> </div>
                                <h3 class="themestek-fid-title">
                                  <span>OFİSLƏRİMİZ<br></span></h3>
                              </div>
                            </div><!-- .themestek-fld-contents -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
                <div data-vc-full-width="true" data-vc-full-width-init="false"
                  class="themestek-row wpb_row vc_row-fluid themestek-total-col-1 themestek-zindex-0 themestek-bgcolor-white themestek-bgimage-position-center_center">
                  <div class="vc_row container">
                    <div
                      class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
                      <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                          <div
                            class="themestek-boxes themestek-boxes-team themestek-boxes-view-default themestek-boxes-col-two themestek-boxes-sortable-no themestek-boxes-textalign-center themestek-boxes-sortablebutton-">
                            <div
                              class="themestek-boxes-inner themestek-boxes-team-inner">
                              <div
                                class="themestek-box-heading-wrapper themestek-element-align-center">
                                <div
                                  class="themestek-element-heading-wrapper themestek-heading-inner themestek-element-align-center themestek-seperator-none">
                                  <section
                                    class="themestek-vc_cta3-container">
                                    <div
                                      class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-center themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
                                      <div
                                        class="themestek-vc_cta3_content-container">
                                        <div
                                          class="themestek-vc_cta3-content">
                                          <div
                                            class="themestek-vc_cta3-content-header themestek-wrap">
                                            <div
                                              class="themestek-vc_cta3-headers themestek-wrap-cell">
                                              <h4
                                                class="themestek-custom-heading">
                                                Team</h4>
                                              <h2
                                                class="themestek-custom-heading">
                                                Heyətimiz ilə
                                                tanış olun</h2>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                                <!-- .themestek-element-heading-wrapper container -->
                              </div>
                              <!-- .themestek-element-heading-wrapper container -->

                              <div class="row multi-columns-row themestek-boxes-row-wrapper">
                                {% for barrister in barristers %}
                                <div class="themestek-box-col-wrapper col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                  <article class="themestek-box themestek-box-team themestek-teambox-style-2">
                                    <div class="themestek-post-item">
                                      <div class="col-md-6 themestek-box-img-left">
                                        <div class="themestek-featured-outer-wrapper themestek-post-featured-outer-wrapper">
                                          <span class="themestek-item-thumbnail">
                                            <span class="themestek-item-thumbnail-inner">
                                              {% if barrister.profile.image %}
                                              <img width="800" height="800"
                                                src="{{barrister.profile.image.url}}"
                                                class="attachment-themestek-img-600x600 size-themestek-img-600x600 wp-post-image"
                                                alt="" />
                                              {% else %}
                                              <img width="800" height="800"
                                                src="{% static 'uploads\2018\12\img-03-800x740.jpg' %}"
                                                class="attachment-themestek-img-600x600 size-themestek-img-600x600 wp-post-image"
                                                alt="" />
                                              {% endif %}
                                            </span>
                                          </span> </div>
                                      </div>
                                      <div class="themestek-box-content col-md-6">
                                        <div class="themestek-box-content-inner">
                                          <div class="themestek-box-title">
                                            <h4><a href="{% url 'single-view' barrister.id %}">{{barrister.first_name}} {{barrister.last_name}}</a></h4>
                                          </div>
                                          {% if barrister.profile.job_category %}
                                          <div class="themestek-box-team-position">{{barrister.profile.job_category.name}}</div>
                                          {% endif %}
                                          <div class="themestek-teambox-email">
                                            <a href="mailto:contact@attorco.com"><i class="fa fa-envelope"></i>{{barrister.email}}</a>
                                          </div>
                                          <div class="themestek-team-social-links-wrapper">
                                            <ul class="themestek-team-social-links">
                                              {% if barrister.profile.facebook_link %}
                                              <li>
                                                <a href="{{barrister.profile.facebook_link}}" target="_blank" class="">
                                                  <i class="themestek-attorco-icon-facebook"></i>
                                                  <span class="themestek-hide">Facebook</span>
                                                </a>
                                              </li>
                                              {% endif %}
                                              {% if barrister.profile.twitter_link %}
                                              <li>
                                                <a href="{{barrister.profile.twitter_link}}" target="_blank" class="">
                                                  <i class="themestek-attorco-icon-twitter"></i>
                                                  <span class="themestek-hide">Twitter</span>
                                                </a>
                                              </li>
                                              {% endif %}
                                              {% if barrister.profile.google_link %}
                                              <li>
                                                <a href="{{barrister.profile.google_link}}" target="_blank" class="">
                                                  <i class="themestek-attorco-icon-gplus"></i>
                                                  <span class="themestek-hide">Google+</span>
                                                </a>
                                              </li>
                                              {% endif %}
                                              {% if barrister.profile.linkedin_link %}
                                              <li>
                                                <a href="{{barrister.profile.linkedin_link}}" target="_blank" class="">
                                                  <i class="themestek-attorco-icon-linkedin"></i>
                                                  <span class="themestek-hide">LinkedIn</span>
                                                </a>
                                              </li>
                                              {% endif %}
                                            </ul>
                                            <!-- .themestek-team-social-links -->
                                          </div>
                                          <!-- .themestek-team-social-links-wrapper -->
                                        </div>
                                      </div>
                                    </div>
                                  </article>
                                </div>
                                {% endfor %}
                              </div>
                            </div><!-- .themestek-boxes-inner -->
                          </div><!-- .themestek-boxes -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="vc_row-full-width vc_clearfix"></div>
              </div><!-- .entry-content -->
            </article><!-- #post-## -->
          </main><!-- #main .site-main -->
        </div><!-- #primary .content-area -->
      </div><!-- .site-content-inner -->
    </div><!-- .site-content -->
  </div><!-- .site-content-wrapper -->
{% endblock %}

{% block scripts %}
  {{ block.super }}
{% endblock %}