

{% extends 'admin-base.html' %}
{% load static %}

{% block title %}
  <title>Dashboard</title>
{% endblock title %}
  

{% block content %}
  

  
    <main class="page-content design"  >
      <!-- https://codepen.io/themustafaomar/pen/jLMPKm -->
        <div class="welcome">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="content">
                    <h2>Welcome to Dashboard</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="statistics">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4">
                  <div class="box">
                    <i class="fa fa-envelope fa-fw bg-primary"></i>
                    <div class="info">
                      <h3>1,245</h3> <span>Emails</span>
                      <p>Lorem ipsum dolor sit amet</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box">
                    <i class="fa fa-file fa-fw danger"></i>
                    <div class="info">
                      <h3>34</h3> <span>Projects</span>
                      <p>Lorem ipsum dolor sit amet</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box">
                    <i class="fa fa-users fa-fw success"></i>
                    <div class="info">
                      <h3>5,245</h3> <span>Users</span>
                      <p>Lorem ipsum dolor sit amet</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="charts">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="chart-container">
                    <h3>Chart</h3>
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="chart-container">
                    <h3>Chart2</h3>
                    <canvas id="myChart2"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        <div class='statis text-center'>
          <div class="container-fluid">
             <div class="row">

                  <div class="col-md-3">
                    <div class="box bg-primary">
                      <i class="fa fa-eye"></i>
                      <h3>5,154</h3>
                      <p class="lead">Page views</p>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="box danger">
                      <i class="fa fa-user-o"></i>
                      <h3>245</h3>
                      <p class="lead">User registered</p>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="box warning">
                      <i class="fa fa-shopping-cart"></i>
                      <h3>5,154</h3>
                      <p class="lead">Product sales</p>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="box success">
                      <i class="fa fa-handshake-o"></i>
                      <h3>5,154</h3>
                      <p class="lead">Transactions</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

    </main>
    </div>
   {% endblock content %}