{% extends 'admin-base.html' %}
{% load static %}

{% block content %}
    <main class="page-content design"  >
      <div class="wrapper">
        <div class="login-box">
          <h3 class="info-text">İstifadəçi əlavə et</h3>
          <form class="form-container" action="">
            <div class="input-addon">
              <input class="form-element input-field" placeholder="Ad" type="text">
              <span class="input-group-text fa fa-user"></span>
            </div>

            <div class="input-addon">
              <input class="form-element input-field" placeholder="Soyad" type="text">
              <span class="input-group-text fa fa-user"></span>
            </div>

            <div class="input-addon">
              <input class="form-element input-field" placeholder="Ata adı" type="text">
              <span class="input-group-text fa fa-user"></span>
            </div>

            <div class="input-addon">
              <input class="form-element input-field" placeholder="E-poçt" type="email">
              <span class="input-group-text fa fa-envelope"></span>
            </div>

            <br>
            <div class="file-upload">
              <div class="file-select">
                <div class="file-select-button" id="fileName">Şəkil əlavə et</div>
                <div class="file-select-name" id="noFile">Fayl seçilməyib..</div> 
                <input type="file" name="chooseFile" id="chooseFile">
              </div>
            </div>
            <div class="input-addon">
              <textarea placeholder="Biografiya" name="" id="" cols="50" rows="3"></textarea>
              <span class="input-group-text fas fa-user-edit"></span>
            </div>
            <div class="input-addon">
              <input class="form-element input-field" placeholder="Şifrə" type="password">
              <span class="input-group-text fa fa-lock"></span>
            </div>
            <div class="input-addon">
              <input class="form-element input-field" placeholder="Şifrəni təkrarla" type="password">
              <span class="input-group-text fa fa-lock"></span>
            </div>
            <br>
            <div class="file-upload">
              <div class="file-select">
                <div class="file-select-button" id="fileName">Diplom və sertifikat</div>
                <div class="file-select-name" id="noFile">Fayl seçilməyib..</div> 
                <input type="file" name="chooseFile" id="chooseFile">
              </div>
            </div>
            <input class="form-element is-submit" type="submit" value="Yeni istifadəçi">
          </form>
      
        </div>
      </div>
    </main>
    </div>
    {% endblock content %}