{% extends 'base.html' %}

{% load static %}

{% load home_filters %}

{% block title %}
<title>Our Attorneys &#8211; barrister</title>
{% endblock %}


{% block links %}
<link rel="profile" href="https://gmpg.org/xfn/11">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script> 'use strict'; (function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
<meta name='robots' content='noindex,nofollow' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel="alternate" type="application/rss+xml" title="barrister &raquo; beslemesi" href="/feed/" />
<link rel="alternate" type="application/rss+xml" title="barrister &raquo; yorum beslemesi" href="/comments/feed/" />
<link rel='stylesheet' id='wp-block-library-css' href="{% static 'content_css/style.min.css'%}" media='all' />
<link rel='stylesheet' id='wc-block-style-css' href="{% static 'content_css/woocommerce_css/style.css' %}"
	media='all' />
<link rel='stylesheet' id='contact-form-7-css' href="{% static 'content_css/styles.css' %}" media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css' href="{% static 'content_css/rs6.css' %}" media='all' />
<style id='rs-plugin-settings-inline-css'>
	#rs-demo-id {}
</style>
<link rel='stylesheet' id='font-awesome-css' href="{% static 'content_css/font-awesome.min.css' %}" media='all' />
<link rel='stylesheet' id='themify-css' href="{% static 'content_css/themify-icons.css' %}" media='all' />
<link rel='stylesheet' id='vc_linecons-css' href="{% static 'content_css/vc_linecons_icons.min.css' %}" media='all' />
<link rel='stylesheet' id='woocommerce-layout-css'
	href="{% static 'content_css/woocommerce_css/woocommerce-layout.css' %}" media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'
	href="{% static 'content_css/woocommerce_css/woocommerce-smallscreen.css' %}"
	media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css' href="{% static 'content_css/woocommerce_css/woocommerce.css' %}"
	media='all' />
<style id='woocommerce-inline-inline-css'>
	.woocommerce form .form-row .required {
		visibility: visible;
	}
</style>
<link rel='stylesheet' id='themestek-cs-google-fonts-css'
	href='//fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPlayfair+Display%3A400%2Citalic%2C700%2C700italic%2C900%2C900italic%7CNunito+Sans%3A700&#038;ver=1.0.0'
	media='all' />
<link rel='stylesheet' id='themestek-base-icons-css' href="{% static 'content_css/themestek-attorco-icons.css' %}"
	media='all' />
<link rel='stylesheet' id='perfect-scrollbar-css' href="{% static 'content_css/perfect-scrollbar.min.css' %}"
	media='all' />
<link rel='stylesheet' id='chrisbracco-tooltip-css' href="{% static 'content_css/chrisbracco-tooltip.min.css' %}"
	media='all' />
<link rel='stylesheet' id='multi-columns-row-css' href="{% static 'content_css/multi-columns-row.css' %}" media='all' />
<link rel='stylesheet' id='select2-css' href="{% static 'content_css/select2.min.css' %}" media='all' />
<link rel='stylesheet' id='flexslider-css' href="{% static 'content_css/flexslider.min.css' %}" media='all' />
<link rel='stylesheet' id='slick-css' href="{% static 'content_css/slick.css' %}" media='all' />
<link rel='stylesheet' id='slick-theme-css' href="{% static 'content_css/slick-theme.css' %}" media='all' />
<link rel='stylesheet' id='prettyphoto-css' href="{% static 'content_css/prettyPhoto.min.css' %}" media='all' />
<link rel='stylesheet' id='bootstrap-css' href="{% static 'content_css/bootstrap.min.css' %}" media='all' />
<link rel='stylesheet' id='bootstrap-theme-css' href="{% static 'content_css/bootstrap-theme.min.css' %}" media='all' />
<link rel='stylesheet' id='attorco-core-style-css' href="{% static 'content_css/core.css' %}" media='all' />
<link rel='stylesheet' id='js_composer_front-css' href="{% static 'content_css/js_composer.min.css' %}" media='all' />
<link rel='stylesheet' id='attorco-master-style-css' href="{% static 'content_css/master-advanced.css' %}"
	media='all' />
<link rel='stylesheet' id='attorco-responsive-style-css' href="{% static 'content_css/responsive-advanced.css' %}"
	media='all' />
<link rel='stylesheet' href="{% static 'content_css/admin_style.css' %}" media='all' />
<!-- <link rel='stylesheet' id='tste-attorco-theme-style-css'  href='wp-admin/admin-ajax.php?action=themestek_theme_css&amp;ver=5.3.2'  media='all' /> -->
<script src="{% static 'content_js/jquery.js' %}"></script>
<script src="{% static 'content_js/jquery-migrate.min.js' %}"></script>
<script src="{% static 'content_js/revolution.tools.min.js' %}"></script>
<script src="{% static 'content_js/rs6.min.js' %}"></script>
<script src="{% static 'content_js/jquery-resize.min.js' %}"></script>
<script src="{% static 'content_js/jquery.blockUI.min.js' %}"></script>
<script>
	/* <![CDATA[ */
	var wc_add_to_cart_params = { "ajax_url": "\/barrister\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/barrister\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "Sepeti g\u00f6r\u00fcnt\u00fcle", "cart_url": "http:\/\/localhost\/barrister\/sepet\/", "is_cart": "", "cart_redirect_after_add": "no" };
/* ]]> */
</script>
<script src="{% static 'content_js/add-to-cart.min.js' %}"></script>
<script src="{% static 'content_js/woocommerce-add-to-cart.js' %}"></script>
<link rel='https://api.w.org/' href='/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
<meta name="generator" content="WordPress 5.3.2" />
<meta name="generator" content="WooCommerce 4.0.1" />
<link rel="canonical" href="/our-attorneys/" />
<link rel='shortlink' href='/?p=6691' />
<link rel="alternate" type="application/json+oembed"
	href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fbarrister%2Four-attorneys%2F" />
<link rel="alternate" type="text/xml+oembed"
	href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fbarrister%2Four-attorneys%2F&#038;format=xml" />
<!-- Inline CSS Start -->
<!-- Inline CSS End --> <noscript>
	<style>
		.woocommerce-product-gallery {
			opacity: 1 !important;
		}
	</style>
</noscript>
<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
<meta name="generator"
	content="Powered by Slider Revolution 6.1.7 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
<script>function setREVStartSize(e) {
		try {
			var pw = document.getElementById(e.c).parentNode.offsetWidth,
				newh;
			pw = pw === 0 || isNaN(pw) ? window.innerWidth : pw;
			e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
			e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
			e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
			e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
			e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
			e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
			e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
			if (e.layout === "fullscreen" || e.l === "fullscreen")
				newh = Math.max(e.mh, window.innerHeight);
			else {
				e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
				for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
				e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
				e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
				for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];

				var nl = new Array(e.rl.length),
					ix = 0,
					sl;
				e.tabw = e.tabhide >= pw ? 0 : e.tabw;
				e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
				e.tabh = e.tabhide >= pw ? 0 : e.tabh;
				e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
				for (var i in e.rl) nl[i] = e.rl[i] < window.innerWidth ? 0 : e.rl[i];
				sl = nl[0];
				for (var i in nl) if (sl > nl[i] && nl[i] > 0) { sl = nl[i]; ix = i; }
				var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);

				newh = (e.type === "carousel" && e.justify === "true" ? e.gh[ix] : (e.gh[ix] * m)) + (e.tabh + e.thumbh);
			}

			if (window.rs_init_css === undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
			document.getElementById(e.c).height = newh;
			window.rs_init_css.innerHTML += "#" + e.c + "_wrapper { height: " + newh + "px }";
		} catch (e) {
			console.log("Failure at Presize of Slider:" + e)
		}
	};</script>
<noscript>
	<style>
		.wpb_animate_when_almost_visible {
			opacity: 1;
		}
	</style>
</noscript>
{% endblock %}

{% block body %}

<body
	class="page-template-default page page-id-6691 theme-attorco woocommerce-no-js themestek-headerstyle-classic-overlay themestek-wide themestek-page-full-width themestek-empty-sidebar wpb-js-composer js-comp-ver-6.1 vc_responsive">
	<div id="themestek-home"></div>
	<div class="main-holder">
		<div id="page" class="hfeed site">
			{% block header %}
			<header id="masthead"
				class="themestek-header-style-classic themestek-header-overlay themestek-main-menu-total-7 themestek-main-menu-more-than-six">
				<div
					class="themestek-header-block  themestek-mmenu-active-color-skin themestek-dmenu-active-color-skin">
					<div class="themestek-search-overlay">
						<div class="themestek-form-title">Hi, How Can We Help You?</div>
						<div class="themestek-icon-close"></div>
						<div class="themestek-search-outer">
							<div class="themestek-search-logo"><img
									src="http://attorco.themestek2.com/demo1/wp-content/uploads/sites/4/2019/07/logo-white.png"
									alt="barrister" /></div>
							<form method="get" class="themestek-site-searchform" action="">
								<input type="search" class="field searchform-s" name="s"
									placeholder="Type Word Then Press Enter" />
								<button type="submit"><span class="themestek-attorco-icon-search"></span></button>
							</form>
						</div>
					</div>
					<div id="themestek-stickable-header-w-main" class="themestek-stickable-header-w-main">
						{% block pre-header %}
						{{ block.super }}
						{% endblock %}
						{% block header-navigation %}
						{{ block.super }}
						{% endblock %}
					</div>
					<div
						class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes">
						<div class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"></div>
						<div class="themestek-titlebar entry-header">
							<div class="themestek-titlebar-inner-wrapper">
								<div class="themestek-titlebar-main">
									<div class="container">
										<div class="themestek-titlebar-main-inner">
											<div class="entry-title-wrapper">
												<div class="container">
													<h1 class="entry-title"> Our Attorneys</h1>
												</div>
											</div>
											<div class="breadcrumb-wrapper">
												<div class="container">
													<div class="breadcrumb-wrapper-inner">
														<!-- Breadcrumb NavXT output --><span><a
																title="Go to barrister." href="" class="home"><i
																	class="fa fa-home"></i><span
																	class="hide">barrister</span></a></span> <span
															class="themestek-bread-sep"> &nbsp; &rarr;
															&nbsp;</span><span class="post post-page current-item">Our
															Attorneys</span></div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- .themestek-titlebar-main -->
							</div><!-- .themestek-titlebar-inner-wrapper -->
						</div><!-- .themestek-titlebar -->
					</div><!-- .themestek-titlebar-wrapper -->
				</div>
			</header><!-- .site-header -->
			{% endblock %}

			{% block content %}
			<div id="content-wrapper" class="site-content-wrapper">
				<div id="content" class="site-content">
					<div id="content-inner" class="site-content-inner">
						<div id="primary" class="content-area">
							<main id="main" class="site-main">
								<article id="post-6691" class="post-6691 page type-page status-publish hentry">
									<header class="single-entry-header themestek-hide">
										<h2 class="entry-title">Our Attorneys</h2>
									</header><!-- .entry-header -->
									<div class="entry-content">
										<div data-vc-full-width="true" data-vc-full-width-init="false"
											class="themestek-row wpb_row vc_row-fluid themestek-total-col-1 themestek-zindex-0 themestek-bgcolor-white themestek-bgimage-position-center_center">
											<div class="vc_row container">
												<div
													class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
													<div class="vc_column-inner">
														<div class="wpb_wrapper">
															<div
																class="themestek-boxes themestek-boxes-team themestek-boxes-view-default themestek-boxes-col-three themestek-boxes-sortable-no themestek-boxes-textalign-center themestek-boxes-sortablebutton- themestek-two-colum-view">
																<div
																	class="themestek-boxes-inner themestek-boxes-team-inner">

																	<div
																		class="row multi-columns-row themestek-boxes-row-wrapper">

																		{% for attorney in page_obj %}
																		

																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12">
																			<article
																				class="themestek-box themestek-box-team themestek-teambox-style-3">
																				<div class="themestek-post-item">
																					<div
																						class="themestek-team-image-box">

																						<span
																							class="themestek-item-thumbnail">
																							<span
																								class="themestek-item-thumbnail-inner">
																								{% if attorney.profile.image %}
																								<img width="600"
																									height="700"
																									src="{{attorney.profile.image.url}}"
																									class="attachment-themestek-img-600x700 size-themestek-img-600x700 wp-post-image"
																									alt="" />
																								{% else %}
																								<img width="600"
																									height="700" src=""
																									class="attachment-themestek-img-600x700 size-themestek-img-600x700 wp-post-image"
																									alt="" />
																								{% endif %}

																							</span>
																						</span>
																						<div class="themestek-teambox-social-links">
																							<div class="themestek-team-social-links-wrapper">
																								<ul class="themestek-team-social-links">
																									{% if attorney.profile.facebook_link %}
                                                  <li>
                                                    <a href="{{attorney.profile.facebook_link}}" target="_blank" class="themestek-team-social-facebook">
                                                      <i class="themestek-attorco-icon-facebook"></i>
                                                      <span class="themestek-hide">Facebook</span>
                                                    </a>
                                                  </li>
                                                  {% endif %}
                                                  {% if attorney.profile.twitter_link %}
                                                  <li>
                                                    <a href="{{attorney.profile.twitter_link}}" target="_blank" class="themestek-team-social-twitter">
                                                      <i class="themestek-attorco-icon-twitter"></i>
                                                      <span class="themestek-hide">Twitter</span>
                                                    </a>
                                                  </li>
                                                  {% endif %}
                                                  {% if attorney.profile.google_link %}
                                                  <li>
                                                    <a href="{{attorney.profile.google_link}}" target="_blank" class="themestek-team-social-google">
                                                      <i class="themestek-attorco-icon-gplus"></i>
                                                      <span class="themestek-hide">Google+</span>
                                                    </a>
                                                  </li>
                                                  {% endif %}
                                                  {% if attorney.profile.linkedin_link %}
                                                  <li>
                                                    <a href="{{attorney.profile.linkedin_link}}" target="_blank" class="themestek-team-social-linkedin">
                                                      <i class="themestek-attorco-icon-linkedin"></i>
                                                      <span class="themestek-hide">LinkedIn</span>
                                                    </a>
                                                  </li>
                                                  {% endif %}
																								</ul>
																								<!-- .themestek-team-social-links -->
																							</div>
																							<!-- .themestek-team-social-links-wrapper -->
																						</div>
																					</div>
																					<div class="themestek-box-content">
																						<div
																							class="themestek-box-content-inner">
																							<div
																								class="themestek-pf-box-title">
																								<div
																									class="themestek-box-title">

																									<h4><a
																											href="/team/lily-watson/"></a>
																										{% if attorney.first_name %}
																										  {{attorney.first_name }} {{attorney.last_name}}
																										{% else %}
																										-
																										{% endif %}
																									</h4>


																								</div>
																							</div>
																							<div
																								class="themestek-box-team-position themestek-skincolor">
																								{% if attorney.email %}
																								  {{attorney.email}}
																								{% else %}
																								  -
																								{% endif %}
																							</div>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		

																		{% endfor %}

																	</div>
																</div><!-- .themestek-boxes-inner -->
															</div><!-- .themestek-boxes -->
														</div>
													</div>
												</div>
											</div>
										</div>
										<ul class="pagination mt-3">

											{% if page_obj.number > 1 %}
											<li class="page-item"><a class="page-link"
													href="?page={{page_obj.previous_page_number}}">
													<</a>
											</li>
											{% endif %}
											{% for page in page_obj|get_page_list %}
											{% if page == page_obj.number %}
											<li class="page-item active"><a class="page-link"
													href="?page={{page}}">{{page}}</a></li>
											{% else %}
											<li class="page-item"><a class="page-link"
													href="?page={{page}}">{{page}}</a></li>
											{% endif %}
											{% endfor %}
											{% if page_obj.number < page_obj.paginator.num_pages %}
											<li class="page-item"><a class="page-link"
													href="?page={{page_obj.next_page_number}}">></a></li>
											{% endif %}
										</ul>
										<div class="vc_row-full-width vc_clearfix"></div>
									</div><!-- .entry-content -->
								</article><!-- #post-## -->
							</main><!-- #main .site-main -->
						</div><!-- #primary .content-area -->
					</div><!-- .site-content-inner -->
				</div><!-- .site-content -->
			</div><!-- .site-content-wrapper -->
			{% endblock %}

			{% block footer %}
			{{ block.super }}
			{% endblock %}
		</div><!-- #page .site -->
	</div><!-- .main-holder -->
	<!-- To Top -->
	<a id="totop" href="#top"><i class="themestek-attorco-icon-angle-up"></i></a>

	{% block scripts %}
	{{ block.super }}
	<!-- <script>(function () {
			function maybePrefixUrlField() {
				if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
					this.value = "http://" + this.value;
				}
			}

			var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
			if (urlFields) {
				for (var j = 0; j < urlFields.length; j++) {
					urlFields[j].addEventListener('blur', maybePrefixUrlField);
				}
			}
		})();</script>
	<script type="text/html" id="wpb-modifications"></script>
	<script>
		var c = document.body.className;
		c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
		document.body.className = c;
	</script>
	<script>
		/* <![CDATA[ */
		var wpcf7 = { "apiSettings": { "root": "http:\/\/localhost\/barrister\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
/* ]]> */
	</script>
	<script src="{% static 'content_js/cf_js/scripts.js' %}"></script>
	<script src="{% static 'content_js/js.cookie.min.js' %}"></script>
	<script>
		/* <![CDATA[ */
		var woocommerce_params = { "ajax_url": "\/barrister\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/barrister\/?wc-ajax=%%endpoint%%" };
/* ]]> */
	</script>
	<script src="{% static 'content_js/woocommerce.min.js' %}"></script>
	<script>
		/* <![CDATA[ */
		/* ]]> */
	</script>
	<script src="{% static 'content_js/cart-fragments.min.js' %}"></script>
	<script src="{% static 'content_js/perfect-scrollbar.jquery.min.js' %}"></script>
	<script src="{% static 'content_js/select2.min.js' %}"></script>
	<script src="{% static 'content_js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'content_js/jquery.mousewheel.min.js' %}"></script>
	<script src="{% static 'content_js/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'content_js/jquery.sticky-kit.min.js' %}"></script>
	<script src="{% static 'content_js/slick.min.js' %}"></script>
	<script src="{% static 'content_js/jquery.prettyPhoto.min.js' %}"></script>
	<script src="{% static 'content_js/js_composer_front.min.js' %}"></script>
	<script>
		/* <![CDATA[ */
		var themestek_breakpoint = "1200";
		var ajaxurl = "http:\/\/localhost\/barrister\/wp-admin\/admin-ajax.php";
/* ]]> */
	</script>
	<script src="{% static 'content_js/attorco_js/scripts.js' %}"></script>
	<script src="{% static 'content_js/forms.min.js' %}"></script> -->
	{% endblock %}

</body>
{% endblock %}