{% extends 'base.html' %}

{% load static %}

{% block title %}
	<title>Blog Grid View &#8211; barrister</title>
{% endblock %}

{% block links %}
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script> 'use strict'; (function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
	<meta name='robots' content='noindex,nofollow' />
	<link rel='dns-prefetch' href='//fonts.googleapis.com' />
	<link rel='dns-prefetch' href='//s.w.org' />
	<link rel="alternate" type="application/rss+xml" title="barrister &raquo; beslemesi" href="/feed/" />
	<link rel="alternate" type="application/rss+xml" title="barrister &raquo; yorum beslemesi" href="/comments/feed/" />
	<link rel='stylesheet' id='wp-block-library-css' href="{% static 'content_css/style.min.css' %}" media='all' />
	<link rel='stylesheet' id='contact-form-7-css' href="{% static 'content_css/styles.css' %}" media='all' />
	<link rel='stylesheet' id='rs-plugin-settings-css' href="{% static 'content_css/rs6.css' %}" media='all' />
	<style id='rs-plugin-settings-inline-css'>
		#rs-demo-id {}
	</style>
	<link rel='stylesheet' id='font-awesome-css' href="{% static 'content_css/font-awesome.min.css' %}" media='all' />
	<link rel='stylesheet' id='sgicon-css' href="{% static 'content_css/style.css' %}" media='all' />
	<link rel='stylesheet' id='vc_linecons-css' href="{% static 'content_css/vc_linecons_icons.min.css' %}" media='all' />
	<link rel='stylesheet' id='themestek-cs-google-fonts-css'
		href='http://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CPlayfair+Display%3A400%2Citalic%2C700%2C700italic%2C900%2C900italic%7CNunito+Sans%3A700&amp;ver=1.0.0' 
		media='all' />
	<link rel='stylesheet' id='themestek-base-icons-css' href="{% static 'content_css/themestek-attorco-icons.css' %}" media='all' />
	<link rel='stylesheet' id='perfect-scrollbar-css' href="{% static 'content_css/perfect-scrollbar.min.css' %}" media='all' />
	<link rel='stylesheet' id='chrisbracco-tooltip-css' href="{% static 'content_css/chrisbracco-tooltip.min.css' %}" media='all' />
	<link rel='stylesheet' id='multi-columns-row-css' href="{% static 'content_css/multi-columns-row.css' %}" media='all' />
	<link rel='stylesheet' id='select2-css' href="{% static 'content_css/select2.min.css' %}" media='all' />
	<link rel='stylesheet' id='flexslider-css' href="{% static 'content_css/flexslider.min.css' %}" media='all' />
	<link rel='stylesheet' id='slick-css' href="{% static 'content_css/slick.css' %}" media='all' />
	<link rel='stylesheet' id='slick-theme-css' href="{% static 'content_css/slick-theme.css' %}" media='all' />
	<link rel='stylesheet' id='prettyphoto-css' href="{% static 'content_css/prettyPhoto.min.css' %}" media='all' />
	<link rel='stylesheet' id='js_composer_front-css' href="{% static 'content_css/js_composer.min.css' %}" media='all' />
	<link rel='stylesheet' id='bootstrap-css' href="{% static 'content_css/bootstrap.min.css' %}" media='all' />
	<link rel='stylesheet' id='bootstrap-theme-css' href="{% static 'content_css/bootstrap-theme.min.css' %}" media='all' />
	<link rel='stylesheet' id='attorco-core-style-css' href="{% static 'content_css/core.css' %}" media='all' />
	<link rel='stylesheet' id='attorco-master-style-css' href="{% static 'content_css/master-advanced.css' %}" media='all' />
	<link rel='stylesheet' id='attorco-responsive-style-css' href="{% static 'content_css/responsive-advanced.css' %}" media='all' />
	<link rel='stylesheet' href="{% static 'content_css/admin_style.css' %}" media='all' />
	<!-- <link rel='stylesheet' id='tste-attorco-theme-style-css'  href='wp-admin/admin-ajax.php?action=themestek_theme_css&amp;ver=5.3.2'  media='all' /> -->
	<script src="{% static 'content_js/jquery.js' %}"></script>
	<script src="{% static 'content_js/jquery-migrate.min.js' %}"></script>
	<script src="{% static 'content_js/revolution.tools.min.js' %}"></script>
	<script src="{% static 'content_js/rs6.min.js' %}"></script>
	<script src="{% static 'content_js/jquery-resize.min.js' %}"></script>
	<link rel='https://api.w.org/' href='/wp-json/' />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
	<meta name="generator" content="WordPress 5.3.2" />
	<link rel="canonical" href="/blog-grid-view/" />
	<link rel='shortlink' href='/?p=6642' />
	<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fbarrister%2Fblog-grid-view%2F" />
	<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fbarrister%2Fblog-grid-view%2F&#038;format=xml" />
	<!-- Inline CSS Start -->
	<!-- Inline CSS End -->
	<meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
	<meta name="generator"
		content="Powered by Slider Revolution 6.1.7 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
	<script>function setREVStartSize(e) {
			try {
				var pw = document.getElementById(e.c).parentNode.offsetWidth,
					newh;
				pw = pw === 0 || isNaN(pw) ? window.innerWidth : pw;
				e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
				e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
				e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
				e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
				e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
				e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
				e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
				if (e.layout === "fullscreen" || e.l === "fullscreen")
					newh = Math.max(e.mh, window.innerHeight);
				else {
					e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
					for (var i in e.rl) if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
					e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
					e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
					for (var i in e.rl) if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];

					var nl = new Array(e.rl.length),
						ix = 0,
						sl;
					e.tabw = e.tabhide >= pw ? 0 : e.tabw;
					e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
					e.tabh = e.tabhide >= pw ? 0 : e.tabh;
					e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
					for (var i in e.rl) nl[i] = e.rl[i] < window.innerWidth ? 0 : e.rl[i];
					sl = nl[0];
					for (var i in nl) if (sl > nl[i] && nl[i] > 0) { sl = nl[i]; ix = i; }
					var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);

					newh = (e.type === "carousel" && e.justify === "true" ? e.gh[ix] : (e.gh[ix] * m)) + (e.tabh + e.thumbh);
				}

				if (window.rs_init_css === undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
				document.getElementById(e.c).height = newh;
				window.rs_init_css.innerHTML += "#" + e.c + "_wrapper { height: " + newh + "px }";
			} catch (e) {
				console.log("Failure at Presize of Slider:" + e)
			}
		};
	</script>
	<noscript>
		<style>
			.wpb_animate_when_almost_visible {
				opacity: 1;
			}
		</style>
	</noscript>
{% endblock %}


          
{% block header %}
  <div
    class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes">
    <div class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"></div>
    <div class="themestek-titlebar entry-header">
      <div class="themestek-titlebar-inner-wrapper">
        <div class="themestek-titlebar-main">
          <div class="container">
            <div class="themestek-titlebar-main-inner">
              <div class="entry-title-wrapper">
                <div class="container">
                  <h1 class="entry-title"> Blog Grid View</h1>
                </div>
              </div>
              <div class="breadcrumb-wrapper">
                <div class="container">
                  <div class="breadcrumb-wrapper-inner">
                    <!-- Breadcrumb NavXT output --><span><a
                        title="Go to barrister." href="" class="home"><i
                          class="fa fa-home"></i><span
                          class="hide">barrister</span></a></span> <span
                      class="themestek-bread-sep"> &nbsp; &rarr;
                      &nbsp;</span><span class="post post-page current-item">Blog
                      Grid View</span></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- .themestek-titlebar-main -->
      </div><!-- .themestek-titlebar-inner-wrapper -->
    </div><!-- .themestek-titlebar -->
  </div><!-- .themestek-titlebar-wrapper -->
{% endblock %}


{% block content %}
  <div id="content-wrapper" class="site-content-wrapper">
				<div id="content" class="site-content">
					<div id="content-inner" class="site-content-inner">
						<div id="primary" class="content-area">
							<main id="main" class="site-main">
								<article id="post-6642" class="post-6642 page type-page status-publish hentry">
									<header class="single-entry-header themestek-hide">
										<h2 class="entry-title">Blog Grid View</h2>
									</header><!-- .entry-header -->
									<div class="entry-content">
										<div data-vc-full-width="true" data-vc-full-width-init="false"
											class="themestek-row wpb_row vc_row-fluid themestek-total-col-1 themestek-zindex-0 themestek-bgimage-position-center_center">
											<div class="vc_row container">
												<div
													class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
													<div class="vc_column-inner">
														<div class="wpb_wrapper">
															<div
																class="themestek-boxes themestek-boxes-blog themestek-boxes-view-default themestek-boxes-col-three themestek-boxes-sortable-no themestek-boxes-textalign-center themestek-boxes-sortablebutton-">
																<div
																	class="themestek-boxes-inner themestek-boxes-blog-inner">

																	<div
																		class="row multi-columns-row themestek-boxes-row-wrapper">
																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 financial-law">
																			<article
																				class="themestek-box themestek-box-blog themestek-blogbox-style-1 themestek-blogbox-format-">
																				<div class="post-item">
																					<div
																						class="themestek-blog-image-with-meta">
																						<div
																							class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
																							<img width="800"
																								height="650"
																								src="{% static '/uploads/2018/12/img-02-800x650.jpg' %}"
																								class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																								alt="" /></div>
																						<div
																							class="themestek-meta-date">
																							13<span>Haz</span></div>
																					</div>
																					<div class="themestek-box-content">
																						<span
																							class="ts-meta-line cat-links"><span
																								class="screen-reader-text ts-hide">Categories
																							</span><a
																								href="/category/financial-law/">Financial
																								Law</a></span>

																						<div
																							class="themestek-box-title">
																							<h4><a
																									href="/2019/06/13/how-is-mediation-useful-in-family-law-cases/">How
																									Is Mediation Useful
																									in Family Law
																									Cases?</a></h4>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 criminal-law">
																			<article
																				class="themestek-box themestek-box-blog themestek-blogbox-style-1 themestek-blogbox-format-">
																				<div class="post-item">
																					<div
																						class="themestek-blog-image-with-meta">
																						<div
																							class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
																							<img width="800"
																								height="650"
																								src="{% static 'uploads/2018/12/img-02-800x650.jpg' %}"
																								class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																								alt="" /></div>
																						<div
																							class="themestek-meta-date">
																							13<span>Haz</span></div>
																					</div>
																					<div class="themestek-box-content">
																						<span
																							class="ts-meta-line cat-links"><span
																								class="screen-reader-text ts-hide">Categories
																							</span><a
																								href="/category/criminal-law/">Criminal
																								Law</a></span>

																						<div
																							class="themestek-box-title">
																							<h4><a
																									href="/2019/06/13/allow-to-miles-wound-be-place-the-leave/">Allow
																									to miles wound be
																									place the leave.</a>
																							</h4>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 employment-law">
																			<article
																				class="themestek-box themestek-box-blog themestek-blogbox-style-1 themestek-blogbox-format-">
																				<div class="post-item">
																					<div
																						class="themestek-blog-image-with-meta">
																						<div
																							class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
																							<img width="800"
																								height="650"
																								src="{% static 'uploads/2018/12/img-02-800x650.jpg' %}"
																								class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																								alt="" /></div>
																						<div
																							class="themestek-meta-date">
																							13<span>Haz</span></div>
																					</div>
																					<div class="themestek-box-content">
																						<span
																							class="ts-meta-line cat-links"><span
																								class="screen-reader-text ts-hide">Categories
																							</span><a
																								href="/category/employment-law/">Employment
																								Law</a></span>

																						<div
																							class="themestek-box-title">
																							<h4><a
																									href="/2019/06/13/what-we-are-capable-of-usually-gets-discovered/">What
																									we are capable of
																									usually gets
																									discovered</a></h4>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 criminal-law">
																			<article
																				class="themestek-box themestek-box-blog themestek-blogbox-style-1 themestek-blogbox-format-">
																				<div class="post-item">
																					<div
																						class="themestek-blog-image-with-meta">
																						<div
																							class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
																							<img width="800"
																								height="650"
																								src="{% static '/uploads/2018/12/img-02-800x650.jpg' %}"
																								class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																								alt="" /></div>
																						<div
																							class="themestek-meta-date">
																							12<span>Haz</span></div>
																					</div>
																					<div class="themestek-box-content">
																						<span
																							class="ts-meta-line cat-links"><span
																								class="screen-reader-text ts-hide">Categories
																							</span><a
																								href="/category/criminal-law/">Criminal
																								Law</a></span>

																						<div
																							class="themestek-box-title">
																							<h4><a
																									href="/2019/06/12/series-stopping-domestic-violence-before-it-escalates/">Series
																									Stopping Domestic
																									Violence Before It
																									Escalates</a></h4>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 criminal-law">
																			<article
																				class="themestek-box themestek-box-blog themestek-blogbox-style-1 themestek-blogbox-format-">
																				<div class="post-item">
																					<div
																						class="themestek-blog-image-with-meta">
																						<div
																							class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
																							<img width="800"
																								height="650"
																								src="{% static '/uploads/2018/12/img-02-800x650.jpg' %}"
																								class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																								alt="" /></div>
																						<div
																							class="themestek-meta-date">
																							12<span>Haz</span></div>
																					</div>
																					<div class="themestek-box-content">
																						<span
																							class="ts-meta-line cat-links"><span
																								class="screen-reader-text ts-hide">Categories
																							</span><a
																								href="/category/criminal-law/">Criminal
																								Law</a></span>

																						<div
																							class="themestek-box-title">
																							<h4><a
																									href="/2019/06/12/can-your-business-become-better-with-technology/">Can
																									your business become
																									better with
																									technology?</a></h4>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 employment-law">
																			<article
																				class="themestek-box themestek-box-blog themestek-blogbox-style-1 themestek-blogbox-format-">
																				<div class="post-item">
																					<div
																						class="themestek-blog-image-with-meta">
																						<div
																							class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
																							<img width="800"
																								height="650"
																								src="{% static '/uploads/2018/12/img-02-800x650.jpg' %}"
																								class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																								alt="" /></div>
																						<div
																							class="themestek-meta-date">
																							12<span>Haz</span></div>
																					</div>
																					<div class="themestek-box-content">
																						<span
																							class="ts-meta-line cat-links"><span
																								class="screen-reader-text ts-hide">Categories
																							</span><a
																								href="/category/employment-law/">Employment
																								Law</a></span>

																						<div
																							class="themestek-box-title">
																							<h4><a
																									href="/2019/06/12/while-now-the-fated-pequod-had-been-so-long/">While
																									now the fated Pequod
																									had been so long</a>
																							</h4>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 employment-law">
																			<article
																				class="themestek-box themestek-box-blog themestek-blogbox-style-1 themestek-blogbox-format-">
																				<div class="post-item">
																					<div
																						class="themestek-blog-image-with-meta">
																						<div
																							class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
																							<img width="800"
																								height="650"
																								src="{% static '/uploads/2018/12/img-02-800x650.jpg' %}"
																								class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																								alt="" /></div>
																						<div
																							class="themestek-meta-date">
																							10<span>Haz</span></div>
																					</div>
																					<div class="themestek-box-content">
																						<span
																							class="ts-meta-line cat-links"><span
																								class="screen-reader-text ts-hide">Categories
																							</span><a
																								href="/category/employment-law/">Employment
																								Law</a></span>

																						<div
																							class="themestek-box-title">
																							<h4><a
																									href="/2019/06/10/day-care-responsibility-to-protect-children/">Day
																									Care Responsibility
																									to Protect
																									Children</a></h4>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 financial-law">
																			<article
																				class="themestek-box themestek-box-blog themestek-blogbox-style-1 themestek-blogbox-format-">
																				<div class="post-item">
																					<div
																						class="themestek-blog-image-with-meta">
																						<div
																							class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
																							<img width="800"
																								height="650"
																								src="{% static '/uploads/2018/12/img-02-800x650.jpg' %}"
																								class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																								alt="" /></div>
																						<div
																							class="themestek-meta-date">
																							10<span>Haz</span></div>
																					</div>
																					<div class="themestek-box-content">
																						<span
																							class="ts-meta-line cat-links"><span
																								class="screen-reader-text ts-hide">Categories
																							</span><a
																								href="/category/financial-law/">Financial
																								Law</a></span>

																						<div
																							class="themestek-box-title">
																							<h4><a
																									href="/2019/06/10/strategy-for-norways-peion-fund-global/">Strategy
																									for Norway’s Peion
																									Fund Global.</a>
																							</h4>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																		<div
																			class="themestek-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12 criminal-law">
																			<article
																				class="themestek-box themestek-box-blog themestek-blogbox-style-1 themestek-blogbox-format-">
																				<div class="post-item">
																					<div
																						class="themestek-blog-image-with-meta">
																						<div
																							class="themestek-featured-wrapper themestek-post-featured-wrapper themestek-post-format-">
																							<img width="800"
																								height="650"
																								src="{% static '/uploads/2018/12/img-02-800x650.jpg' %}"
																								class="attachment-themestek-img-800x650 size-themestek-img-800x650 wp-post-image"
																								alt="" /></div>
																						<div
																							class="themestek-meta-date">
																							09<span>Ağu</span></div>
																					</div>
																					<div class="themestek-box-content">
																						<span
																							class="ts-meta-line cat-links"><span
																								class="screen-reader-text ts-hide">Categories
																							</span><a
																								href="/category/criminal-law/">Criminal
																								Law</a></span>

																						<div
																							class="themestek-box-title">
																							<h4><a
																									href="/2017/08/09/us-sues-california-over-immigration-laws/">US
																									Sues California Over
																									Immigration Laws</a>
																							</h4>
																						</div>
																					</div>
																				</div>
																			</article>
																		</div>
																	</div>
																</div><!-- .themestek-boxes-inner -->
															</div><!-- .themestek-boxes -->
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="vc_row-full-width vc_clearfix"></div>
									</div><!-- .entry-content -->
								</article><!-- #post-## -->
							</main><!-- #main .site-main -->
						</div><!-- #primary .content-area -->
					</div><!-- .site-content-inner -->
				</div><!-- .site-content -->
  </div><!-- .site-content-wrapper -->
{% endblock %}


{% block scripts %}
  <script>(function () {
    function maybePrefixUrlField() {
      if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
        this.value = "http://" + this.value;
      }
    }

    var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
    if (urlFields) {
      for (var j = 0; j < urlFields.length; j++) {
        urlFields[j].addEventListener('blur', maybePrefixUrlField);
      }
    }
  })();
  </script>
  <script type="text/html" id="wpb-modifications"></script>
  <script>
    /* <![CDATA[ */
    var wpcf7 = { "apiSettings": { "root": "http:\/\/localhost\/barrister\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
    /* ]]> */
  </script>
  <script src="{% static 'content_js/cf_js/scripts.js' %}"></script>
  <script src="{% static 'content_js/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'content_js/select2.min.js' %}"></script>
  <script src="{% static 'content_js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'content_js/jquery.mousewheel.min.js' %}"></script>
  <script src="{% static 'content_js/jquery.flexslider-min.js' %}"></script>
  <script src="{% static 'content_js/jquery.sticky-kit.min.js' %}"></script>
  <script src="{% static 'content_js/slick.min.js' %}"></script>
  <script src="{% static 'content_js/jquery.prettyPhoto.min.js' %}"></script>
  <script src="{% static 'content_js/js_composer_front.min.js' %}"></script>
  <script>
    /* <![CDATA[ */
    var themestek_breakpoint = "1200";
    var ajaxurl = "http:\/\/localhost\/barrister\/wp-admin\/admin-ajax.php";
    /* ]]> */
  </script>
  <script src="{% static 'content_js/attorco_js/scripts.js' %}"></script>
  <script src="{% static 'content_js/mailchimp-for-wp/forms.min.js' %}"></script>
{% endblock %}