{% extends 'barrister/barrister-admin.html' %}
{% load static %}

{% block title %}
<title>Calendar</title>
{% endblock title %}


{% block links %}
{{ block.super }}
{% endblock links %}



{% block content %}

<main class="page-content">
  <div class="container-fluid">
    <div id='calendar-ms'></div>
    <div id='datepicker'></div>
    <div class="modal fade event_save" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" style="max-width: 380px;" role="document">
        <div class="modal-content">

          <div class="modal-body calendar-modal">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                  aria-selected="true">Görüş</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                  aria-controls="profile" aria-selected="false">Hadisə</a>
              </li>

            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane mt-2 fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <form>
                  <div class="form-group">
                    <div class="card mt-1 p-2 auto_name_2">
                      <div class="card-body d-flex justify-content-between p-0">
                        <div class="d-flex">
                          <div class="auto-img">
                            AB
                          </div>
                          <div class="pl-3">
                            <h6>Asim Babayev</h6>
                            <span class="blockquote-footer">musahesenli02@gmail.com</span>
                          </div>
                        </div>
                        <div>
                          <div class="close close-information" style="cursor: pointer;font-size: 14px;">
                            <span> &times;</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-1 mb-0">
                    <input type="text" autocomplete="off" class="form-control" id="name_input" placeholder="Ad">
                    <div class="card mt-1 p-2 auto_name">
                      <div class="card-body d-flex p-0">
                        <div class="auto-img">
                          AB
                        </div>
                        <div class="pl-3">
                          <h6>Asim Babayev</h6>
                          <span class="blockquote-footer">musahesenli02@gmail.com</span>
                        </div>
                      </div>
                    </div>
                    <div class="alert mt-1 mb-1 alert-warning" id="name_alert">
                      Ad məcburidir
                    </div>
                  </div>
                  <div class="form-group my-2 mt-1">
                    <input type="email" class="form-control" required placeholder="E-mail" name="" id="email_input">
                  </div>
                  <div class="form-group my-2">
                    <input type="tel" class="form-control" placeholder="Telefon" name="" id="phone_input">
                  </div>
                  <div class="form-group my-2">
                    <input type="text" class="form-control" placeholder="Ünvan" name="" id="address_input">
                  </div>
                  <div class="form-group mb-1">
                    <div class="mr-3 float-left" style="width: 40%;">
                      <label for="">Gün</label>
                      <input type="tex" class="form-control datetimepicker-input dropdown-input validation-date"
                        id="date_input" data-target="#date_input" data-toggle="datetimepicker">
                    </div>
                    <div class="float-left" style="width: 30%;">
                      <label for="">Saat</label>
                      <div class="dropdown drop times-div">
                        <div required id="time_input" class="validation-time form-control dropdown-input "
                          data-toggle="dropdown">
                          00:15
                        </div>

                        <div class="dropdown-menu times">
                          <div class="begin-time-choices">00:00</div>
                          <div class="begin-time-choices">00:15</div>
                          <div class="begin-time-choices">00:30</div>
                          <div class="begin-time-choices">00:45</div>
                          <div class="begin-time-choices">01:00</div>
                          <div class="begin-time-choices">01:15</div>
                          <div class="begin-time-choices">01:30</div>
                          <div class="begin-time-choices">01:45</div>
                          <div class="begin-time-choices">02:00</div>
                          <div class="begin-time-choices">02:15</div>
                          <div class="begin-time-choices">02:30</div>
                          <div class="begin-time-choices">02:45</div>
                          <div class="begin-time-choices">03:00</div>
                          <div class="begin-time-choices">03:15</div>
                          <div class="begin-time-choices">03:30</div>
                          <div class="begin-time-choices">03:45</div>
                          <div class="begin-time-choices">04:00</div>
                          <div class="begin-time-choices">04:15</div>
                          <div class="begin-time-choices">04:30</div>
                          <div class="begin-time-choices">04:45</div>
                          <div class="begin-time-choices">05:00</div>
                          <div class="begin-time-choices">05:15</div>
                          <div class="begin-time-choices">05:30</div>
                          <div class="begin-time-choices">05:45</div>
                          <div class="begin-time-choices">06:00</div>
                          <div class="begin-time-choices">06:15</div>
                          <div class="begin-time-choices">06:30</div>
                          <div class="begin-time-choices">06:45</div>
                          <div class="begin-time-choices">07:00</div>
                          <div class="begin-time-choices">07:15</div>
                          <div class="begin-time-choices">07:30</div>
                          <div class="begin-time-choices">07:45</div>
                          <div class="begin-time-choices">08:00</div>
                          <div class="begin-time-choices">08:15</div>
                          <div class="begin-time-choices">08:30</div>
                          <div class="begin-time-choices">08:45</div>
                          <div class="begin-time-choices">09:00</div>
                          <div class="begin-time-choices">09:15</div>
                          <div class="begin-time-choices">09:30</div>
                          <div class="begin-time-choices">09:45</div>
                          <div class="begin-time-choices">10:00</div>
                          <div class="begin-time-choices">10:15</div>
                          <div class="begin-time-choices">10:30</div>
                          <div class="begin-time-choices">10:45</div>
                          <div class="begin-time-choices">11:00</div>
                          <div class="begin-time-choices">12:15</div>
                          <div class="begin-time-choices">12:30</div>
                          <div class="begin-time-choices">12:45</div>
                          <div class="begin-time-choices">13:00</div>
                          <div class="begin-time-choices">13:15</div>
                          <div class="begin-time-choices">13:30</div>
                          <div class="begin-time-choices">13:45</div>
                          <div class="begin-time-choices">14:00</div>
                          <div class="begin-time-choices">14:15</div>
                          <div class="begin-time-choices">14:30</div>
                          <div class="begin-time-choices">14:45</div>
                          <div class="begin-time-choices">15:00</div>
                          <div class="begin-time-choices">15:15</div>
                          <div class="begin-time-choices">15:30</div>
                          <div class="begin-time-choices">15:45</div>
                          <div class="begin-time-choices">16:00</div>
                          <div class="begin-time-choices">16:15</div>
                          <div class="begin-time-choices">16:30</div>
                          <div class="begin-time-choices">16:45</div>
                          <div class="begin-time-choices">17:00</div>
                          <div class="begin-time-choices">17:15</div>
                          <div class="begin-time-choices">17:30</div>
                          <div class="begin-time-choices">17:45</div>
                          <div class="begin-time-choices">18:00</div>
                          <div class="begin-time-choices">18:15</div>
                          <div class="begin-time-choices">18:30</div>
                          <div class="begin-time-choices">18:45</div>
                          <div class="begin-time-choices">19:00</div>
                          <div class="begin-time-choices">19:15</div>
                          <div class="begin-time-choices">19:30</div>
                          <div class="begin-time-choices">19:45</div>
                          <div class="begin-time-choices">20:00</div>
                          <div class="begin-time-choices">20:15</div>
                          <div class="begin-time-choices">20:30</div>
                          <div class="begin-time-choices">20:45</div>
                          <div class="begin-time-choices">21:00</div>
                          <div class="begin-time-choices">21:15</div>
                          <div class="begin-time-choices">21:30</div>
                          <div class="begin-time-choices">21:45</div>
                          <div class="begin-time-choices">22:00</div>
                          <div class="begin-time-choices">22:15</div>
                          <div class="begin-time-choices">22:30</div>
                          <div class="begin-time-choices">22:45</div>
                          <div class="begin-time-choices">23:00</div>
                          <div class="begin-time-choices">23:15</div>
                          <div class="begin-time-choices">23:30</div>
                          <div class="begin-time-choices">23:45</div>
                          <div class="begin-time-choices">24:00</div>


                        </div>
                      </div>

                    </div>

                    <div style="width: 30%;">
                      <label for="" class="mt-2">Müddət</label>

                      <div class="dropdown drop times-div-2">
                        <div id="time_input" class="validation-interval time-input form-control dropdown-input"
                          data-toggle="dropdown" value="">
                          15 dəq  
                        </div>

                        <div class="dropdown-menu times-2">
                          <div class="begin-time-choices" value="5">45 dəq</div>
                          <div class="begin-time-choices" value="10">10 dəq</div>
                          <div class="begin-time-choices" value="15">15 dəq</div>
                          <div class="begin-time-choices" value="30">30 dəq</div>
                          <div class="begin-time-choices" value="45">45 dəq</div>
                          <div class="begin-time-choices" value="60">60 dəq</div>
                          <div class="begin-time-choices" value="75">75 dəq</div>
                          <div class="begin-time-choices" value="90">90 dəq</div>
                          <div class="begin-time-choices" value="105">105 dəq</div>
                          <div class="begin-time-choices" value="120">2 saat</div>
                          <div class="begin-time-choices" value="180">3 saat</div>
                          <div class="begin-time-choices" value="240">4 saat</div>
                          <div class="begin-time-choices" value="300">5 saat</div>
                          <div class="begin-time-choices" value="360">6 saat</div>
                          <div class="begin-time-choices" value="420">7 saat</div>
                          <div class="begin-time-choices" value="480">8 saat</div>
                          <div class="begin-time-choices" value="540">9 saat</div>
                          <div class="begin-time-choices" value="600">10 saat</div>
                          <div class="begin-time-choices" value="660">11 saat</div>
                          <div class="begin-time-choices" value="720">12 saat</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="date-alert-2" class="alert  alert-dismissible alert-warning">
                    Gün, Saat və ya müddət seçilməyib
                  </div>
                  <div class="form-group">
                    <div>
                      <label for="" class="">Rezervasiya vəziyyəti</label>
                      <div class="dropdown  times-div-3">
                        <div required id="time_input"
                          class=" form-control dropdown-input validation-reserv client-status" data-toggle="dropdown">

                        </div>


                        <div class="dropdown-menu times-2" id="chosen_1">
                          <div class="begin-time-choices">Təsdiqləndi</div>
                          <div class="begin-time-choices">Müştəri gəldi</div>
                          <div class="begin-time-choices">Müştəri gəlmədi</div>

                        </div>
                      </div>
                      <div id="last-alert" class="alert mt-1 alert-dismissible alert-warning ">
                        Bu sahə boş olmamalıdır
                      </div>
                    </div>
                  </div>
                  <div class="form-group calendar-form-group">
                    <div class="">
                      <span class="mr-3 calendar-note">Qeyd əlavə edin</span>

                      <textarea id="detail_input" class="form-control mt-2 text-area-modal"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-light mr-1" data-dismiss="modal">Ləğv et</button>
                      <button class="btn btn-primary calendar-save-button">Yadda saxla</button>
                    </div>
                  </div>


                </form>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                <form action="" method="dialog">
                  <div class="d-flex align-items-center my-2">
                    <div class="dropdown icon-select-main">
                      <div required class="icon-content form-control" data-id="" data-toggle="dropdown">
                        <i class="fas fa-angle-down"></i>
                      </div>
                      <div class="dropdown-menu icons-contents-main">
                        {% for i in categories %}
                        <div class="icons" data-id="{{i.id}}">
                          <img height="24" width="24" src="{{i.icon.url}}" alt="{{i.name}}">
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div style="width: 90%;position: relative;" class="pl-2">
                      <input autocomplete="off" type="text" required class="form-control" id="event_title"
                        placeholder="Başlıq">

                    </div>
                  </div>



                  <div class="align-items-center d-flex my-1">
                    <input type="checkbox" name="" class="mr-2" id="whole_day_checkbox">
                    <span>Bütün günü</span>
                  </div>

                  <div>
                    <div style="width: 60%;float: left;" class="form-group">
                      <label for="">Başlama tarixi</label>
                      <input autocomplete="off" required type="text" data-toggle="datetimepicker"
                        data-target="#modal_2_begin" id="modal_2_begin"
                        class="datetimepicker-input dropdown-input form-control">
                    </div>
                    <div style="width: 40%;" class="float-left form-group pl-2">
                      <label for="">Saat</label>
                      <input autocomplete="off" required type="text" data-toggle="datetimepicker" data-target="#asim"
                        id="asim" class="datetimepicker-input dropdown-input form-control">
                    </div>
                  </div>
                  <div>
                    <div style="width: 60%;float: left;" class="form-group">
                      <label for="">Bitmə tarixi</label>
                      <input autocomplete="off" required type="text" data-toggle="datetimepicker"
                        data-target="#modal_2_end" id="modal_2_end"
                        class="datetimepicker-input dropdown-input form-control">
                    </div>
                    <div style="width: 40%;" class="float-left form-group pl-2">
                      <label for="">Saat</label>
                      <input autocomplete="off" required type="text" data-toggle="datetimepicker"
                        data-target="#modal_2_end_hour" id="modal_2_end_hour"
                        class="datetimepicker-input dropdown-input form-control ">
                    </div>
                  </div>

                  <div class="form-group">

                    <label for="">Ünvan</label>
                    <input required autocomplete="off" type="text" name="" id="event_location" class="form-control">

                  </div>
                  <div class="form-group">
                    <label for="">Xatırlatma seçin</label>
                    <div class="dropdown  times-div-3">
                      <div required id="time_input" class="form-control dropdown-input validation-reserv remember-timer"
                        data-toggle="dropdown">
                        15 dəq əvvəl
                      </div>


                      <div class="dropdown-menu times-2" id="time_choices">
                        <div class="begin-time-choices">5 dəq əvvəl</div>
                        <div class="begin-time-choices">10 dəq əvvəl</div>
                        <div class="begin-time-choices">15 dəq əvvəl</div>
                        <div class="begin-time-choices">30 dəq əvvəl</div>
                        <div class="begin-time-choices">1 saat əvvəl</div>
                        <div class="begin-time-choices">3 saat əvvəl</div>
                        <div class="begin-time-choices">6 saat əvvəl</div>
                        <div class="begin-time-choices">12 saat əvvəl</div>
                        <div class="begin-time-choices">1 gün əvvəl</div>
                        <div class="begin-time-choices">1 həftə əvvəl</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group align-items-center justify-content-end d-flex">
                    <button class="btn btn-light mr-2" data-dismiss="modal">Bağla</button>
                    <button class="btn btn-primary" id="modal_2_save">Yadda saxla</button>
                  </div>


                </form>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>

    <!--  Modal 1 begin  -->

    <!-- <button data-target="#updateModal1" data-toggle="modal">Show modal 1</button> -->


    <!-- Modal -->
    <div class="modal fade" id="updateEvent" tabindex="-1" role="dialog"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content " style="max-width: 380px;">
          <div class="modal-body calendar-modal">
            <form action="" method="dialog">
              <div class="d-flex align-items-center my-2">
                <div class="dropdown icon-select-main">
                  <div required class="icon-content form-control" data-id="" data-toggle="dropdown">
                    <i class="fas fa-angle-down"></i>
                  </div>
                  <div class="dropdown-menu icons-contents-main">
                   {% for i in categories %}
                    <div class="icons" data-id="{{i.id}}">
                      <img src="{{i.icon.url}}" height="24" width="24" alt="{{i.name}}">
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div style="width: 90%;position: relative;" class="pl-2">
                  <input autocomplete="off" type="text" required class="form-control" id="event_title"
                    placeholder="Başlıq">

                </div>
              </div>

              <div class="align-items-center d-flex my-1">
                <input type="checkbox" name="" class="mr-2" id="whole_day_checkbox">
                <span>Bütün günü</span>
              </div>

              <div>
                <div style="width: 60%;float: left;" class="form-group">
                  <label for="">Başlama tarixi</label>
                  <input autocomplete="off" required type="text" data-toggle="datetimepicker"
                    data-target="#modal_2_begin" id="modal_2_begin"
                    class="datetimepicker-input dropdown-input form-control">
                </div>
                <div style="width: 40%;" class="float-left form-group pl-2">
                  <label for="">Saat</label>
                  <input autocomplete="off" required type="text" data-toggle="datetimepicker" data-target="#asim"
                    id="asim" class="datetimepicker-input dropdown-input form-control">
                </div>
              </div>
              <div>
                <div style="width: 60%;float: left;" class="form-group">
                  <label for="">Bitmə tarixi</label>
                  <input autocomplete="off" required type="text" data-toggle="datetimepicker" data-target="#modal_2_end"
                    id="modal_2_end" class="datetimepicker-input dropdown-input form-control">
                </div>
                <div style="width: 40%;" class="float-left form-group pl-2">
                  <label for="">Saat</label>
                  <input autocomplete="off" required type="text" data-toggle="datetimepicker"
                    data-target="#modal_2_end_hour" id="modal_2_end_hour"
                    class="datetimepicker-input dropdown-input form-control ">
                </div>
              </div>

              <div class="form-group">
                <label for="">Ünvan</label>
                <input required autocomplete="off" type="text" name="" id="event_location" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Xatırlatma seçin</label>
                <div class="dropdown  times-div-3">
                  <div required id="time_input" class="form-control dropdown-input validation-reserv remember-timer"
                    data-toggle="dropdown">
                    15 dəq əvvəl
                  </div>

                  <div class="dropdown-menu times-2" id="time_choices">
                    <div class="begin-time-choices">5 dəq əvvəl</div>
                    <div class="begin-time-choices">10 dəq əvvəl</div>
                    <div class="begin-time-choices">15 dəq əvvəl</div>
                    <div class="begin-time-choices">30 dəq əvvəl</div>
                    <div class="begin-time-choices">1 saat əvvəl</div>
                    <div class="begin-time-choices">3 saat əvvəl</div>
                    <div class="begin-time-choices">6 saat əvvəl</div>
                    <div class="begin-time-choices">12 saat əvvəl</div>
                    <div class="begin-time-choices">1 gün əvvəl</div>
                    <div class="begin-time-choices">1 həftə əvvəl</div>
                  </div>
                </div>
              </div>
              <div class="form-group align-items-center justify-content-end d-flex">
                <button class="btn btn-light mr-2" data-dismiss="modal">Bağla</button>
                <button class="btn btn-primary" id="modal_2_save">Yadda saxla</button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
    <!--  Modal 1 end  -->
        <!--  Modal 1 begin  -->

        <!-- <button data-target="#updateModal2" data-toggle="modal">Show modal 2</button> -->


        <!-- Modal -->
        <div class="modal fade" id="updateAppointment" tabindex="-1" role="dialog"
          aria-hidden="true">
          <div class="modal-dialog" id="myTabContent" role="document">
            <div class="modal-content " style="max-width: 380px;">
              <div class="modal-body calendar-modal">
                <form>
                  <div class="form-group">
                    <div class="d-none card mt-1 p-2 auto_name_2">
                      <div class="card-body d-flex justify-content-between p-0">
                        <div class="d-flex">
                          <div class="auto-img">
                            AB
                          </div>
                          <div class="pl-3">
                            <h6>Asim Babayev</h6>
                            <span class="blockquote-footer">musahesenli02@gmail.com</span>
                          </div>
                        </div>
                        <div>
                          <div class="close close-information" style="cursor: pointer;font-size: 14px;">
                            <span> &times;</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-1 mb-0">
                    <input type="text" autocomplete="off" class="form-control" id="name_input" placeholder="Ad">
                    <div class="card mt-1 p-2 auto_name">
                      <div class="card-body d-flex p-0">
                        <div class="auto-img">
                          AB
                        </div>
                        <div class="pl-3">
                          <h6>Asim Babayev</h6>
                          <span class="blockquote-footer">musahesenli02@gmail.com</span>
                        </div>
                      </div>
                    </div>
                    <div class="alert mt-1 mb-1 alert-warning" id="name_alert">
                      Ad məcburidir
                    </div>
                  </div>
                  <div class="form-group my-2 mt-1">
                    <input type="email" class="form-control" required placeholder="E-mail" name="" id="email_input">
                  </div>
                  <div class="form-group my-2">
                    <input type="tel" class="form-control" placeholder="Telefon" name="" id="phone_input">
                  </div>
                  <div class="form-group my-2">
                    <input type="text" class="form-control" placeholder="Ünvan" name="" id="address_input">
                  </div>
                  <div class="form-group mb-1">
                    <div class="mr-3 float-left" style="width: 40%;">
                      <label for="">Gün</label>
                      <input type="tex" class="form-control datetimepicker-input dropdown-input validation-date"
                        id="date_input" data-target="#date_input" data-toggle="datetimepicker">
                    </div>
                    <div class="float-left" style="width: 30%;">
                      <label for="">Saat</label>
                      <div class="dropdown drop times-div">
                        <div required id="time_input" class="validation-time form-control dropdown-input "
                          data-toggle="dropdown">
                          00:15
                        </div>

                        <div class="dropdown-menu times">
                          <div class="begin-time-choices">00:00</div>
                          <div class="begin-time-choices">00:15</div>
                          <div class="begin-time-choices">00:30</div>
                          <div class="begin-time-choices">00:45</div>
                          <div class="begin-time-choices">01:00</div>
                          <div class="begin-time-choices">01:15</div>
                          <div class="begin-time-choices">01:30</div>
                          <div class="begin-time-choices">01:45</div>
                          <div class="begin-time-choices">02:00</div>
                          <div class="begin-time-choices">02:15</div>
                          <div class="begin-time-choices">02:30</div>
                          <div class="begin-time-choices">02:45</div>
                          <div class="begin-time-choices">03:00</div>
                          <div class="begin-time-choices">03:15</div>
                          <div class="begin-time-choices">03:30</div>
                          <div class="begin-time-choices">03:45</div>
                          <div class="begin-time-choices">04:00</div>
                          <div class="begin-time-choices">04:15</div>
                          <div class="begin-time-choices">04:30</div>
                          <div class="begin-time-choices">04:45</div>
                          <div class="begin-time-choices">05:00</div>
                          <div class="begin-time-choices">05:15</div>
                          <div class="begin-time-choices">05:30</div>
                          <div class="begin-time-choices">05:45</div>
                          <div class="begin-time-choices">06:00</div>
                          <div class="begin-time-choices">06:15</div>
                          <div class="begin-time-choices">06:30</div>
                          <div class="begin-time-choices">06:45</div>
                          <div class="begin-time-choices">07:00</div>
                          <div class="begin-time-choices">07:15</div>
                          <div class="begin-time-choices">07:30</div>
                          <div class="begin-time-choices">07:45</div>
                          <div class="begin-time-choices">08:00</div>
                          <div class="begin-time-choices">08:15</div>
                          <div class="begin-time-choices">08:30</div>
                          <div class="begin-time-choices">08:45</div>
                          <div class="begin-time-choices">09:00</div>
                          <div class="begin-time-choices">09:15</div>
                          <div class="begin-time-choices">09:30</div>
                          <div class="begin-time-choices">09:45</div>
                          <div class="begin-time-choices">10:00</div>
                          <div class="begin-time-choices">10:15</div>
                          <div class="begin-time-choices">10:30</div>
                          <div class="begin-time-choices">10:45</div>
                          <div class="begin-time-choices">11:00</div>
                          <div class="begin-time-choices">12:15</div>
                          <div class="begin-time-choices">12:30</div>
                          <div class="begin-time-choices">12:45</div>
                          <div class="begin-time-choices">13:00</div>
                          <div class="begin-time-choices">13:15</div>
                          <div class="begin-time-choices">13:30</div>
                          <div class="begin-time-choices">13:45</div>
                          <div class="begin-time-choices">14:00</div>
                          <div class="begin-time-choices">14:15</div>
                          <div class="begin-time-choices">14:30</div>
                          <div class="begin-time-choices">14:45</div>
                          <div class="begin-time-choices">15:00</div>
                          <div class="begin-time-choices">15:15</div>
                          <div class="begin-time-choices">15:30</div>
                          <div class="begin-time-choices">15:45</div>
                          <div class="begin-time-choices">16:00</div>
                          <div class="begin-time-choices">16:15</div>
                          <div class="begin-time-choices">16:30</div>
                          <div class="begin-time-choices">16:45</div>
                          <div class="begin-time-choices">17:00</div>
                          <div class="begin-time-choices">17:15</div>
                          <div class="begin-time-choices">17:30</div>
                          <div class="begin-time-choices">17:45</div>
                          <div class="begin-time-choices">18:00</div>
                          <div class="begin-time-choices">18:15</div>
                          <div class="begin-time-choices">18:30</div>
                          <div class="begin-time-choices">18:45</div>
                          <div class="begin-time-choices">19:00</div>
                          <div class="begin-time-choices">19:15</div>
                          <div class="begin-time-choices">19:30</div>
                          <div class="begin-time-choices">19:45</div>
                          <div class="begin-time-choices">20:00</div>
                          <div class="begin-time-choices">20:15</div>
                          <div class="begin-time-choices">20:30</div>
                          <div class="begin-time-choices">20:45</div>
                          <div class="begin-time-choices">21:00</div>
                          <div class="begin-time-choices">21:15</div>
                          <div class="begin-time-choices">21:30</div>
                          <div class="begin-time-choices">21:45</div>
                          <div class="begin-time-choices">22:00</div>
                          <div class="begin-time-choices">22:15</div>
                          <div class="begin-time-choices">22:30</div>
                          <div class="begin-time-choices">22:45</div>
                          <div class="begin-time-choices">23:00</div>
                          <div class="begin-time-choices">23:15</div>
                          <div class="begin-time-choices">23:30</div>
                          <div class="begin-time-choices">23:45</div>
                          <div class="begin-time-choices">24:00</div>


                        </div>
                      </div>

                    </div>

                    <div style="width: 30%;">
                      <label for="" class="mt-2">Müddət</label>

                      <div class="dropdown drop times-div-2">
                        <div id="time_input" class="validation-interval time-input form-control dropdown-input"
                          data-toggle="dropdown">
                          15 dəq
                        </div>

                        <div class="dropdown-menu times-2">
                          <div class="begin-time-choices">5 dəq</div>
                          <div class="begin-time-choices">10 dəq</div>
                          <div class="begin-time-choices">15 dəq</div>
                          <div class="begin-time-choices">30 dəq</div>
                          <div class="begin-time-choices">45 dəq</div>
                          <div class="begin-time-choices">60 dəq</div>
                          <div class="begin-time-choices">75 dəq</div>
                          <div class="begin-time-choices">90 dəq</div>
                          <div class="begin-time-choices">105 dəq</div>
                          <div class="begin-time-choices">2 saat</div>
                          <div class="begin-time-choices">3 saat</div>
                          <div class="begin-time-choices">4 saat</div>
                          <div class="begin-time-choices">5 saat</div>
                          <div class="begin-time-choices">6 saat</div>
                          <div class="begin-time-choices">7 saat</div>
                          <div class="begin-time-choices">8 saat</div>
                          <div class="begin-time-choices">9 saat</div>
                          <div class="begin-time-choices">10 saat</div>
                          <div class="begin-time-choices">11 saat</div>
                          <div class="begin-time-choices">12 saat</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="date-alert-2" class="alert  alert-dismissible alert-warning">
                    Gün, Saat və ya müddət seçilməyib
                  </div>
                  <div class="form-group">
                    <div>
                      <label for="" class="">Rezervasiya vəziyyəti</label>
                      <div class="dropdown  times-div-3">
                        <div required id="status_input"
                          class=" form-control dropdown-input validation-reserv client-status" data-toggle="dropdown">
                        </div>
                        <div class="dropdown-menu times-2" id="chosen_1">
                          <div class="begin-time-choices">Təsdiqləndi</div>
                          <div class="begin-time-choices">Müştəri gəldi</div>
                          <div class="begin-time-choices">Müştəri gəlmədi</div>
                        </div>
                      </div>
                      <div id="last-alert" class="alert mt-1 alert-dismissible alert-warning ">
                        Bu sahə boş olmamalıdır
                      </div>
                    </div>
                  </div>
                  <div class="form-group calendar-form-group">
                    <div class="">
                      <span class="mr-3 calendar-note">Qeyd əlavə edin</span>

                      <textarea class="form-control mt-2 text-area-modal"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-flex justify-content-end">
                      <button class="btn btn-light mr-1" data-dismiss="modal">Ləğv et</button>
                      <button class="btn btn-primary calendar-edit-button">Yadda saxla</button>
                    </div>
                  </div>


                </form>
              </div>
            </div>
          </div>
        </div>
    {% endblock content %}




    {% block scripts %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar-3.10.0/lib/moment.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="{% static 'vendor/fullcalendar-3.10.0/fullcalendar.min.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar-3.10.0/locale/az.js' %}"></script>
    <!-- <script src="{% static 'js/fullcalendar-date.js' %}"></script> -->
    <script src="{% static 'js/fullcalendar-appointments.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock scripts %}
    </body>

    </html>