{% extends 'barrister/barrister-admin.html' %}
{% load static %}

{% block title %}
<title>Calendar</title>
{% endblock title %}


{% block links %}
{{ block.super }}
{% endblock links %}



{% block content %}

<main class="page-content">
  <div class="container-fluid">
    <div id='calendar-ms'></div>
    <div id='datepicker'></div>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
      aria-hidden="true">
      <div class="modal-dialog" style="max-width: 380px;" role="document">
        <div class="modal-content">

          <div class="modal-body calendar-modal">
            <span class="client-text" style="font-size: 16px;color: gray;">Client</span>
            <div class="form-group my-2">
              <input type="text" class="form-control" placeholder="Ad" name="" id="">
            </div>
            <div class="form-group my-2">
              <input type="email" class="form-control" placeholder="E-mail" name="" id="">
            </div>
            <div class="form-group my-2">
              <input type="tel" class="form-control"  placeholder="Telefon" name="" id="phone_input">
            </div>
            <div class="form-group my-2">
              <input type="tel" class="form-control" placeholder="Ünvan" name="" id="">
            </div>
            <div class="form-group">
              <div class="mr-3 float-left" style="width: 40%;">
                <label for="">Date</label>
                <input type="tex" class="form-control datetimepicker-input dropdown-input"  id="date_input" data-target="#date_input" data-toggle="datetimepicker"> 
              </div>
              <div class="float-left" style="width: 30%;">
                <label for="">Saat</label>
                <div class="dropdown drop times-div">
                  <input  class="form-control dropdown-input " data-toggle="dropdown"/>
                    
                  <div class="dropdown-menu times">
                    <div class="begin-time-choices">00:00</div>
                    <div class="begin-time-choices">00:15</div>
                    <div class="begin-time-choices">00:30</div>
                    <div class="begin-time-choices">00:45</div>
                    <div class="begin-time-choices">01:00</div>
                    <div class="begin-time-choices">01:15</div>
                    <div class="begin-time-choices">01:30</div>
                    <div class="begin-time-choices">01:45</div>
                    <div class="begin-time-choices">02:00</div>
                    <div class="begin-time-choices">02:15</div>
                    <div class="begin-time-choices">02:30</div>
                    <div class="begin-time-choices">02:45</div>
                    <div class="begin-time-choices">03:00</div>
                    <div class="begin-time-choices">03:15</div>
                    <div class="begin-time-choices">03:30</div>
                    <div class="begin-time-choices">03:45</div>
                    <div class="begin-time-choices">04:00</div>
                    <div class="begin-time-choices">04:15</div>
                    <div class="begin-time-choices">04:30</div>
                    <div class="begin-time-choices">04:45</div>
                    <div class="begin-time-choices">05:00</div>
                    <div class="begin-time-choices">05:15</div>
                    <div class="begin-time-choices">05:30</div>
                    <div class="begin-time-choices">05:45</div>
                    <div class="begin-time-choices">06:00</div>
                    <div class="begin-time-choices">06:15</div>
                    <div class="begin-time-choices">06:30</div>
                    <div class="begin-time-choices">06:45</div>
                    <div class="begin-time-choices">07:00</div>
                    <div class="begin-time-choices">07:15</div>
                    <div class="begin-time-choices">07:30</div>
                    <div class="begin-time-choices">07:45</div>
                    <div class="begin-time-choices">08:00</div>
                    <div class="begin-time-choices">08:15</div>
                    <div class="begin-time-choices">08:30</div>
                    <div class="begin-time-choices">08:45</div>
                    <div class="begin-time-choices">09:00</div>
                    <div class="begin-time-choices">09:15</div>
                    <div class="begin-time-choices">09:30</div>
                    <div class="begin-time-choices">09:45</div>
                    <div class="begin-time-choices">10:00</div>
                    <div class="begin-time-choices">10:15</div>
                    <div class="begin-time-choices">10:30</div>
                    <div class="begin-time-choices">10:45</div>
                    <div class="begin-time-choices">11:00</div>
                    <div class="begin-time-choices">12:15</div>
                    <div class="begin-time-choices">12:30</div>
                    <div class="begin-time-choices">12:45</div>
                    <div class="begin-time-choices">13:00</div>
                    <div class="begin-time-choices">13:15</div>
                    <div class="begin-time-choices">13:30</div>
                    <div class="begin-time-choices">13:45</div>
                    <div class="begin-time-choices">14:00</div>
                    <div class="begin-time-choices">14:15</div>
                    <div class="begin-time-choices">14:30</div>
                    <div class="begin-time-choices">14:45</div>
                    <div class="begin-time-choices">15:00</div>
                    <div class="begin-time-choices">15:15</div>
                    <div class="begin-time-choices">15:30</div>
                    <div class="begin-time-choices">15:45</div>
                    <div class="begin-time-choices">16:00</div>
                    <div class="begin-time-choices">16:15</div>
                    <div class="begin-time-choices">16:30</div>
                    <div class="begin-time-choices">16:45</div>
                    <div class="begin-time-choices">17:00</div>
                    <div class="begin-time-choices">17:15</div>
                    <div class="begin-time-choices">17:30</div>
                    <div class="begin-time-choices">17:45</div>
                    <div class="begin-time-choices">18:00</div>
                    <div class="begin-time-choices">18:15</div>
                    <div class="begin-time-choices">18:30</div>
                    <div class="begin-time-choices">18:45</div>
                    <div class="begin-time-choices">19:00</div>
                    <div class="begin-time-choices">19:15</div>
                    <div class="begin-time-choices">19:30</div>
                    <div class="begin-time-choices">19:45</div>
                    <div class="begin-time-choices">20:00</div>
                    <div class="begin-time-choices">20:15</div>
                    <div class="begin-time-choices">20:30</div>
                    <div class="begin-time-choices">20:45</div>
                    <div class="begin-time-choices">21:00</div>
                    <div class="begin-time-choices">21:15</div>
                    <div class="begin-time-choices">21:30</div>
                    <div class="begin-time-choices">21:45</div>
                    <div class="begin-time-choices">22:00</div>
                    <div class="begin-time-choices">22:15</div>
                    <div class="begin-time-choices">22:30</div>
                    <div class="begin-time-choices">22:45</div>
                    <div class="begin-time-choices">23:00</div>
                    <div class="begin-time-choices">23:15</div>
                    <div class="begin-time-choices">23:30</div>
                    <div class="begin-time-choices">23:45</div>
                    <div class="begin-time-choices">24:00</div>

                    
                  </div>
                </div>
              </div>
              <div  style="width: 30%;" >
                <label for="" class="mt-2">Müddət</label>
                
                <div class="dropdown drop times-div-2">
                  <input  class="form-control dropdown-input " data-toggle="dropdown"/>
                    
                  <div class="dropdown-menu times-2">
                    <div class="begin-time-choices">5 dəq</div>
                    <div class="begin-time-choices">10 dəq</div>
                    <div class="begin-time-choices">15 dəq</div>
                    <div class="begin-time-choices">30 dəq</div>
                    <div class="begin-time-choices">45 dəq</div>
                    <div class="begin-time-choices">60 dəq</div>
                    <div class="begin-time-choices">75 dəq</div>
                    <div class="begin-time-choices">90 dəq</div>
                    <div class="begin-time-choices">105 dəq</div>
                    <div class="begin-time-choices">2 saat</div>
                    <div class="begin-time-choices">3 saat</div>
                    <div class="begin-time-choices">4 saat</div>
                    <div class="begin-time-choices">5 saat</div>
                    <div class="begin-time-choices">6 saat</div>
                    <div class="begin-time-choices">7 saat</div>
                    <div class="begin-time-choices">8 saat</div>
                    <div class="begin-time-choices">9 saat</div>
                    <div class="begin-time-choices">10 saat</div>
                    <div class="begin-time-choices">11 saat</div>
                    <div class="begin-time-choices">12 saat</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div >
                <label for="" class="">Rezervasiya vəziyyəti</label>
                <div class="dropdown  times-div-3">
                  <input  class="form-control dropdown-input " data-toggle="dropdown"/>
                    
                  <div class="dropdown-menu times-2">
                    <div class="begin-time-choices">Təsdiqləndi</div>
                    <div class="begin-time-choices">Müştəri gəldi</div>
                    <div class="begin-time-choices">Müştəri gəlmədi</div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group calendar-form-group">
              <div class="">
                <span class="mr-3 calendar-note">Qeyd əlavə edin</span>
                <!-- <span class="calendar-note">Təkrar əlavə edin</span> -->
                <textarea class="form-control mt-2"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-end">
                <button class="btn btn-light mr-1" data-dismiss="modal">Ləğv et</button>
                <button class="btn btn-primary">Yadda saxla</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endblock content %}




    {% block scripts %}

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar-3.10.0/lib/moment.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="{% static 'vendor/fullcalendar-3.10.0/fullcalendar.min.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar-3.10.0/locale/az.js' %}"></script>
    <script src="{% static 'js/fullcalendar-date.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    {% endblock scripts %}
    </body>

    </html>