{% extends 'base.html' %}


{% block links %}
  {{block.super}}
{% endblock %}

{% block body %}
<body
	class="page-template-default page page-id-6602 themestek-headerstyle-classic-overlay themestek-wide themestek-page-full-width themestek-empty-sidebar wpb-js-composer js-comp-ver-6.1 vc_responsive">
	<div id="themestek-home"></div>
	<div class="main-holder">
		<div id="page" class="hfeed site">
      {% block header %}
			<header id="masthead"
				class="themestek-header-style-classic themestek-header-overlay themestek-main-menu-total-6">
				<div
					class="themestek-header-block  themestek-mmenu-active-color-skin themestek-dmenu-active-color-skin">
					<div class="themestek-search-overlay">
						<div class="themestek-form-title">Hi, How Can We Help You?</div>
						<div class="themestek-icon-close"></div>
						<div class="themestek-search-outer">
							<div class="themestek-search-logo"><img src="uploads/2019/07/logo-white-1.png"
									alt="barrister" /></div>
							<form method="get" class="themestek-site-searchform" action="">
								<input type="search" class="field searchform-s" name="s"
									placeholder="Type Word Then Press Enter" />
								<button type="submit"><span class="themestek-attorco-icon-search"></span></button>
							</form>
						</div>
					</div>
					<div id="themestek-stickable-header-w-main" class="themestek-stickable-header-w-main">
            {% block pre-header %}
              {{ block.super }}
            {% endblock %}
            {% block header-navigation %}
              {{ block.super }}
            {% endblock %}
          </div>
          {% block header-content %}
					<div
						class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes">
						<div class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"></div>
						<div class="themestek-titlebar entry-header">
							<div class="themestek-titlebar-inner-wrapper">
								<div class="themestek-titlebar-main">
									<div class="container">
										<div class="themestek-titlebar-main-inner">
											<div class="entry-title-wrapper">
												<div class="container">
													<h1 class="entry-title"> Contacts</h1>
												</div>
											</div>
											<div class="breadcrumb-wrapper">
												<div class="container">
													<div class="breadcrumb-wrapper-inner">
														<!-- Breadcrumb NavXT output --><span><a
																title="Go to barrister." href="" class="home"><i
																	class="fa fa-home"></i><span
																	class="hide">barrister</span></a></span> <span
															class="themestek-bread-sep"> &nbsp; &rarr;
															&nbsp;</span><span
															class="post post-page current-item">Contacts</span></div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- .themestek-titlebar-main -->
							</div><!-- .themestek-titlebar-inner-wrapper -->
						</div><!-- .themestek-titlebar -->
          </div><!-- .themestek-titlebar-wrapper -->
          {% endblock %}
				</div>
      </header><!-- .site-header -->
      {% endblock %}

      {% block content %}
			<div id="content-wrapper" class="site-content-wrapper">
				<div id="content" class="site-content">
					<div id="content-inner" class="site-content-inner">
						<div id="primary" class="content-area">
							<main id="main" class="site-main">
								<article id="post-6602" class="post-6602 page type-page status-publish hentry">
									<header class="single-entry-header themestek-hide">
										<h2 class="entry-title">Contacts</h2>
									</header><!-- .entry-header -->
									<div class="entry-content">
										<div
											class="themestek-row wpb_row vc_row-fluid themestek-box-effect-02 vc_custom_1576816770594 themestek-total-col-3 themestek-zindex-2 vc_row container themestek-bgcolor-white themestek-bgimage-position-center_center">
											<div
												class="themestek-column wpb_column vc_column_container vc_col-sm-4 themestek-zindex-0">
												<div class="vc_column-inner">
													<div class="wpb_wrapper">
														<div
															class="themestek-ihbox themestek-ihbox-style-4 themestek-ihbox-itype-none">
															<div
																class="themestek-sbox-bgimage-layer themestek-bgimage-layer">
															</div>
															<div
																class="themestek-ihbox-wrapper-bg-layer themestek-bg-layer">
															</div>
															<div class="themestek-ihbox-inner">
																<div
																	class="themestek-ihbox-icon  themestek-icon-skincolor">
																</div>
																<div class="themestek-ihbox-contents">
																	<div
																		class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
																		<div
																			class="themestek-vc_cta3_content-container">
																			<div class="themestek-vc_cta3-content">
																				<div
																					class="themestek-vc_cta3-content-header themestek-wrap">
																					<div
																						class="themestek-vc_cta3-headers themestek-wrap-cell">
																						<h2
																							class="themestek-custom-heading">
																							Address</h2>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="themestek-cta3-content-wrapper">4 apt.
																		Flawing Street. The Grand Avenue.<br />
																		Liverpool, UK 33342</p>
																		<p><a href="#">View On Google Map</a>
																	</div>
																</div><!-- .themestek-ihbox-contents -->
															</div>
														</div>
													</div>
												</div>
											</div>
											<div
												class="themestek-column wpb_column vc_column_container vc_col-sm-4 themestek-zindex-0">
												<div
													class="vc_column-inner   themestek-textcolor-white themestek-col-bgcolor-skincolor themestek-col-bgcolor-yes">
													<div
														class="themestek-col-wrapper-bg-layer themestek-bg-layer themestek-bgimage-position-center_center">
														<div class="themestek-bg-layer-inner"></div>
													</div>
													<div class="wpb_wrapper">
														<div
															class="themestek-ihbox themestek-ihbox-style-4 themestek-ihbox-itype-none">
															<div
																class="themestek-sbox-bgimage-layer themestek-bgimage-layer">
															</div>
															<div
																class="themestek-ihbox-wrapper-bg-layer themestek-bg-layer">
															</div>
															<div class="themestek-ihbox-inner">
																<div
																	class="themestek-ihbox-icon  themestek-icon-skincolor">
																</div>
																<div class="themestek-ihbox-contents">
																	<div
																		class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
																		<div
																			class="themestek-vc_cta3_content-container">
																			<div class="themestek-vc_cta3-content">
																				<div
																					class="themestek-vc_cta3-content-header themestek-wrap">
																					<div
																						class="themestek-vc_cta3-headers themestek-wrap-cell">
																						<h2
																							class="themestek-custom-heading">
																							Phone</h2>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="themestek-cta3-content-wrapper">A
																		wonderful serenity has taken possession of my
																		entire soul, like these.</p>
																		<p><a href="#">0-123-456-7890</a>
																	</div>
																</div><!-- .themestek-ihbox-contents -->
															</div>
														</div>
													</div>
												</div>
											</div>
											<div
												class="themestek-column wpb_column vc_column_container vc_col-sm-4 themestek-zindex-0">
												<div class="vc_column-inner">
													<div class="wpb_wrapper">
														<div
															class="themestek-ihbox themestek-ihbox-style-4 themestek-ihbox-itype-none">
															<div
																class="themestek-sbox-bgimage-layer themestek-bgimage-layer">
															</div>
															<div
																class="themestek-ihbox-wrapper-bg-layer themestek-bg-layer">
															</div>
															<div class="themestek-ihbox-inner">
																<div
																	class="themestek-ihbox-icon  themestek-icon-skincolor">
																</div>
																<div class="themestek-ihbox-contents">
																	<div
																		class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
																		<div
																			class="themestek-vc_cta3_content-container">
																			<div class="themestek-vc_cta3-content">
																				<div
																					class="themestek-vc_cta3-content-header themestek-wrap">
																					<div
																						class="themestek-vc_cta3-headers themestek-wrap-cell">
																						<h2
																							class="themestek-custom-heading">
																							Email</h2>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="themestek-cta3-content-wrapper">A
																		wonderful serenity has taken possession of my
																		entire soul, like these.</p>
																		<p><a href="#">mail@lawyerco.com</a>
																	</div>
																</div><!-- .themestek-ihbox-contents -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div data-vc-full-width="true" data-vc-full-width-init="false"
											class="themestek-row wpb_row vc_row-fluid vc_custom_1560419729890 themestek-total-col-2 themestek-zindex-0 themestek-bgimage-position-center_center">
											<div class="vc_row container vc_row-o-equal-height vc_row-flex">
												<div
													class="themestek-column wpb_column vc_column_container vc_col-sm-6 themestek-zindex-0 themestek-span themestek-left-span">
													<div class="vc_column-inner vc_custom_1560420855607">
														<div class="wpb_wrapper">
															<div
																class="themestek-element-heading-wrapper themestek-heading-inner themestek-element-align-left themestek-seperator-none">
																<section class="themestek-vc_cta3-container">
																	<div
																		class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
																		<div
																			class="themestek-vc_cta3_content-container">
																			<div class="themestek-vc_cta3-content">
																				<div
																					class="themestek-vc_cta3-content-header themestek-wrap">
																					<div
																						class="themestek-vc_cta3-headers themestek-wrap-cell">
																						<h4
																							class="themestek-custom-heading">
																							GET IN TOUCH</h4>
																						<h2
																							class="themestek-custom-heading">
																							Contact Details</h2>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</section>
															</div> <!-- .themestek-element-heading-wrapper container -->
															<div class="wpb_text_column wpb_content_element">
																<div class="wpb_wrapper">
																	<p>If you are interested in working with us then
																		please drop us a line, we would love to hear
																		from you.</p>

																</div>
															</div>
															<h5 style="text-align:left;font-size:18px;line-height:20px;"
																class="themestek-custom-heading">Opening Hour</h5>

															<div class="wpb_text_column wpb_content_element">
																<div class="wpb_wrapper">
																	<p>Monday &#8211; Friday: 9am to 5pm<br />
																		Saturday: 10.00am to 4pm</p>

																</div>
															</div>
															<h5 style="text-align:left;font-size:18px;line-height:20px;"
																class="themestek-custom-heading">Call Us Today</h5>

															<div class="wpb_text_column wpb_content_element">
																<div class="wpb_wrapper">
																	<p>+800 <strong>123 45 67</strong></p>

																</div>
															</div>
															<h5 style="text-align:left;font-size:18px;line-height:20px;"
																class="themestek-custom-heading">Fax Us</h5>

															<div class="wpb_text_column wpb_content_element">
																<div class="wpb_wrapper">
																	<p>+800 <strong>123 45 67</strong></p>

																</div>
															</div>
														</div>
													</div>
												</div>
												<div
													class="themestek-column wpb_column vc_column_container vc_col-sm-6 themestek-zindex-0 themestek-span themestek-right-span">
													<div
														class="vc_column-inner vc_custom_1560491517891 themestek-responsive-custom-33195356 themestek-col-bgcolor-grey themestek-col-bgcolor-yes">
														<div
															class="themestek-col-wrapper-bg-layer themestek-bg-layer themestek-bgimage-position-center_center">
															<div class="themestek-bg-layer-inner"></div>
														</div>
														<div class="wpb_wrapper">
															<div
																class="themestek-element-heading-wrapper themestek-heading-inner themestek-element-align-left themestek-seperator-none">
																<section class="themestek-vc_cta3-container">
																	<div
																		class="themestek-vc_general themestek-vc_cta3 themestek-cta3-only themestek-vc_cta3-style-classic themestek-vc_cta3-shape-rounded themestek-vc_cta3-align-left themestek-vc_cta3-color-transparent themestek-vc_cta3-icon-size-md themestek-vc_cta3-actions-no themestek-cta3-without-desc">
																		<div
																			class="themestek-vc_cta3_content-container">
																			<div class="themestek-vc_cta3-content">
																				<div
																					class="themestek-vc_cta3-content-header themestek-wrap">
																					<div
																						class="themestek-vc_cta3-headers themestek-wrap-cell">
																						<h4
																							class="themestek-custom-heading">
																							PLEASE Fill Form</h4>
																						<h2
																							class="themestek-custom-heading">
																							Do You Have Any Questions?
																						</h2>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</section>
															</div> <!-- .themestek-element-heading-wrapper container -->
															<div role="form" class="wpcf7" id="wpcf7-f10414-p6602-o2"
																lang="en-US" dir="ltr">
																<div class="screen-reader-response"></div>
																<form action="/contacts/#wpcf7-f10414-p6602-o2"
																	method="post" class="wpcf7-form"
																	novalidate="novalidate">
																	<div style="display: none;">
																		<input type="hidden" name="_wpcf7"
																			value="10414" />
																		<input type="hidden" name="_wpcf7_version"
																			value="5.1.7" />
																		<input type="hidden" name="_wpcf7_locale"
																			value="en_US" />
																		<input type="hidden" name="_wpcf7_unit_tag"
																			value="wpcf7-f10414-p6602-o2" />
																		<input type="hidden"
																			name="_wpcf7_container_post" value="6602" />
																	</div>
																	<div class="main-form">
																		<div class="row">
																			<div class="col-md-6">
																				<div class="input-group"><span
																						class="wpcf7-form-control-wrap your-name"><input
																							type="text" name="your-name"
																							value="" size="40"
																							class="wpcf7-form-control wpcf7-text"
																							aria-invalid="false"
																							placeholder="Name" /></span>
																				</div>
																			</div>
																			<div class="col-md-6">
																				<div class="input-group"><span
																						class="wpcf7-form-control-wrap your-email"><input
																							type="text"
																							name="your-email" value=""
																							size="40"
																							class="wpcf7-form-control wpcf7-text"
																							aria-invalid="false"
																							placeholder="Email" /></span>
																				</div>
																			</div>
																			<div class="col-md-6">
																				<div class="input-group"><span
																						class="wpcf7-form-control-wrap phone"><input
																							type="text" name="phone"
																							value="" size="40"
																							class="wpcf7-form-control wpcf7-text"
																							aria-invalid="false"
																							placeholder="Phone" /></span>
																				</div>
																			</div>
																			<div class="col-md-6">
																				<div class="input-group"><span
																						class="wpcf7-form-control-wrap text-99"><input
																							type="text" name="text-99"
																							value="" size="40"
																							class="wpcf7-form-control wpcf7-text"
																							aria-invalid="false"
																							placeholder="Subject" /></span>
																				</div>
																			</div>
																			<div class="col-md-12">
																				<div class="input-group input-button">
																					<span
																						class="wpcf7-form-control-wrap message"><textarea
																							name="message" cols="40"
																							rows="4"
																							class="wpcf7-form-control wpcf7-textarea"
																							aria-invalid="false"
																							placeholder="Message"></textarea></span>
																				</div>
																			</div>
																			<div class="col-md-6">
																				<div class="input-group input-button">
																					<input type="submit"
																						value="SEND MESSAGE"
																						class="wpcf7-form-control wpcf7-submit btn-block" />
																				</div>
																			</div>
																		</div>
																	</div>
																	<div
																		class="wpcf7-response-output wpcf7-display-none">
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="vc_row-full-width vc_clearfix"></div>
										<div data-vc-full-width="true" data-vc-full-width-init="false"
											data-vc-stretch-content="true"
											class="themestek-row wpb_row vc_row-fluid vc_custom_1561785412276 themestek-total-col-1 themestek-zindex-0 themestek-bgimage-position-center_center">
											<div class="vc_row vc_row-no-padding">
												<div
													class="themestek-column wpb_column vc_column_container vc_col-sm-12 themestek-zindex-0">
													<div class="vc_column-inner">
														<div class="wpb_wrapper">

															<div class="wpb_text_column wpb_content_element">
																<div class="wpb_wrapper">
																	<p><iframe style="border: 0;"
																			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d393532.4188647651!2d-93.5797914256631!3d35.2739253992737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1577074314509!5m2!1sen!2sin"
																			width="1920" height="450" frameborder="0"
																			allowfullscreen="allowfullscreen"></iframe>
																	</p>

																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="vc_row-full-width vc_clearfix"></div>
									</div><!-- .entry-content -->
								</article><!-- #post-## -->
							</main><!-- #main .site-main -->
						</div><!-- #primary .content-area -->
					</div><!-- .site-content-inner -->
				</div><!-- .site-content -->
      </div><!-- .site-content-wrapper -->
      {% endblock %}
      
      {% block footer %}
        {{ block.super }}
      {% endblock %}
		</div><!-- #page .site -->
	</div><!-- .main-holder -->
	<!-- To Top -->
  <a id="totop" href="#top"><i class="themestek-attorco-icon-angle-up"></i></a>
  
  {% block scripts %} 
    {{ block.super }}
  {% endblock %}

</body>
{% endblock %}
