{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barrister - Plans&Calendar </title>
    <!-- Изображение Tim Treis с сайта Pixabay  -->
    <link rel="shortcut icon" href="https://cdn.pixabay.com/photo/2016/07/31/20/54/calendar-1559935_1280.png"
      alt="Изображение Tim Treis с сайта Pixabay " type="image/x-icon"/> 
    <link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome/all.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/owl.theme.default.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendor/animate.css' %}">
    <link href="{% static 'vendor/fullcalendar-3.10.0/fullcalendar.min.css' %}" rel='stylesheet' />
    <link href="{% static 'vendor/fullcalendar-3.10.0/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <center>
        <div class="main_div">
          
            <div class="row" style="height: 400px;">
                <div class="soldiv col-xl-2 col-sm-4 col-12 col-md-4 col-xs-6">
                <span class="xeber_basligi ml-auto">Xeber basligini daxil edin...</span>
                <input type="text" class="baslig_input"><br>
                
                <span class="sekil_basligi">Sekil secin</span><br>
                <label class="sekil_label"> Faylınızı daxil edin
                  <input id="sekil_input" accept="image/*" name="sekil_input" type="file" size="60" >
                  </label>
                   
                <span>Video secin</span>
                <label class="sekil_label"> Faylınızı daxil edin
                  <input id="sekil_input" accept="video/*" name="sekil_input" type="file" size="60" >
                  </label>
                
                  
    
                <button class="komp_button d-none d-sm-block">Xeberi yayimla</button>
                </div>
                <div class="sagdiv col-xl-10 col-sm-8 col-12 col-md-8 col-xs-6">
                  <textarea class="col-xl-12 text_input" name="" style="position: relative;resize: vertical;"   placeholder="Xəbər mətnini bura daxil edin..."></textarea>
                
                
                
                <button style="margin: 10px auto;position: relative;" class="telefon_ucun_button d-inline-block d-sm-none">Xəbəri yayimla</button>
                </div>
            </div>
          
          </div>
          
    </center>
    
</body>
</html>