{% extends 'admin-panel/admin-base.html' %}
{% load static %}  
 
 {% block title %}
   <title>Xeber elave et</title>
 {% endblock title %}
    
    {% block content %}
      
    
      
      <main class="page-content design"  >
        <div class="wrapper">
          <div class="login-box">
            <h3 class="info-text">Yeni xəbər əlavə edilməsi</h3>
            <form class="form-container" action="" method="POST" enctype="multipart/form-data" >
              {% csrf_token %}
              <div class="input-addon">
                
                
                {{ form.title }}
                <span class="input-group-text far fa-newspaper"></span>
              </div>
                <div class="input-addon">
                  <select style="width: 360px;" class="browser-default custom-select">
                    <option selected>Xəbərin növünü seçin</option>
                    <option value="1">AA</option>
                    <option value="2">BB</option>
                    <option value="3">CC</option>
                  </select>
                </div>
              <br>
              <div class="file-upload">

                  {{ form.image }}
                 
              </div>
              <div class="input-addon">
                {{ form.content }}
                {{ form.media }}
              
              <span class="input-group-text fas fa-align-left"></span>
              </div>

              <br>
             
              
              <br>
              <input class="form-element is-submit" type="submit" value="Əlavə et">
            </form>
        
          </div>
        </div>
      </main>
      </div>

      {% endblock content %}

 
