{% extends 'admin-panel/admin-base.html' %}
{% load static %}

{% block title %}
  <title>Dashboard</title>
{% endblock title %}
  

{% block content %}
  

<main style="font-weight: bold;" class="page-content design"  >
  <!-- https://codepen.io/themustafaomar/pen/jLMPKm -->
    <div class="welcome">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="content">
                <h2>Ümumi statistik məlumatlar</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="statistics">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="box">
                <i class="fa fa-envelope fa-fw bg-primary"></i>
                <div class="info">
                  <h3>1,245</h3> <span>E-poçtlar</span>
                  <p>Nəzərdən keçirilib</p>
                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <i class="fa fa-file fa-fw danger"></i>
                <div class="info">
                  <h3>34</h3> <span>Ərizə</span>
                  <p>Ay ərzində icra olunub</p>
                  <br><br>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <i class="fa fa-users fa-fw success"></i>
                <div class="info">
                  <h3>104</h3> <span>Müştəri</span>
                  <p>Müştəri sayı</p>
                  <br>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="charts">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="chart-container">
                <p class="h3db">Bu gün görüləcək işlər</p>
                <br>
                <ol>
                  <li>Vəkil ivanla gorüş [20.04.2020]</li>
                  <li>Vəkil ivanla gorüş [20.04.2020]</li>
                  <li>Vəkil ivanla gorüş [20.04.2020]</li>
                  <li>Vəkil ivanla gorüş [20.04.2020]</li>
                  <li>Vəkil ivanla gorüş [20.04.2020]</li>
                  <li>Vəkil ivanla gorüş [20.04.2020]</li>
                  <li>Vəkil ivanla gorüş [20.04.2020]</li>
                  <li>Vəkil ivanla gorüş [20.04.2020]</li>
                </ol>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chart-container">
                <p class="h3db">Konsultusiyalar</p>
                <br>
                <ol>
                  <li>Vəkil İvan [20.04.2020]</li>
                  <li>Vəkil İvan [20.04.2020]</li>
                  <li>Vəkil İvan [20.04.2020]</li>
                  <li>Vəkil İvan [20.04.2020]</li>
                  <li>Vəkil İvan [20.04.2020]</li>
                  <li>Vəkil İvan [20.04.2020]</li>
                  <li>Vəkil İvan [20.04.2020]</li>
                  <li>Vəkil İvan [20.04.2020]</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <div class='statis text-center'>
      <div class="container-fluid">
         <div class="row">

              <div class="col-md-3">
                <div class="box box15 bg-primary">
                  <i class="fa fa-eye"></i>
                  <h3>620</h3>
                  <p class="lead">Cari ay baxışı</p><br>
                </div>
              </div>

              <div class="col-md-3">
                <div class="box box16 danger">
                  <i class="fa fa-user-o"></i>
                  <h3>340</h3>
                  <p class="lead">Müştəri qeydiyyatı</p><br>
                </div>
              </div>

              <div class="col-md-3">
                <div class="box box17 warning">
                  <i class="fa fa-handshake-o"></i>
                  <h3>1115</h3>
                  <p class="lead">Məhkəmə prosesi</p><br>
                </div>
              </div>

              <div class="col-md-3">
                <div class="box box18 success">
                  <i class="fa fa-handshake-o"></i>
                  <h3>8</h3>
                  <p class="lead">Beynəlxalq diplom və sertifikatlar</p>
                </div>
              </div>

            </div>
          </div>
        </div>

</main>

   {% endblock content %}
