{% extends 'barrister/barrister-base.html' %} {% load static %} {% load client_tags %} {% block title %}
<title>Musteriler</title>
{% endblock title %} {% block links %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/style2.css' %}" />
<link rel="stylesheet" href="{% static 'css/clients.css' %}" />

<style>
  .table td,
  .table th {
    vertical-align: inherit;
  }
  i {
    font-size: 1rem;
    cursor: pointer;
  }
  .change_button {
    background-color: #24314b;
    border-color: #455881;
    opacity: 0.8;
  }
  .change_button:hover {
    background-color: #455881;
    opacity: 0.9;
    border-color: #455881;
  }
  .change_button:active {
    background-color: #455881;
    opacity: 1;
    box-shadow: none !important;
  }
</style>
{% endblock links %} {% block content %}
<main class="page-content design" style="background-color: #fff">
  <!-- https://codepen.io/themustafaomar/pen/jLMPKm -->
  <div class="container-fluid clients-content">
    <div class="row mr-0 mt-3">
      <div class="col-12">
        <h1 class="lead">Müştəri haqqında</h1>
      </div>
      <div class="col-12">
        <div class="w-100 client_expanding_information">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Qeydlər</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                id="contact-tab"
                data-toggle="tab"
                href="#contact"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
                >Son Görüşlər</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link active"
                id="works-tab"
                data-toggle="tab"
                href="#works"
                role="tab"
                aria-controls="works"
                aria-selected="false"
                >İşlər</a
              >
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane py-3 fade"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <div class="form-group px-3">
                <form method="dialog" id="note_form">
                  <input
                    type="text"
                    id="value_inner"
                    required
                    class="form-control"
                    placeholder="Qeyd əlavə et"
                  />
                  
                  <button
                    type="submit"
                    class="btn btn-light btn-block save_btn_clients my-1"
                    id="add_new_note_btn"
                  >
                    Save
                  </button>
                </form>
                  <ul class="list-group note_list_main">
                    <div class="row">
                    {% if notes %} {% for note in notes %}
                    <div class="col-md-4 mb-1">
                      <li class="list-group-item p-0">
                        <input
                          type="text"
                          value="{{note.text}}"
                          class="form-control form-control-sm border-0"
                        />
                        <div
                          class="p-2 pt-0 d-flex align-items-center justify-content-between"
                        >
                          <small>02.02.2020</small>
                          &nbsp;&nbsp;&nbsp;
                         <div>
                          <button note_id="{{note.id}}" class="btn btn-primary btn-sm change_button">Dəyişiklik</button>
                          <button note_id="{{note.id}}" class="btn btn-danger btn-sm note_delete_btn">Sil</button>
                         </div>
                        </div>
                      </li>
                    </div>
                    {% endfor %} {% else %}
                    <div class="col-12">
                      <li class="list-group-item">Qeyd yoxdur</li>
                    </div>
                    {% endif %}
                  </div>
                  </ul>
                  <br />
                
              </div>
            </div>

            <div
              class="tab-pane fade p-3"
              id="contact"
              role="tabpanel"
              aria-labelledby="contact-tab"
            >
              <div class="form-group">
                <a href="{{ '/calendar' }}"
                  ><button class="btn btn-primary">
                    Yeni Görüş əlavə et
                  </button></a
                >
              </div>
              
              
                
             
                
              <div class="row">
                {% for appointment in appointments %}
                <div class="col-md-6 col-lg-4 mb-1">
                  
                   <div class="list-group-item">
                    <div class="nearest-reservations">
                      <span class="bold-text mb-1 text-muted"
                        >{{appointment.start|date_with_week}}</span
                      >
                      <br />
                      <div class="mt-2">
                        <div class="float-left mr-4 my-1 hours_main">
                          <span>{{appointment.start|date:'H:i'}}</span>
                          <br />
                          <span class="differ-time mb-2">{{appointment.end|date:'H:i'}}</span>
                        </div>
                        <div class="float-left my-1 names-main">
                          <span>{{appointment.contact.first_name}} {{appointment.contact.last_name}} </span>
                          <br />
                          <span class="differ-time"
                            >7.9.2020, 17:05 , Calendar by Barrister</span
                          >
                        </div>
                      </div>
                    </div>
                   </div>
                    
                  </div>
                  
                {% endfor %}
              </div>                   
              </div>
             
              <div
              class="tab-pane fade p-3 show active"
              role="tabpanel"
              id="works"
              aria-labelledby="works-tab"
            >
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr class="p-0">
                      <td colspan="2" class="p-0">
                        <input
                          placeholder="Axtar"
                          type="text"
                          id="search_work"
                          class="form-control form-control-sm border-0"
                        />
                      </td>
                      <td colspan="2" class="py-0 px-1">
                        <button
                          class="btn btn-block btn-sm text-success btn-link text-left"
                          data-toggle="modal"
                          data-target="#add_new_work"
                        >
                          Yeni iş əlavə et
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <th>İşin adı</th>
                      <th>İşin Statusu</th>
                      <th>Yeni sənəd</th>
                      <th>Sil</th>
                    </tr>
                  </thead>
                  <tbody id="work_table_body">
                    {% for case in cases %}
                    <tr class="client_information_row" data-id="{{case.id}}">
                      <td id="case" style="padding: 0px; display: flex">
                        <input
                          type="text"
                          value="{{case.name}}"
                          class="case_name form-control border-0"
                        />
                        <button
                          case_id="{{case.id}}"
                          class="btn btn-sm btn-info hidden_save_btn"
                        >
                          Save
                        </button>
                      </td>
                      <td class="table-dropdown">
                        <select
                          class="form-control select_status"
                          id="select_status"
                        >
                          {% if case.status == "Uğurlu" %}
                          <option value="success">Uğurlu</option>
                          <option value="info">Davam edir</option>
                          <option value="danger">Bağlı</option>
                          {% elif case.status == "Davam edir" %}
                          <option value="info">Davam edir</option>
                          <option value="success">Uğurlu</option>
                          <option value="danger">Bağlı</option>
                          {% else %}
                          <option value="danger">Bağlı</option>
                          <option value="success">Uğurlu</option>
                          <option value="info">Davam edir</option>
                          {% endif %}
                        </select>
                      </td>
                      <td>
                        <label
                          for="{{case.id}}"
                          class="adding_file btn btn-link text-dark text-left btn-block btn-sm m-0"
                        >
                          <input
                            type="file"
                            id="{{case.id}}"
                            name="new_document"
                            class="d-none new-document"
                          />
                          Yeni sənəd
                        </label>
                      </td>
                      <td>
                        <button
                          class="btn btn-sm btn-link btn-block text-danger text-left delete_btn"
                          case_id="{{case.id}}"
                        >
                          Sil
                        </button>
                      </td>
                    </tr>
                    {% if case.documents.all %}
                    <tr class="{{case.id}}">
                      <td colspan="4">
                        <div class="row p-0 m-0">
                          {% for document in case.documents.all %}
                          <div class="col-md-3 mb-3 file_container">
                            <div class="file_main">
                              <p class="blockquote-footer file_name">
                                {{ document.name }}
                                <button
                                  class="close delete_document"
                                  document_id="{{document.id}}"
                                >
                                  <span>&times;</span>
                                </button>
                              </p>
                              <button
                                class="file_preview btn"
                                show_url="{{ document.url }}"
                                data-toggle="modal"
                                data-target="#preview_file_modal"
                              >
                                <i class="fas fa-eye"></i>
                              </button>
                              <a href="{{ document.download_url }}"
                                ><button class="file_download btn">
                                  <i class="fas fa-download"></i></button
                              ></a>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </td>
                    </tr>
                    {% endif %} {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
              </div>

            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- File preview modal begin -->
<div
  class="modal fade"
  id="preview_file_modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <iframe src="" frameborder="0" class="file_preview_iframe"></iframe>
      </div>
      <div class="modal-footer m-0">
        <button
          type="button"
          class="btn modal_dismiss_btn"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn modal_download_btn">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="add_new_work"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Yeni iş əlavə et</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="dialog">
        <div class="modal-body">
          <div class="form-group">
            <label for="">İşin adı</label>
            <input
              type="text"
              class="form-control"
              id="work_name_input"
              placeholder="İşin adı"
              required
            />
          </div>
          <div class="form-group">
            <label for="">İşin statusu</label>
            <select
              type="text"
              class="form-control"
              id="work_status"
              placeholder="İşin status"
            >
              <option value="Uğurlu">Uğurlu</option>
              <option value="Bağlı">Bağlı</option>
              <option value="Davam edir">Davam edir</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn modal_download_btn"
            id="add_work_btn"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- File preview modal end   -->

{% endblock content %} {% block scripts %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/lib/moment.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/lib/jquery.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/fullcalendar.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/locale/az.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  $(".new-document").change(function () {
    var case_id = $(this).attr("id");
    console.log(case_id);
    file = $(this).get(0).files[0];
    console.log(file);
    var formdata = new FormData();
    formdata.append("file", file);
    formdata.append("case_id", case_id);
    $.ajax({
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
      },
      contentType: false,
      processData: false,
      type: "POST",
      data: formdata,
      url: "/api/case/document/",
      success: function (data) {
        console.log(data);
      },
      error: function (data) {
        console.log(data);
      },
    });
  });

  $(".delete_btn").on("click", function () {
    case_id = $(this).attr("case_id");
    let item = $(this).parents("tr").attr("data-id");
    let context = $(this).parents("tr");
    console.log(item);
    $.ajax({
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
      },
      type: "DELETE",
      url: "/api/case/delete/" + case_id,
      success: function (data) {
        context
          .parents("tbody")
          .find("tr." + item)
          .remove();
        context.remove();
      },
      error: function (data) {
        console.log(data);
      },
    });
  });

  $(function () {
    if ($(".page-wrapper").hasClass("toggled")) {
      $(".clients-content").css("padding-left", "0px");
    } else {
      $(".clients-content").css("padding-left", "40px");
    }
    $(window).click(function () {
      if ($(".page-wrapper").hasClass("toggled")) {
        $(".clients-content").css("padding-left", "0px");
      } else {
        $(".clients-content").css("padding-left", "40px");
      }
    });

    $(".delete_document").click(function () {
      var id = $(this).attr("document_id");
      var that = $(this);

      $.ajax({
        headers: {
          "X-CSRFToken": getCookie("csrftoken"),
        },
        type: "DELETE",
        url: "/api/case/document/delete/" + id,
        success: function (data) {
          that.parents("div.file_container").remove();
          console.log(data);
        },
        error: function (data) {
          console.log(data);
        },
      });
    });
  });
  $(function () {
    $(".case_name").keyup(function () {
      $(this).parent().children("button").css({
        visibility: "visible",
        opacity: 1,
      });
    });
  });
  $("#add_work_btn").click(function () {
    let work_name = $("#work_name_input").val();
    let work_status = $("#work_status").val();
    if (work_name == "" && !work_status == "") {
      return;
    } else {
      $("#add_work_btn").attr("data-dismiss", "modal");
      // $("#add_work_btn").click();
      if (work_status == "Uğurlu") {
        $("#work_table_body").append(
          "<tr>" +
            "<td>" +
            work_name +
            "</td>" +
            "<td class='p-0 table-dropdown'>" +
            "<select class='form-control select_status'>" +
            "<option value='success'>" +
            "Uğurlu" +
            "</option>" +
            "<option value='danger'>Bağlı</option>" +
            "<option value='info'>Davam edir</option></select>" +
            "<td>Yeni sənəd</td>" +
            "<td>Yeni sənəd</td>" +
            "</td></tr>"
        );
      } else if (work_status == "Bağlı") {
        $("#work_table_body").append(
          "<tr>" +
            "<td>" +
            work_name +
            "</td>" +
            "<td class='p-0 table-dropdown'>" +
            "<select class='form-control select_status'>" +
            "<option value='danger'>Bağlı</option>" +
            "<option value='success'>" +
            "Uğurlu" +
            "</option>" +
            "<option value='info'>Davam edir</option></select>" +
            "<td>Yeni sənəd</td>" +
            "<td>Yeni sənəd</td>" +
            "</td></tr>"
        );
      } else {
        $("#work_table_body").append(
          "<tr>" +
            "<td>" +
            work_name +
            "</td>" +
            "<td class='p-0 table-dropdown'>" +
            "<select class='form-control select_status'>" +
            "<option value='info'>Davam edir</option>" +
            "<option value='success'>Uğurlu</option>" +
            "<option value='danger'>Bağlı</option></select>" +
            "<td>Yeni sənəd</td>" +
            "<td>Yeni sənəd</td>" +
            "</td></tr>"
        );
      }
      $.ajax({
        headers: {
          "X-CSRFToken": getCookie("csrftoken"),
        },
        type: "POST",
        url: "/api/case/create/{{client_id}}",
        data: {
          name: $("#work_name_input").val(),
          status: $("#work_status").val(),
        },
        success: function (data) {
          console.log(data);
        },
        error: function (data) {
          console.log(data);
        },
      });
      $("#work_name_input").val("");
      $("#work_status").val("success");
    }
  });
  // Client new work adding end

  $(".hidden_save_btn").on("click", function () {
    var self = $(this);
    var case_id = self.attr("case_id");
    parent = self.parent();
    console.log(parent.children("input").val());
    console.log(case_id);
    $.ajax({
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
      },
      data: {
        name: parent.children("input").val(),
      },
      type: "PUT",
      url: "/api/case/update/" + case_id,
      success: function (data) {
        console.log(data);
        self.css({
          visibility: "hidden",
        });
      },
      error: function (data) {
        console.log(data);
      },
    });
  });
  $("#note_form").on("submit", function () {
    text = $("#note_form").find("input").val();
    console.log(text);
    $.ajax({
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
      },
      data: {
        text: text,
        client: "{{client_id}}",
      },
      type: "POST",
      url: "/api/case/note/create/",
      success: function (data) {
        $(".note_list_main").prepend(
          "<li class='list-group-item p-0' ><input type='text' class='form-control form-control-sm border-0' value= '" +
            $("#note_form #value_inner").val() +
            "'/><div class='p-2 pt-0 d-flex align-items-center justify-content-between'>" +
            "<small>02.02.2020</small>" +
            "&nbsp;&nbsp;&nbsp;" +
            '<button class="btn btn-danger btn-sm">Sil</button>' +
            "</div></li>"
        );
        $("#note_form").find("input#value_inner").val("");
        console.log(data);
      },
      error: function (data) {
        console.log(data);
      },
    });
  });

  $(".note_delete_btn").on('click',function(){
    let current_item = $(this)
    $.ajax({

      headers:{
        "X-CSRFToken":getCookie('csrftoken')
      },
      url:"/api/case/note/"+$(this).attr('note_id'),
      type:"DELETE",
      success:function(data){
        console.log(data)
        current_item.parents("div.list-group-item").remove()
      },
      error:function(data){
        console.log(data)
      }




    })

  })
  $(".change_button").on('click',function(){
    text = $(this).parent().children('input').val()
    console.log(text)
    client = "{{client_id}}"
    $.ajax({
      headers:{
        "X-CSRFToken":getCookie('csrftoken')
      },
      url:"/api/case/note/"+$(this).attr('note_id'),
      type:"PUT",
      data:{
  
        'client':client,
      },
      success:function(data){
        console.log(data)

      },
      error:function(data){
        console.log(data)
      }



    })

    



  })


</script>

{% endblock scripts %}
