{% extends 'barrister/barrister-base.html' %}
{% load static %}


{% block title %}
<title>Musteriler</title>
{% endblock title %}

{% block links %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/style2.css' %}">
<link rel="stylesheet" href="{% static 'css/clients.css' %}">

<style>
  .table td, .table th {
    vertical-align: inherit;
  }
  i {
    font-size: 1rem;
    cursor: pointer;
  }
  
</style>
{% endblock links %}


{% block content %}
<main class="page-content design " style="background-color: #fff;">
  <!-- https://codepen.io/themustafaomar/pen/jLMPKm -->
  <div class="container-fluid clients-content">
    <div class="row mr-0 mt-3">
      <div class="col-12">
        <h1 class="lead">Müştəri haqqında</h1>
      </div>
      <div class="col-12">
        
            <div class="w-100 client_expanding_information">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Qeydlər</a>
                </li>
               
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Son Görüşlər</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="works-tab" data-toggle="tab" href="#works" role="tab" aria-controls="works" aria-selected="false">İşlər</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane py-2 fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="form-group my-2">
                    <p>Qeyd yoxdur</p>
                    <input type="text" class="form-control" placeholder="Qeyd əlavə et">
                    <button class="btn btn-light btn-block save_btn_clients my-1">Save</button>
                  </div>
                </div>
               
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="nearest-reservations my-2">
                    
                    <span class="bold-text mb-1 text-muted">Bazar ertəsi, 14.09.2020</span>
                    <br>
                    <div class="my-2">
                      <div class="float-left mr-4 my-1 hours_main">
                        <span>08:00</span>
                        <br>
                        <span class="differ-time mb-2">09:00</span>
                      </div>
                      <div class="float-left my-1 names-main">
                        <span>Asim Babayev</span>
                        <br>
                        <span class="differ-time mb-2">7.9.2020, 17:05 , Calendar by Barrister</span>
                      </div>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <div class="nearest-reservations my-2">
                    
                    <span class="bold-text mb-1 text-muted">Bazar ertəsi, 14.09.2020</span>
                    <br>
                    <div class="my-2">
                      <div class="float-left mr-4 my-1 hours_main">
                        <span>08:00</span>
                        <br>
                        <span class="differ-time mb-2">09:00</span>
                      </div>
                      <div class="float-left my-1 names-main">
                        <span>Asim Babayev</span>
                        <br>
                        <span class="differ-time mb-2">7.9.2020, 17:05 , Calendar by Barrister</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" role="tabpanel" id="works" aria-labelledby="works">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <td>
                            <input placeholder="Axtar" type="text" class="form-control form-control-sm">
                          </td>
                          <td colspan="2">
                            <button class="btn btn-block btn-sm btn-success" data-toggle="modal" data-target="#add_new_work">Yeni iş əlavə et</button>
                          </td>
                        </tr>
                        <tr>
                          <th>İşin adı</th>
                          <th>İşin Statusu</th>
                          
                        </tr>
                      </thead>
                      <tbody id="work_table_body">
                        
                        {% for case in cases %}
                        <tr>
                          <td>
                            {{case.name}}
                          </td>
                          <td class="table-dropdown py-0">
                            <select class="form-control select_status" id="select_status">
                              <option  value="success" selected>{{case.status}}</option>
                              <!-- <option value="warning">Warning</option>
                              <option value="danger">Danger</option>
                              <option value="dark">Dark</option>
                              <option value="secondary">Secondary</option>
                              <option value="primary">Primary</option> -->
                            </select>
                          </td>
                          
                        </tr>
                        <tr>
                          <td colspan="2">
                            <div class="row p-0 m-0">
                              {% if  case.document %}
                              
                              {% for document in case.document.all %}
                  
                                <div class="col-12">
                                  <h2 class="lead work-name">Test</h1>
                                </div>
                                <div class="col-md-3 mb-3">
                                  <div class="file_main">
                                    <p class="blockquote-footer file_name">{{ document.name }}</p>
                                    <button class="file_preview btn" show_url = "{{ document.url }}" data-toggle="modal" data-target="#preview_file_modal"><i class="fas fa-eye"></i></button>
                                    <a href="{{ document.download_url }}"><button class="file_download btn"><i class="fas fa-download"></i></button></a>
                                  </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="col-12">
                                  <div class="alert alert-warning">Sənəd yoxdur</div>
                                </div>
                                {% endif %}
                            </div>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          
      </div>
    </div>
    <div class='row mt-3 mr-0'>
    <div class="col-12">
        <h1 class="lead">Sənədlər</h1>
        <hr>
    </div>
    
  </div>
  
</main>

<!-- File preview modal begin -->
<div class="modal fade" id="preview_file_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <iframe src="/Viewerjs/#http://127.0.0.1:8000/clients/document/media/case-documents/senedler-ucun-test.docx" frameborder="0" class="file_preview_iframe"></iframe>
      </div>
      <div class="modal-footer m-0">
        <button type="button" class="btn modal_dismiss_btn" data-dismiss="modal">Close</button>
        <button type="button" class="btn modal_download_btn">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="add_new_work" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Yeni iş əlavə et</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="dialog" >
        <div class="modal-body">
        <div class="form-group">
          <label for="">İşin adı</label>
          <input type="text" class="form-control" id="work_name_input" placeholder="İşin adı" required>
        </div>
        <div class="form-group">
          <label for="">İşin statusu</label>
          <select type="text" class="form-control" id="work_status" placeholder="İşin status">
            <option value="success">Aktiv</option>
            <option value="danger">Qeyri-aktiv</option>
          </select>
        </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn modal_download_btn" id="add_work_btn" >Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- File preview modal end   -->


{% endblock content %}


{% block scripts %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/lib/moment.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/lib/jquery.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/fullcalendar.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/locale/az.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
  $(function() {
    if($(".page-wrapper").hasClass("toggled")) {
        $(".clients-content").css("padding-left",'0px')
      }else {
        $(".clients-content").css("padding-left",'40px')
      }
    $(window).click(function() {
      if($(".page-wrapper").hasClass("toggled")) {
        $(".clients-content").css("padding-left",'0px')
      }else {
        $(".clients-content").css("padding-left",'40px')
      }
    })
  })
</script>
{% endblock scripts %}