{% extends 'barrister/barrister-base.html' %} {% load static %} {% load client_tags %} {% block title %}
<title>Musteriler</title>
{% endblock title %} {% block links %} {{ block.super }}
<link rel="stylesheet" href="{% static 'css/style2.css' %}" />

{% endblock links %} {% block content %}
<main class="page-content design" style="background-color: #fff">
  

  <!-- https://codepen.io/themustafaomar/pen/jLMPKm -->
  <div class="container-fluid clients-content">
    <div class="row p-2 m-0">
      <div class="main-content">
        <div class="col-md-6 float-left">
          <input type="file" class="form-control-file" id="file_input">
        </div>
        <div class="col-md-6 float-left">
          <button class="btn btn-dark" id="test_button">Təsdiq et</button>
        </div>
        <iframe src="https://javascript.info/ifelse" frameborder="0" class="document-iframe mt-2"  >

        </iframe>
      </div>
    </div>
  </div>
</main>



<!-- File preview modal end   -->

{% endblock content %} {% block scripts %}

<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/lib/moment.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/lib/jquery.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/fullcalendar.min.js' %}"></script>
<script src="{% static 'vendor/fullcalendar-3.10.0/locale/az.js' %}"></script>
<script src="{% static 'js/fullcalendar.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

<script>
  $(function() {
      if($(".page_wrapper").hasClass('toggled')) {
        $(".clients-content").css("padding-left", "0px");
      } else {
        $(".clients-content").css("padding-left", "40px");
      }

      $(window).click(function() {
        if ($(".page-wrapper").hasClass("toggled")) {
        $(".clients-content").css("padding-left", "0px");
        } else {
        $(".clients-content").css("padding-left", "40px");
        }
      })
  })
  $('#test_button').on('click',function(){
    var form = new FormData();
    form.append("apikey", "95227d94038e01ebe6a84f2016d73bc3");
    form.append("editor_settings", "{ \"unit\": \"in\", \"language\": \"ru\", \"view\": \"pageview\" }");
    form.append("permissions", "{ \"document.export\": true, \"document.print\": true, \"document.edit\": true, \"review.changes.resolve\": false, \"review.comment\": true, \"collab.chat\": true }");
    form.append("callback_settings", "{\"save_format\":\"docx\",\"save_url\":\"https://domain.com/save.php\",\"context_info\":\"User or Doc Info\"}");
    form.append("document_info", "{\"document_name\":\"\",\"document_id\":\"750912\"}");
    form.append("user_info", "{ \"user_id\": \"100\", \"display_name\": \"Azad\" }");
    form.append("document_defaults", "{ \"orientation\": \"portrait\", \"paper_size\": \"Letter\", \"font_name\": \"Lato\", \"font_size\": 12, \"track_changes\": \"disabled\" }");
    form.append("document", $('#file_input').get(0).files[0]);


  var settings = {
  "url": "https://api.office-integrator.com/writer/officeapi/v1/document",
  "method": "POST",
  "timeout": 0,
  "processData": false,
  "mimeType": "multipart/form-data",
  "contentType": false,
  "data": form
    };

  $.ajax(settings).done(function (response) {
    console.log(response);
  });


  })

  
</script>

{% endblock scripts %}
